<div class="user-p-left-052017">

    <div class="user-p-left-h-052017">
        <!-- user profile header section -->
        <section class="user-p-h-s-052017">
            <ul>
                <li class="profile-id-052017">
                    ID : 0cf96291-3253-44ea-80d0-85baa10b95be
                </li>
                <li class="pull-right right-btn-052017">
                    <button type="button"
                            class="btn btn-create-052017"
                            tooltip-trigger="'focus'"
                            tooltip-placement="top"
                            uib-tooltip="create new ticket">
                        CREATE TICKET
                    </button>
                </li>
            </ul>
        </section>
    </div>

    <!-- left user profile detail basic -->
    <section class="user-p-d-052017">
        <div class="user-p-image-052017">
            <img src="assets/img/avatar/coreyweb.jpg" width="80">
        </div>
        <div class="user-p-d-text-052017">
            <ul>
                <li class="tags">VIP</li>
                <li class="full-name">Mr.Anthony Alexander</li>
                <li class="l-update">Last update : 01/03/2017</li>
                <li class="p-no">Phone No : +18705056540</li>
                <li class="btn">
                    <button type="button"
                            class="btn btn-search-052017">
                        <i class="fa fa-search"></i>
                        SEARCH
                    </button>
                </li>
            </ul>
        </div>

    </section>


    <!-- user profile recent activity -->
    <section class="user-p-r-a-052017">
        <div class="header-052017">
            RECENT ACTIVITY
        </div>

        <!-- user profile recent activity time line -->
        <div class="user-p-tl-wrapper-052017">
            <ul class="user-p-timeline-052017 left">
                <li>
                    <div class="r-timeline-052017-badge left">
                        <img src="assets/img/avatar/mko.jpg"
                             width="22"/>
                    </div>

                    <section class="user-p-r-timeline-panel-052017">
                        <div class="left-t-l-wrapper-052017">
                            <div class="small-t-l-header-052017">
                                <ul>
                                    <li class="date-052017">
                                        18/03/2017 |
                                    </li>
                                    <li class="close-052017">
                                        CLOSED
                                    </li>
                                </ul>
                            </div>
                            <div class="small-t-l-body-052017">
                                Lorem Ipsum is simply dummy text of the printing…
                            </div>
                            <div class="small-t-l-footer">
                                <ul>
                                    <li class="ticket-id-h">ticket id :</li>
                                    <li class="ticket-id">Test_tickets_Duosoftware_00000001-40391</li>
                                </ul>

                            </div>
                        </div>
                    </section>
                </li>

                <li>
                    <div class="r-timeline-052017-badge left">
                        <img src="assets/img/avatar/oykun.jpg"
                             width="22"/>
                    </div>

                    <section class="user-p-r-timeline-panel-052017">
                        <div class="left-t-l-wrapper-052017">
                            <div class="small-t-l-header-052017">
                                <ul>
                                    <li class="date">
                                        25/03/2017 |
                                    </li>
                                    <li class="user-052017">
                                        JONE
                                    </li>
                                </ul>
                            </div>

                            <div class="small-t-l-body-052017">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            </div>
                        </div>
                    </section>
                </li>

            </ul>
        </div>
    </section>

    <!-- user profile location -->
    <section class="user-p-location-052017">
        <div class="header-052017 inline-h">
            <ul>
                <li class="pull-left">
                    LOCATION
                </li>
                <li class="pull-right">
                    <div class="header-r-icon-052017 ">
                        <i class="fa fa-pencil"></i>
                    </div>
                </li>
            </ul>
        </div>

        <!-- location name -->
        <div class="user-p-location-d-052017">
            <ul class="customer-style-ul">
                <li class="location-pin-052017"><i class="ti-location-pin"></i></li>
                <li class="location-name-052017">71 Pilgrim Avenue ,Chevy Chase, MD 20815</li>
            </ul>
        </div>

        <!-- location map -->
        <div class="user-p-l-map-052017">
            <div class="map-canvas">
                <iframe
                        width="600"
                        height="450"
                        frameborder="0" style="border:0"
                        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyClN46_HJnXR5x7acMT70AkLLLi87Ni9I4
    &q=Space+Needle,Seattle+WA" allowfullscreen>
                </iframe>
            </div>
        </div>


    </section>

    <!-- user profile note -->
    <section class=" user-p-note-052017">
        <div class="header-052017 inline-h">
            <ul>
                <li class="pull-left">
                    NOTES
                </li>
                <li class="pull-right">
                    <div class="header-r-icon-052017 ">
                        <i class="fa fa-plus"></i>
                    </div>
                </li>
            </ul>
        </div>

        <div class="user-p-tl-wrapper-052017">
            <ul class="user-p-timeline-052017 left">
                <li>
                    <div class="r-timeline-052017-badge left">
                        <img src="assets/img/avatar/robertoortiz.jpg"
                             width="22"/>
                    </div>

                    <section class="user-p-r-timeline-panel-052017">
                        <div class="left-t-l-wrapper-052017">
                            <div class="small-t-l-header-052017">
                                <ul>
                                    <li class="date-052017">
                                        18/03/2017 |
                                    </li>
                                    <li class="user-052017">
                                        CK.L
                                    </li>
                                </ul>
                            </div>
                            <div class="small-t-l-body-052017">
                                Lorem Ipsum is simply dummy text of the printing…
                            </div>
                        </div>
                    </section>
                </li>

                <li>
                    <div class="r-timeline-052017-badge left">
                        <img src="assets/img/avatar/oykun.jpg"
                             width="22"/>
                    </div>

                    <section class="user-p-r-timeline-panel-052017">
                        <div class="left-t-l-wrapper-052017">
                            <div class="small-t-l-header-052017">
                                <ul>
                                    <li class="date">
                                        25/03/2017 |
                                    </li>
                                    <li class="user-052017">
                                        JONE
                                    </li>
                                </ul>
                            </div>

                            <div class="small-t-l-body-052017">
                                Lorem Ipsum is simply dummy text of the printing and typesetting
                                industry.
                            </div>
                        </div>
                    </section>
                </li>

            </ul>
        </div>
    </section>
</div>