<!-- add new sub ticket -->

<script type="text/ng-template" id="customTemplate.html">
    <a>
        <img class="assignee-icon" src="assets/img/avatar/defaultProfile.png" ng-src="{{match.model.avatar}}">
        <span ng-bind-html="match.label | uibTypeaheadHighlight:query"></span>
    </a>
</script>

<div ng-show="showSubCreateTicket" style="position: fixed; z-index: 51; left: 0px; top: 0px; width: 100%">
    <div class="position-relative">
        <div id="addNewTicket" class="animated fixed-model-opacity">
            <div class="container">
                <div class="new-subticket col-lg-offset-2 col-lg-8 col-md-8 col-xs-8 ">
                    <div class="model-main-wrapper ">
                        <!-- MODEL HEADER -->
                        <div class="model-header" style="margin-bottom: 0">
                            <div class="col-md-6">
                                <div class="mode-left-icon">
                                    <i class="veery-font-1-notepad"></i>
                                </div>
                                <div class="model-header-text">
                                    Add New Sub Ticket
                                </div>
                            </div>

                            <div class="col-md-6 col-sm-6 ">
                                <div class="model-btn-wrapper" style="padding-top:0;">
                                    <div class="btn-warp ">
                                <span class="btn btn-template-secondary btn-circle"
                                      ng-click="clickAddNewTicket('#addNewTicket','display-none')"
                                      id="closeTicket">
                                    <i class="fa fa-times"></i>
                                </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END MODEL HEADER -->

                        <!-- MODEL HEADER -->
                        <div class="model-body" style="height: 385px;overflow-y: scroll;width:  100%;padding: 10px">
                            <form>
                                <div class="form-group">
                                    <label for="ticketSubject">Subject</label>
                                    <input ng-model="newSubTicket.subject" type="text" class="form-control"
                                           id="ticketSubject" placeholder="" required="true">
                                </div>

                                <div class="form-group">

                                    <div class="row">
                                        <div class="col-xs-7 nopadding">
                                            <label for="ticketSubject">Priority</label>
                                            <div class="form-inline" >
                                                <div class="bg-checkbox red inline-btn"
                                                     ng-class="{'selected-this':newSubTicket.priority=='urgent'}"
                                                     ng-click="setPriority('urgent');">
                                                    urgent
                                                </div>
                                                <div class="bg-checkbox orange"
                                                     ng-class="{'selected-this':newSubTicket.priority=='high'}"
                                                     ng-click="setPriority('high');">
                                                    high
                                                </div>
                                                <div class="bg-checkbox teal600"
                                                     ng-class="{'selected-this':newSubTicket.priority=='normal'}"
                                                     ng-click="setPriority('normal');">
                                                    normal
                                                </div>
                                                <div class="bg-checkbox gray300"
                                                     ng-class="{'selected-this':newSubTicket.priority=='low'}"
                                                     ng-click="setPriority('low');">
                                                    low
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-5 nopadding">
                                            <div class="form-group">
                                                <label for="ticketSubject">Type</label>
                                                <select class="form-control" ng-model="newSubTicket.type" required="true">
                                                    <option ng-repeat="tType in availableTicketTypes" value="{{tType}}">
                                                        {{tType}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>

                                    </div>

                                </div>

                                <div class="form-group">
                                    <label for="ticketSubject">Tags</label>
                                    <button ng-click="loadTags();">
                                        Reload
                                    </button>
                                    <tags-input ng-model="postTags" display-property="name" placeholder="...">
                                        <auto-complete source="loadPostTags($query)"></auto-complete>
                                    </tags-input>

                                    <tags-input ng-model="newAddTags" placeholder="choose Tags"
                                                replace-spaces-with-dashes="false"
                                                display-property="name"
                                                add-from-autocomplete-only="true"
                                                on-tag-added="onChipAddTag($tag)"
                                                on-tag-removed="onChipDeleteTag($tag)"
                                                ng-disabled="" min-length="1">
                                        <auto-complete source="queryTagSearch($query)"
                                                       load-on-empty="true"
                                                       load-on-focus="true"
                                                       min-length="1"></auto-complete>
                                    </tags-input>
                                </div>


                                <!-- <div class="form-group">
                                     <label for="ticketSubject">Tags</label>
                                     <tags-input ng-model="newAddTags" placeholder="choose Tags" replace-spaces-with-dashes="false"
                                                 display-property="name"
                                                 add-from-autocomplete-only="true"
                                                 on-tag-added="onChipAddTag($tag)"
                                                 on-tag-removed="onChipDeleteTag($tag)"
                                                 ng-disabled="" min-length="1">
                                         <auto-complete source="queryTagSearch($query)"
                                                        load-on-empty="true"
                                                        load-on-focus="true"
                                                        min-length="1"></auto-complete>
                                     </tags-input>
                                 </div>-->
                                <div class="form-group">
                                    <label for="ticketSubject">Description</label>
                                    <textarea ng-model="newSubTicket.description" class="form-control"
                                              rows="3"></textarea>
                                </div>
                                <div class="form-group">
                                    <label>Assignee user</label>

                                    <!--<input type="text" ng-model="newSubTicket.assignee" uib-typeahead="assignee.displayname for assignee in assigneeUsers | filter:$Value | limitTo:8" class="form-control">-->


                                    <div class="scrollable-dropdown-menu">
                                        <input type="text" ng-model="newSubTicket.assignee"  uib-typeahead="assignee as assignee.displayname for assignee in assigneeUserData | filter:{displayname:$viewValue}"  class="form-control" typeahead-show-hint="true" typeahead-min-length="0" typeahead-template-url="customTemplate.html">
                                    </div>





                                    <!--<input list="comicstitle" type="text" class="form-control" ng-model="newSubTicket.assignee">
                                    <datalist id="comicstitle" ng-model-options="{trackBy: '$value'}">
                                        <option  data-ng-repeat="assignee in assigneeUsers" data-value="{{assignee.displayname}}" value="{{assignee}} ">

                                        </option>
                                    </datalist>-->

                                    <!--<angucomplete-alt id="ex1"
                                                      placeholder="Select assignee"
                                                      pause="100"
                                                      selected-object=newSubTicket.assignee
                                                      local-data=assigneeUsers
                                                      search-fields=displayname
                                                      title-field=displayname
                                                      minlength="1"
                                                      input-class="form-control form-control-small"/>-->


                                    <!--<select class="form-control" ng-model="newSubTicket.assignee"
                                            ng-model-options="{trackBy: '$value'}">
                                        <optgroup label="Users"></optgroup>
                                        <option ng-repeat="assignee in assigneeUsers" value='{{assignee}}'>
                                            - {{assignee.displayname}}
                                        </option>
                                        <optgroup label="User Groups"></optgroup>
                                        <option ng-repeat="group in assigneeGroups" value='{{group}}'>
                                            - {{group.name}}
                                        </option>
                                    </select>
-->



                                    <!--<label for="ticketSubject">Security Level</label>
                                    <select class="form-control" ng-model="newSubTicket.security_level">
                                        <option ng-repeat="level in secLevels" value="{{level}}">
                                            {{level}}
                                        </option>
                                    </select>-->

                                </div>


                            </form>
                        </div>
                        <!-- END MODEL HEADER -->
                        <div class="model-footer-wrapper">
                            <div class="model-btn-wrapper">
                                <div class="btn-warp ">
                                <span class="btn btn-default"
                                      ng-click="saveSubTicket();">Save</span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>