
<div ng-show="isOpenPlayer">
    <div class="position-relative">
        <div id="videoelement" class="">
                <div class="player-operation-wrapper">

                        <videogular vg-theme="config.theme.url" vg-auto-play="true">
                            <vg-media vg-src="config.sources"
                                      vg-native-controls="true">
                            </vg-media>
                        </videogular>


                </div>

        </div>
    </div>
</div>






