<div class="agent-dashboard-wrapper animated fadeIn" ng-controller="agentDashboardCtrl">
    <div class="container">

        <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
            <div class="dashboard-wrapper">
                <div id="dashboard-opacity"></div>


                <div class="btn-warp dashboard-ref pull-right">
                    <div id="dashboardReload" class="btn-dash-ref" ng-click="dashboardReload()">
                        <i class="ti-reload"></i>
                    </div>
                </div>

                <div class="row">
                    <!-- TICKET ANR CLOASE -->
                    <div class="dark-ticker-wrapper">
                        <div class="col-lg-5">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="dark-ticker-wrap incoming ">
                                        <h1 class="bold">{{productivity.IncomingCallCount}}</h1>
                                        <div class="title Staffed text-uppercase">Answered Calls</div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="dark-ticker-wrap misscall">
                                        <h1 class="bold">{{productivity.MissCallCount}}</h1>
                                        <div class="title onCall text-uppercase">Missed Call</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="dark-ticker-wrap new-ticket new-ticket-widget">
                                        <h1 class="bold">{{newTicketCount}}</h1>
                                        <div class="title ">New Tickets</div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="dark-ticker-wrap close-ticket close-ticket-widget">
                                        <h1 class="bold">{{closeTicketCount}}</h1>
                                        <div class="title">Closed Tickets</div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="dark-ticker-wrap close-ticket pending-ticket-widget">
                                        <h1 class="bold">{{ProgressTicketCount}}</h1>
                                        <div class="title">Progress Tickets</div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>


                </div>

                <!--  PRODUCTIVITY -->
                <div class="row">
                   
                    <div class="col-lg-4">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="dark-pro-chart-wrap">
                                    <div class="col-lg-12">
                                        <h5 class="dark-header ">Productivity - Hour </h5>
                                    </div>
                                    <canvas id="doughnutChart" width="250" height="250"></canvas>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-4 p-0">
                                    <div class="dark-product-ticker-wrap">
                                        <h1 class="Staffed bold">{{productivity.StaffedTime| date:'HH:mm:ss'}}</h1>
                                        <div class="title Staffed text-uppercase">Staffed Time</div>
                                    </div>
                                </div>
                                <div class="col-lg-4 p-0">
                                    <div class="dark-product-ticker-wrap">
                                        <h1 class="onCall bold">{{productivity.OnCallTime| date:'HH:mm:ss'}}</h1>
                                        <div class="title onCall text-uppercase">On Call Time</div>
                                    </div>
                                </div>

                                <div class="col-lg-4 p-0">
                                    <div class="dark-product-ticker-wrap">
                                        <h1 class="break-time bold">{{productivity.BreakTime| date:'HH:mm:ss'}}</h1>
                                        <div class="title break-time text-uppercase">Break Time</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="col-lg-12">
                            <div class="dark-chart-wrapper">
                                <div class="col-lg-12">
                                    <h5 class="dark-header text-uppercase ">New vs Closed</h5>
                                </div>
                                <canvas style="position: relative;display: inherit;"
                                        id="openclosecanvas" width="436px"
                                        height="200px"></canvas>

                                <div class="col-lg-12 agent-ticket-chart-wrapper">
                                    <canvas id="deferencecanvas" style="display: inherit;" width="436px"
                                            height="100px"></canvas>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- END -->


                <!-- CALL STATUS -->
                <div class="col-lg-12">
                    <div class="dark-call-status">
                        <div class="col-lg-12">
                            <h5 class="dark-header">CALL STATUS</h5>
                        </div>
                        <div class="col-lg-2" ng-repeat="queue in queueDetails">
                            <div class="dark-call-status-wrap">
                                <div class="header text-center">
                                    {{queue.QueueName}}
                                </div>
                                <div class="dark-footer">
                                    <div class="col-lg-6">
                                        <div class="dark-footer-wrap">
                                            <h5 class="count"> {{queue.QueueInfo.CurrentWaiting}}</h5>
                                            <div class="title">
                                                current waiting
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="dark-footer-wrap">
                                            <!--{{que.CurrentMaxWaitTime| secondsToDateTime | date:'HH:mm:ss'}}<-->
                                            <h5 class="count"> {{queue.QueueInfo.MaxWaitTime}}</h5>
                                            <div class="title">
                                                max wait
                                                time
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Recent activity -->
                <div class="col-lg-12">
                    <div class="dark-recent-wrapper">
                        <div class="col-lg-6">
                            <h5 class="dark-header">RECENT ACTIVITY - TICKET</h5>
                            <div class="dark-recent-wrap">
                                <div class="recent-activity"
                                     ng-repeat="ticket in recentTickets.tickets  | orderBy:'-updated_at'">
                                    <div class="col-lg-8">
                                        <div class="pull-left recent-activity-left">
                                            {{ ticket.description | limitTo: 60 }}{{ticket.description.length > 60 ?
                                            '...' : ''}}
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="pull-right">
                                            <div class="dark-footer-wrap recent-activity-right">
                                                <h5 class="count" style="cursor: pointer"
                                                    ng-click="viewTicket(ticket);">
                                                    {{ticket.reference}}</h5>
                                                <h5 class="count "> {{ticket.status}}</h5>
                                                <div class="title">
                                                    <time-ago from-time='{{ ticket.updated_at }}'
                                                              format='MM/dd/yyyy'></time-ago>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <h5 class="dark-header">RECENT ACTIVITY - ENGAGEMENT</h5>
                            <div class="recent-activity"
                                 ng-repeat="eng in recentEngagements | orderBy:'-updated_at'">
                                <div class="col-lg-8">
                                    <div class="pull-left recent-activity-left">
                                        {{eng.channel}}
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="pull-right">
                                        <div class="dark-footer-wrap recent-activity-right">
                                            <h5 class="count "> {{eng.direction}}</h5>
                                            <h5 class="count "> {{eng.channel_from}}</h5>
                                            <div class="title">
                                                <time-ago from-time='{{ eng.updated_at }}'
                                                          format='MM/dd/yyyy'></time-ago>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>