<div class="agent-dashboard-wrapper d-main-wrapper05201"
     ng-controller="agentDashboardCtrl">
    <!-- dashboard productivity wrapper -->

    <div class="d-header-wrp
            d-h-r-icon
            text-right
            float-right d-refresh-btn"
         ng-if="!isLoadinDashboard"
         ng-click="dashboardReload();">
        Refresh
    </div>
    <section class="d-widget-main-wrp">
        <header class="widget-main-header">
            <div class="d-header-wrp">
                <h3>
                    Productivity
                </h3>
            </div>

            <div class="d-header-wrp d-h-r-icon"
                 ng-click="isNavProductivity = !isNavProductivity">
                <i ng-if="!isNavProductivity" class="ti-arrow-circle-up"></i>
                <i ng-if="isNavProductivity" class="ti-arrow-circle-down"></i>
            </div>


        </header>

        <!-- call summary dsh productivity wrapper -->
        <div class="row" uib-collapse="isNavProductivity">
            <!-- ./ call summary -->
            <div class="col-sm-4 col-md-4 col-xs-12" ng-class="{'col-lg-4': dashboardWidth > 900 , 'col-lg-6': dashboardWidth < 900 }">
                <section class="d-widget-w d-call-summary">
                    <div class="d-call-s-wrap05201">
                        <div class="row">
                            <!-- on call time -->
                            <div class="col-lg-6">
                                <div class="d-call-count-w">
                                    <div class="d-c-count animated slideInDown">
                                        {{productivity.InboundCallTime| date:'HH:mm:ss'}}
                                    </div>
                                    <div class="d-c-name">
                                        On Call Time
                                    </div>
                                    <div class="d-c-type inbound">
                                        inbound
                                    </div>
                                </div>
                            </div>

                            <!-- Time - outbound-->
                            <div class="col-lg-6">
                                <div class="d-call-count-w">
                                    <div class="d-c-count animated slideInDown">
                                        {{productivity.OutboundTime| date:'HH:mm:ss'}}
                                    </div>
                                    <div class="d-c-name">
                                        On Mode Time
                                    </div>
                                    <div class="d-c-type outbound">
                                        outbound
                                    </div>
                                </div>
                            </div>

                            <!-- Average talk time Inbound -->
                            <div class="col-lg-6">
                                <div class="d-call-count-w">
                                    <div class="d-c-count animated slideInDown">
                                        {{productivity.AvgTalkTimeInbound| date:'HH:mm:ss'}}
                                    </div>
                                    <div class="d-c-name">
                                        Avg Talk Time
                                    </div>
                                    <div class="d-c-type inbound">
                                        inbound
                                    </div>
                                </div>
                            </div>

                            <!-- Average talk time Outbound -->
                            <div class="col-lg-6">
                                <div class="d-call-count-w">
                                    <div class="d-c-count animated slideInDown">
                                        {{productivity.AvgTalkTimeOutbound| date:'HH:mm:ss'}}
                                    </div>
                                    <div class="d-c-name">
                                        Avg Talk Time
                                    </div>
                                    <div class="d-c-type outbound">
                                        outbound
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <!-- Staffed time -->
                            <div class="col-lg-6">
                                <div class="d-call-count-w">
                                    <div class="d-c-count animated slideInDown">
                                        {{productivity.StaffedTime| date:'HH:mm:ss'}}
                                    </div>
                                    <div class="d-c-name">
                                        Staffed Time
                                    </div>
                                </div>
                            </div>

                            <!-- break type -->
                            <div class="col-lg-6">
                                <div class="d-call-count-w">
                                    <div class="d-c-count animated slideInDown">
                                        {{productivity.BreakTime| date:'HH:mm:ss'}}
                                    </div>
                                    <div class="d-c-name">
                                        Break Time
                                    </div>
                                </div>
                            </div>

                            <!-- ACW time -->
                            <div class="col-lg-6">
                                <div class="d-call-count-w">
                                    <div class="d-c-count animated slideInDown">
                                        {{productivity.AcwTime| date:'HH:mm:ss'}}
                                    </div>
                                    <div class="d-c-name">
                                        ACW Time
                                    </div>
                                </div>
                            </div>

                            <!-- on call hold time -->
                            <div class="col-lg-6">
                                <div class="d-call-count-w">
                                    <div class="d-c-count animated slideInDown">
                                        {{productivity.HoldTime| date:'HH:mm:ss'}}
                                    </div>
                                    <div class="d-c-name">
                                        Hold Time
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- call performance -->
                    <div class="d-call-performance05201">
                        <header class="w-inside-h">
                            Summary
                        </header>

                        <div class="d-performance-wrapper">
                            <div class="col-lg-4 nopadding">
                                <div class="row">
                                    <div class="d-p-s-count d-w-boarder-left">
                                        <div class="d-p-s-value">
                                            {{agentPerformance.TotalRejectCount | number:0}}%
                                            <div class="d-performance-status up"
                                                 ng-class="isCheckPerfomance(agentPerformance.TotalRejectCount) ?'up':'down'">
                                                <i class="ti-arrow-up"></i>
                                                <i class="ti-arrow-down"></i>
                                            </div>
                                        </div>
                                        <div class="d-p-s-header">
                                            Rejected
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="col-lg-4 nopadding">
                                <div class="row">
                                    <div class="d-p-s-count d-w-boarder-left">
                                        <div class="d-p-s-value ">
                                            {{agentPerformance.OnCallTime | number:0}}%
                                            <div class="d-performance-status"
                                                 ng-class="isCheckPerfomance(agentPerformance.OnCallTime)?'up':'down'">
                                                <i class="ti-arrow-up"></i>
                                                <i class="ti-arrow-down "></i>
                                            </div>
                                        </div>
                                        <div class="d-p-s-header">
                                            On Call Time
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4">
                                <div class="row">
                                    <div class="d-p-s-count">
                                        <div class="d-p-s-value">
                                            {{agentPerformance.TotalAnswered | number:0}}%
                                            <div class="d-performance-status"
                                                 ng-class="isCheckPerfomance(agentPerformance.TotalAnswered) ?'up':'down'">
                                                <i class="ti-arrow-up"></i>
                                                <i class="ti-arrow-down"></i>
                                            </div>
                                        </div>
                                        <div class="d-p-s-header">
                                            Answered
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <!-- ./ productivity summary -->
            <div class="col-sm-5 col-md-5 col-xs-12" ng-class="{'col-lg-5': dashboardWidth > 900 , 'col-lg-6': dashboardWidth < 900 }">
                <section class="d-widget-w d-productivity-summary">
                    <div class="row d-p-wrapper">
                       <!-- <div class="col-lg-7" style="background: #fff"> -->
                            <div class="d-p-chart-wrp" style="margin: 0">
                                    <div class="widget-h text-center">
                                        Productivity - Hours
                                    </div>

                                    <div class="p-grph">
                                        <canvas class="chart chart-doughnut"
                                                width="230" height="230"
                                                chart-data="doughnutObj.data"
                                                chart-labels="doughnutObj.labels"
                                                chart-legend="true"
                                                chart-options="options">
                                        </canvas>
                                    </div>
                                </div>
<!--                        </div>-->
                        <div class="col-lg-5" style="padding: 20px">
                            <div class="d-productivity-s-right">
                                    <div class="d-productivity-s-wrp">
                                        <div class="d-p-inline-summary gray-row">
                                            <div class="d-left-header d-inbound ">
                                                inbound calls
                                            </div>
                                            <div class="d-right-value d-inbound">
                                                {{productivity.IncomingCallCount}}
                                            </div>
                                        </div>
                                        <div class="d-p-inline-summary white-row">
                                            <div class="d-left-header d-missed ">
                                                Missed Calls
                                            </div>
                                            <div class="d-right-value d-missed">
                                                {{productivity.MissCallCount}}
                                            </div>
                                        </div>
                                        <div class="d-p-inline-summary gray-row">
                                            <div class="d-left-header ">
                                                Outbound Calls
                                            </div>
                                            <div class="d-right-value">
                                                {{productivity.OutgoingCallCount}}
                                            </div>
                                        </div>
                                    </div>

                                </div>
                        </div>
                    </div>
                </section>
            </div>

            <!-- ./ note summary -->
            <div class="col-sm-3 col-md-3 col-xs-12" ng-class="{'col-lg-3': dashboardWidth > 900 , 'col-lg-6': dashboardWidth < 900 }">
                <section class="d-widget-w d-note-summary">
                    <div class="d-note-widget05201">
                        <!-- create new note -->
                        <div
                                ng-include="'app/views/dashboard/note/create-new-note.html'"></div>

                        <div class="widget-header-wrapper">
                            <div class="widget-h text-left float-left"
                                 style="padding-top: 6px;">
                                my note
                            </div>

                            <div class="float-right">
                                <ul class="customer-style-ul inline">
                                    <li>
                                        <div class="h-button active"
                                             ng-click="createNewNote('open')">
                                            Create New
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="widget-scr-body-note"
                             slimscroll="{height: '228px',
                        railVisible: true,
                        color: '#777',
                        size: '8px',
                        distance: '15px',
                        railColor: '#fff',
            railBorderRadius: 10}">
                            <div class="d-note-row-wrapper" ng-repeat="note in noteLists track by $index ">
                                <div class="col-lg-4 col-sm-4 col-md-4 col-xs-4">
                                    <div class="d-note-date-wrp">
                                        <div class="note-date-wrp">

                                            <div class="d-note-priority note-p05201 animated slideInLeft">
                                                <div class="note-type {{note.priority}}">
                                                </div>
                                            </div>

                                            <div class="note-d-h-1 d-note-1" ng-if="note.dueDate==true">
                                                {{note.due_at | date:'EEE'}} {{note.due_at | date:'dd'}}
                                            </div>
                                            <div class="note-d-h-3 d-note-1" ng-if="note.dueDate==true">
                                                {{note.due_at | date:'hh:mm a'}}
                                            </div>


                                            <!-- create due_at date -->
                                            <div class="create_due-at-wrp" ng-if="note.dueDate==false">
                                                <div class="icon-round active">
                                                    <i class="fa fa-calendar" tooltip-placement="top"></i>
                                                </div>

                                                <!--<div class="cre-due-text">-->
                                                <!--Create due date-->
                                                <!--</div>-->
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-lg-8 col-sm-8 col-md-8 col-xs-8">
                                    <div class="d-note-des-wrp">
                                        <div class="d-note-subject"
                                             ng-class="note.check==true?'active-text':'none'">
                                            {{note.title}}
                                        </div>
                                        <div class="d-note-body"
                                             ng-class="note.check==true?'active-text':'none'">
                                            {{note.note}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>
    <!-- ./ end productivity -->


    <!-- activity and real time -->
    <section class="d-widget-main-wrp">
        <header class="widget-main-header">
            <div class="d-header-wrp">
                <h3>
                   Activity and real time
                </h3>
            </div>

            <div class="d-header-wrp d-h-r-icon" ng-click="isNavRealTime = !isNavRealTime">
                <i ng-if="!isNavRealTime" class="ti-arrow-circle-up"></i>
                <i ng-if="isNavRealTime" class="ti-arrow-circle-down"></i>
            </div>
        </header>


        <div class="row" uib-collapse="isNavRealTime">
            <!-- queue status wrapper -->
            <div class="col-lg-4 col-xs-12">
                <section id="queue_details" class="d-widget-w d-note-summary">
                    <div class="d-note-widget05201">
                        <div class="widget-header-wrapper">
                            <div class="widget-h text-left float-left"
                                 style="padding-top: 7px;">
                                Queue STATUS
                            </div>

                            <div class="float-right">
                                <ul class="customer-style-ul inline">
                                    <li>
                                        <div class="h-button active"
                                             id="allQueue"
                                             ng-click="changeQueueView('all')">
                                            All Queues <span class="inline-count-pill" ng-class="{'count-on':totalQueued>0}">{{totalQueued}}</span>
                                        </div>

                                    </li>
                                    <li>
                                        <div class="h-button"
                                             id="myQueue"
                                             ng-click="changeQueueView('my')">
                                            My Queues <span class="inline-count-pill" ng-class="{'count-on':myTotalQueued>0}">{{myTotalQueued}}</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="widget-scr-body-call-s">
                        <!--<div style="padding: 10px;text-align: center;font-size: 14px;box-shadow: 0 0 5px 0px #00000045;position: relative;text-transform: uppercase">Total <b style="display: inline-block;padding: 0px 10px;background: #eee;color: #888;border-radius: 20px;margin-left: 10px">{{isMyQueue ? myTotalQueued : totalQueued}}</b></div>-->
                        <div class="widget-r-header" style="padding: 10px 0">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="w-t-header">
                                        Queue Name
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="w-t-header text-center">
                                        Current Waiting
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="w-t-header text-center">
                                        Max Wait Time
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div slimscroll="{height: '240px',
                        railVisible: true,
                        color: '#777',
                        size: '8px',
                        distance: '15px',
                        railColor: '#fff',
            railBorderRadius: 10}">
                            <div class="d-note-row-wrapper even-row nopadding"

                                 ng-repeat="(qkey, queue) in queueDetails "
                                 ng-show="!isMyQueue">

                                <queuedetails queue="queue" style="flex: 1"></queuedetails>
                            </div>
                            <div class="d-note-row-wrapper even-row nopadding"
                                 ng-repeat="queue in myQueueDetails" ng-show="isMyQueue">
                                <queuedetails queue="queue" style="flex: 1"></queuedetails>

                            </div>
                        </div>
                    </div>
                </section>
                <section id="queue_details_reload" class="d-widget-w d-note-summary display-none">
                    <div class="widget-h text-center">
                        Loading...
                    </div>
                </section>
            </div>

            <!-- agent activity wrapper -->
            <div class="col-lg-4">
                <section class="d-widget-w d-note-summary light-blue">
                    <div class="d-note-widget05201">
                        <div class="widget-header-wrapper">
                            <div class="widget-h text-left">
                                Activity
                            </div>
                        </div>
                    </div>

                    <div class="widget-scr-body-call-s">
                        <div class="user-p-tl-wrapper-052017">
                            <div class="activity-not-found"
                                 ng-if="agentActivitysObj.length==0">
                                <div class="activity-not-img">
                                    <img src="assets/img/activity_not-found.svg">
                                </div>
                                <div class="activity-not-ftext st11-animation">
                                    Activity not foundACTIVITY NOT FOUND
                                </div>
                            </div>
                            <ul ng-if="agentActivitysObj.length!=0"
                                class="user-p-timeline-052017 disable-timeline-agent-activity left"
                                slimscroll="{height: '320px',
                        railVisible: true,
                        color: '#777',
                        size: '8px',
                        distance: '15px',
                        railColor: '#fff',
            railBorderRadius: 10}">
                                <li class="agent-activity agent-activity-t-line"
                                    ng-repeat="activity in agentActivitysObj   | orderBy:activity.createdAt:true">
                                    <div class="r-timeline-052017-badge left r-timeline-052017-badge-activity">
                                    </div>
                                    <section class="user-p-r-timeline-panel-052017
                                     agent-panel">
                                        <div class="left-t-l-wrapper-052017 height0">
                                            <div class="small-t-l-header-052017">
                                                <ul>
                                                    <li class="date-052017">
                                                        {{activity.Reason}}
                                                    </li>

                                                    <li class="right-act-date">
                                                        {{activity.createdAt | date:'h:mm:ss a'}}
                                                    </li>
                                                </ul>
                                            </div>
                                            <!--<div class="small-t-l-body-052017">-->
                                            <!--{{activity.Reason}}-->
                                            <!--</div>-->
                                        </div>
                                    </section>
                                </li>
                            </ul>
                        </div>

                    </div>
                </section>
            </div>

            <!-- agent activity wrapper -->
            <div class="col-lg-4">
                <section class="d-widget-w d-note-summary gradient-green d-widget-w-340 ">
                    <div class="d-note-widget05201">
                        <div class="widget-header-wrapper">
                            <div class="widget-h text-left white-txt float-left" style="padding-top: 6px;">
                                Notice ({{NoticeListTemp.length}})
                            </div>

                        </div>

                        <div class="widget-scr-body-note">

                            <ul rn-carousel
                                rn-carousel-buffered="enable"
                                rn-carousel-controls-allow-loop="false"
                                rn-carousel-auto-slide="5"
                                class="notice-b-m-outer my-slider">
                                <li ng-repeat="notice in NoticeListTemp track by $index">
                                    <!-- attachment wrapper -->
                                    <div ng-show="notice.attachments.length!=0">
                                        <!-- is image -->
                                        <div ng-show="notice.type=='image'"
                                             ng-include="'app/views/dashboard/notice/image-view.html'"></div>
                                        <div ng-show="notice.type=='application'"
                                             ng-include="'app/views/dashboard/notice/application-view.html'"></div>
                                    </div>

                                    <!-- text file show -->
                                    <div ng-show="notice.attachments.length==0">
                                        <!-- is image -->
                                        <div ng-include="'app/views/dashboard/notice/text-view.html'"></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                </section>
            </div>
        </div>

    </section>
    <a href="" id="image-viewer" data-lightbox="image-1" data-title=""></a>


    <!-- dashboard ticket wrapper -->
    <section class="d-widget-main-wrp">
        <header class="widget-main-header">
            <div class="d-header-wrp">
                <h3>
                    Ticket Summary
                </h3>
            </div>

            <div class="d-header-wrp d-h-r-icon"
                 ng-click="isNavTicketSummary = !isNavTicketSummary">
                <i ng-if="!isNavTicketSummary" class="ti-arrow-circle-up"></i>
                <i ng-if="isNavTicketSummary" class="ti-arrow-circle-down"></i>
            </div>
        </header>

        <div class="row" uib-collapse="isNavTicketSummary">
            <div class="col-lg-12">

                <section class="d-widget-w" style="overflow: hidden">

                    <div class="col-lg-7">
                        <div class="d-ticket-grph-wrapper">
                            <div class="widget-h p-15 text-left">
                                Created VS Closed
                            </div>

                            <div class="d-t-grph" id="grphCreateVsOpen">
                                <canvas style="position: relative;" id="openclosecanvas" width="716px"
                                        height="200px"></canvas>

                                <div class="d-ticet-deference-wrp" style="padding-left:50px;">
                                    <canvas id="deferencecanvas" width="400px" height="100px"></canvas>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">

                        <div class="d-ticket-summary-wrp">

                            <div class="d-ticket-summary-row">
                                <ul class="customer-style-ul">
                                    <li class="float-left d-ticket-summary create">ASSIGNED NEW TICKETS</li>
                                    <li class="float-right text-right d-ticket-summary create">{{newTicketCount}}</li>
                                </ul>
                            </div>

                            <div class="d-ticket-summary-row">
                                <ul class="customer-style-ul">
                                    <li class="float-left d-ticket-summary close-t">CLOSED TICKETS</li>
                                    <li class="float-right text-right d-ticket-summary close-t">{{closeTicketCount}}
                                    </li>
                                </ul>
                            </div>

                            <div class="d-ticket-summary-row">
                                <ul class="customer-style-ul">
                                    <li class="float-left d-ticket-summary in-progress-t">IN PROGRESS TICKETS</li>
                                    <li class="float-right text-right d-ticket-summary in-progress-t">
                                        {{ProgressTicketCount}}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </section>


                <!--<div class="col-lg-7">-->
                <!--<section class="d-widget-w">-->
                <!--<div class="d-ticket-grph-wrapper">-->
                <!--<div class="widget-h p-15 text-left">-->
                <!--CREATED VS CLOSED-->
                <!--</div>-->

                <!--<div class="d-t-grph" id="grphCreateVsOpen">-->
                <!--<canvas style="position: relative;" id="openclosecanvas" width="716px"-->
                <!--height="200px"></canvas>-->
                <!--</div>-->
                <!--</div>-->
                <!--</section>-->
                <!--</div>-->

                <!--<div class="col-lg-5">-->
                <!--<section class="d-widget-w d-widget-w-308 " id="ticketSummary">-->
                <!--<div class="d-ticket-summary-row">-->
                <!--<ul class="customer-style-ul">-->
                <!--<li class="float-left d-ticket-summary create">CREATED TICKETS</li>-->
                <!--<li class="float-right text-right d-ticket-summary create">{{newTicketCount}}</li>-->
                <!--</ul>-->
                <!--</div>-->

                <!--<div class="d-ticket-summary-row">-->
                <!--<ul class="customer-style-ul">-->
                <!--<li class="float-left d-ticket-summary close-t">CLOSED TICKETS</li>-->
                <!--<li class="float-right text-right d-ticket-summary close-t">{{closeTicketCount}}</li>-->
                <!--</ul>-->
                <!--</div>-->

                <!--<div class="d-ticket-summary-row">-->
                <!--<ul class="customer-style-ul">-->
                <!--<li class="float-left d-ticket-summary in-progress-t">IN PROGRESS TICKETS</li>-->
                <!--<li class="float-right text-right d-ticket-summary in-progress-t">-->
                <!--{{ProgressTicketCount}}-->
                <!--</li>-->
                <!--</ul>-->
                <!--</div>-->

                <!--<div class="d-ticet-deference-wrp">-->
                <!--<canvas id="deferencecanvas" width="436px" height="100px"></canvas>-->
                <!--</div>-->

                <!--</section>-->
                <!--</div>-->
            </div>
        </div>
    </section>


</div>
<!-- ./ end -->