<div class="user-p-c-n-ticket-052017">
    <!-- user profile ticket header -->
    <!--<div class="user-p-t-header-052017">-->
        <!--<div class="header-052017 animated slideInDown">-->
            <!--create new profile-->
        <!--</div>-->
    <!--</div>-->
    <!-- user profile ticket body -->
    <div class="col-lg-8 col-lg-offset-2">
        <div class="user-p-t-body-052017 create-new-t animated fadeIn">
            <form name="newProfileForm" ui-validate="">

                <!-- Basic info view -->
                <div ng-if="isBasicInfo">
                    <div class="modal-body-052017  fadeIn">
                        <!-- title -->
                        <div class="col-lg-4">
                            <div class="row">
                                <div class="form-group">
                                    <label class="label-052017"
                                           for="title">
                                        Title*
                                    </label>
                                    <!-- txt-input-052017 -->
                                    <select class="form-control txt-input-052017"
                                            name="title"
                                            id="title"
                                            ng-model="newProfile.title">
                                        <option ng-repeat="title in titles"
                                                value="{{title.id}}">
                                            {{title.name}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <!-- first name -->
                        <div class="col-lg-8">
                            <div class="form-group"
                                 ng-class="{ 'validation-on-052017': newProfileForm.newProfilefirstname.$invalid &&
                     newProfileForm.newProfilefirstname.$dirty }">
                                <label class="label-052017">First Name*</label>
                                <input type="text" class="form-control txt-input-052017"
                                       name="newProfilefirstname"
                                       ng-model="newProfile.firstname" required/>
                            </div>
                        </div>

                        <!-- last name -->
                        <div class="col-lg-4">
                            <div class="row">
                                <div class="form-group"
                                     ng-class="{ 'validation-on-052017': newProfileForm.newProfilelastname.$invalid &&
                     newProfileForm.newProfilelastname.$dirty }">
                                    <label class="label-052017"
                                           for="newProfilelastname">Last Name*</label>
                                    <input type="text"
                                           class="form-control txt-input-052017"
                                           name="newProfilelastname"
                                           id="newProfilelastname"
                                           ng-model="newProfile.lastname" required/>
                                </div>
                            </div>
                        </div>

                        <!-- phone number -->
                        <div class="col-lg-8">
                            <div class="form-group"
                                 ng-class="{ 'validation-on-052017': newProfileForm.newProfilephone.$invalid &&
                      newProfileForm.newProfilephone.$dirty }">
                                <label class="label-052017">Phone Number*</label>
                                <input type="text"
                                       class="form-control txt-input-052017"
                                       name="newProfilephone"
                                       ng-model="newProfile.phone"
                                       required/>
                            </div>
                        </div>

                        <!-- title -->
                        <div class="col-lg-6">
                            <div class="row">
                                <div class="form-group">
                                    <label for="local" class="label-052017">Locale</label>
                                    <select class="form-control txt-input-052017"
                                            name="local"
                                            id="local"
                                            ng-model="newProfile.locale">
                                        <option ng-repeat="locale in languages"
                                                value="{{locale.code}}">
                                            {{locale.name}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <!-- gender -->
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="label-052017"
                                       for="gender">Gender*</label>
                                <select class="form-control txt-input-052017"
                                        name="gender"
                                        id="gender"
                                        ng-model="newProfile.gender">
                                    <option ng-repeat="gen in gender"
                                            value="{{gen}}">
                                        {{gen}}
                                    </option>
                                </select>
                            </div>
                        </div>

                        <!-- email -->
                        <div class="col-md-12 form-group"
                             ng-class="{ 'validation-on-052017': newProfileForm.newProfileemail.$invalid && newProfileForm.newProfileemail.$dirty }">
                            <label for="newProfileemail"
                                   class="label-052017">Email*</label>
                            <input type="email"
                                   class="form-control txt-input-052017"
                                   name="newProfileemail"
                                   id="newProfileemail"
                                   ng-model="newProfile.email" required/>
                        </div>

                        <!-- gender -->
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <label class="label-052017">Birthday</label>
                                </div>
                                <div class="col-md-4 col-xs-4 col-sm-12">
                                    <select class="form-control  txt-input-052017"
                                            ng-options="day for day in dayList track by day"
                                            ng-model="newProfile.dob.day"></select>
                                </div>
                                <div class="col-md-4 col-xs-4 col-sm-12">
                                    <select class="form-control txt-input-052017"
                                            ng-options="month.name for month in monthList track by month.index"
                                            ng-model="newProfile.dob.month"></select>
                                </div>
                                <div class="col-md-4 col-xs-4 col-sm-12">
                                    <select class="form-control txt-input-052017"
                                            ng-options="y for y in yearList track by y"
                                            ng-model="newProfile.dob.year"></select>

                                </div>
                            </div>
                        </div>

                        <!-- ssn -->
                        <div class="col-lg-4">
                            <div class="row">
                                <div class="form-group"
                                     ng-class="{'validation-on-052017':newProfileForm.newProfilessn.$invalid
                                 && newProfileForm.newProfilessn.$dirty }">
                                    <label class="label-052017"
                                           for="newProfilessn">
                                        SSN*
                                    </label>
                                    <input type="text"
                                           class="form-control txt-input-052017"
                                           id="newProfilessn"
                                           name="newProfilessn"
                                           ng-model="newProfile.ssn" required placeholder=""/>
                                </div>
                            </div>
                        </div>

                        <!-- tags -->
                        <div class="col-lg-8">
                            <div class="form-group">
                                <label class="label-052017">Tags</label>
                                <tags-input style="margin-top: -5px;"
                                            ng-model="cutomerTypes"
                                            display-property="cutomerType"
                                            placeholder="Search Tags"
                                            replace-spaces-with-dashes="false">
                                    <auto-complete source="loadCutomerType($query)"
                                                   min-length="0"
                                                   load-on-focus="true"
                                                   load-on-empty="true"
                                                   max-results-to-show="32">
                                    </auto-complete>
                                </tags-input>
                            </div>
                        </div>

                        <!-- next button -->
                        <div class="form-group" style="margin-top: 20px">
                            <button ng-click="goToNextWizard('2')"
                                    ng-disabled="newProfileForm.$invalid"
                                    class="btn btn-lg btn-block btn-save-052017">
                                NEXT
                            </button>
                        </div>
                    </div>
                </div>

                <!-- Location view -->
                <div ng-if="isLocationView">
                    <div class="form-group animated fadeIn">
                        <div class="header-052017 modal-header inline-h">
                            <ul>
                                <li class="pull-left">
                                    LOCATION
                                </li>
                                <li class="pull-right">
                                    <div ng-click="goToNextWizard('1')"
                                         class="header-r-icon-052017 with-text ">
                                        <i class="fa fa-angle-left"></i> BACK
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div class="modal-body-052017">
                            <div class="col-lg-6 col-sm-4 col-xs-4">
                                <div class="row">
                                    <div class="form-group">
                                        <label for="no" class="label-052017">P.O. Box / Building No</label>
                                        <input type="text" class="form-control txt-input-052017" id="no"
                                               placeholder=""
                                               ng-model="newProfile.address.number">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-4 col-xs-4">
                                <div class="form-group">
                                    <label for="street1" class="label-052017">Street</label>
                                    <input type="text" class="form-control txt-input-052017" id="street1"
                                           placeholder=""
                                           ng-model="newProfile.address.street">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="City2" class="label-052017">City</label>
                                <input type="text" class="form-control txt-input-052017" id="City2"
                                       ng-model="newProfile.address.city">
                            </div>

                            <div class="form-group">
                                <label for="province" class="label-052017">Province</label>
                                <input type="text" class="form-control txt-input-052017" id="province"
                                       placeholder=""
                                       ng-model="newProfile.address.province">
                            </div>
                            <div class="form-group">
                                <label for="country" class="label-052017"> Country</label>
                                <select class="select2_single form-control txt-input-052017"

                                        aria-hidden="true" id="country"

                                        name="country"
                                        ng-model="newProfile.address.country">
                                    <option ng-repeat="country in countryList"
                                            value="{{country.name}}">
                                        {{country.name}}
                                    </option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="ZipCode" class="label-052017">Zip Code</label>
                                <input type="text" class="form-control txt-input-052017" id="ZipCode"
                                       placeholder=""
                                       ng-model="newProfile.address.zipcode">
                            </div>

                            <div class="form-group" style="margin-top: 20px">
                                <button ng-click="saveNewProfile(newProfile);"
                                        ng-disabled="newProfileForm.$invalid"
                                        class="btn btn-lg btn-block btn-save-052017">
                                    save
                                </button>
                                <!--<button ng-click="UpdateExternalUser(newProfile);"-->
                                <!--ng-disabled="newProfileForm.$invalid"-->
                                <!--class="btn btn-lg btn-block btn-save-052017">-->
                                <!--update-->
                                <!--</button>-->
                            </div>
                        </div>


                    </div>
                </div>

        </div>
    </div>

</div>