<div class="user-p-right-tab-052017">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="user-e-widget-052017">
            <div class="header-052017 ">
                ENGAGEMENT
            </div>

            <!-- engagement user profile wrapper -->
            <div class="user-p-e-wrapper-052017 animated fadeIn">
                <!-- company -->
                <div class="e-d-row-052017">
                    <ul class="customer-style-ul">
                        <li class="pull-left desc-052017">COMPANY</li>
                        <li class="pull-right value-052017">103</li>
                    </ul>
                </div>
                <!-- direction -->
                <div class="e-d-row-052017">
                    <ul class="customer-style-ul">
                        <li class="pull-left desc-052017">Direction</li>
                        <li class="pull-right value-052017">inbound</li>
                    </ul>
                </div>
                <!-- Channel from -->
                <div class="e-d-row-052017">
                    <ul class="customer-style-ul">
                        <li class="pull-left desc-052017">channel from</li>
                        <li class="pull-right value-052017">94777444444</li>
                    </ul>
                </div>
                <!-- Channel to  -->
                <div class="e-d-row-052017">
                    <ul class="customer-style-ul">
                        <li class="pull-left desc-052017">channel to</li>
                        <li class="pull-right value-052017">94777445000</li>
                    </ul>
                </div>
                <!-- Channel -->
                <div class="e-d-row-052017">
                    <ul class="customer-style-ul">
                        <li class="pull-left desc-052017">channel</li>
                        <li class="pull-right value-052017">call</li>
                    </ul>
                </div>
                <!-- skill -->
                <div class="e-d-row-052017">
                    <ul class="customer-style-ul">
                        <li class="pull-left desc-052017">skill</li>
                        <li class="pull-right value-052017">client support</li>
                    </ul>
                </div>
            </div>

            <!-- engagement channel wrapper -->
            <div class="user-eng-call-wrapper-052017 animated fadeIn">
                <div class="channel-main-wrapper">
                    <div class="eng-channel-052017">
                        <div class="eng-channel-des-052017">
                            <ul class="customer-style-ul">
                                <li class="channel-des-052017 pull-left">SMS</li>
                                <li class="channel-value-052017 pull-right">25% &nbsp (150)</li>
                            </ul>

                            <div class="channel-p-b-052017">
                                <uib-progressbar class="c-progress-b-052017" value="55"></uib-progressbar>
                            </div>
                        </div>
                    </div>
                    <div class="eng-channel-052017">
                        <div class="eng-channel-des-052017">
                            <ul class="customer-style-ul">
                                <li class="channel-des-052017 pull-left">call</li>
                                <li class="channel-value-052017 pull-right">50% &nbsp (250)</li>
                            </ul>
                            <div class="channel-p-b-052017">
                                <uib-progressbar class="c-progress-b-052017" value="55"></uib-progressbar>
                            </div>
                        </div>
                    </div>

                    <div class="eng-channel-052017">
                        <div class="eng-channel-des-052017">
                            <ul class="customer-style-ul">
                                <li class="channel-des-052017 pull-left">facebook</li>
                                <li class="channel-value-052017 pull-right">90% &nbsp (250)</li>
                            </ul>
                            <div class="channel-p-b-052017">
                                <uib-progressbar class="c-progress-b-052017" value="55"></uib-progressbar>
                            </div>
                        </div>
                    </div>

                    <div class="eng-channel-052017">
                        <div class="eng-channel-des-052017">
                            <ul class="customer-style-ul">
                                <li class="channel-des-052017 pull-left">email</li>
                                <li class="channel-value-052017 pull-right">70% &nbsp (350)</li>
                            </ul>
                            <div class="channel-p-b-052017">
                                <uib-progressbar class="c-progress-b-052017" value="55"></uib-progressbar>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <!-- ticket summary  -->
            <div class="user-p-t-s-052017 animated fadeIn">
                <div class="ticket-s-wrapper-052017">
                    <div class="ticket-s-chart-052017">
                        <canvas id="ticketSummary"
                                width="250" height="250"
                                class="chart chart-doughnut"
                                chart-options="options"
                                chart-data="data"
                                chart-labels="labels">
                        </canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="user-e-widget-052017 animated fadeIn" >
            <div class="header-052017 animated fadeIn">
                IVR DETAILS
            </div>
            <!-- ivr wrapper -->
            <div class="user-p-ivr-wrapper-052017">
                <div class="ivr-main-wrapper-052017">
                    <div class="ivr-t-body-052017">
                        <table class="table ivr-tbl-052017">
                            <thead>
                            <tr class="ivr-t-h-052017">
                                <th>call</th>
                                <th>class</th>
                                <th>type</th>
                                <th>category</th>
                            </tr>
                            </thead>
                            <tbody class="ivr-t-body-052017">
                            <tr class="ivr-t-row-052017">
                                <th>1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                            </tr>
                            <tr class="ivr-t-row-052017">
                                <th>2</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>@fat</td>
                            </tr>
                            <tr class="ivr-t-row-052017">
                                <th>3</th>
                                <td>Larry</td>
                                <td>the Bird</td>
                                <td>@twitter</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="ivr-t-c-wrapper-052017">
                        <div class="iver-t-c-052017">
                            TOTAL : 3
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>