<div class="user-p-right-tab-052017">
    <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
        <div class="user-p-t-wrapper-052017">
            <!-- user profile ticket header wrapper -->
            <div class="user-p-t-h-wrapper-052017">
                <div class="header-052017">
                    all ticket (20)
                </div>

                <!-- user profile ticket type -->
                <div class="user-p-t-type-052017">
                    <div class="u-p-t-t-wrapper-052017">
                        type
                    </div>
                    <!-- user profile ticket type list -->
                    <div class="u-p-t-t-list">
                        <ul class="customer-style-ul">
                            <li>
                                <div class="ticket-type-052017 selected">
                                    <i class="fa fa-check"></i>
                                    all
                                </div>
                            </li>
                            <li>
                                <div class="ticket-type-052017">
                                    low
                                </div>
                            </li>
                            <li>
                                <div class="ticket-type-052017">
                                    urgent
                                </div>
                            </li>
                            <li>
                                <div class="ticket-type-052017">
                                    high
                                </div>
                            </li>
                            <li>
                                <div class="ticket-type-052017">
                                    normal
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- user profile ticket body -->
            <div class="user-p-t-body-052017">
                <div class="user-p-t-b-wrapper-052017">
                    <table class="table tbl-t-052017">
                        <tbody>
                        <tr class="ticket-tbl-row-052017">
                            <th scope="row">
                                <div class="t-c-img-052017">
                                    <img src="assets/img/avatar/coreyweb.jpg" width="40">
                                </div>
                            </th>
                            <td class="t-td-type-052017">
                                <!-- ticket status group wrapper -->
                                <div class="t-td-s-g-wrapper-052017">
                                    <div class="t-td-t-status-052017 urgent"></div>
                                    QUESTION
                                </div>
                            </td>
                            <td class="t-td-desc-052017">Help… My gift card balance…</td>
                            <td class="t-td-channel-052017">
                                <div class="t-td-c-wrapper-052017 facebook">
                                    <i class="fa fa-facebook"></i>
                                </div>

                            </td>
                            <td class="t-td-t-ago-052017">
                                21 days ago
                            </td>
                            <td class="t-td-more-052017">MORE</td>
                        </tr>
                        <tr class="ticket-tbl-row-052017">
                            <th scope="row">
                                <div class="t-c-img-052017">
                                    <img src="assets/img/avatar/jaman_01.jpg" width="40">
                                </div>
                            </th>
                            <td class="t-td-type-052017">
                                <!-- ticket status group wrapper -->
                                <div class="t-td-s-g-wrapper-052017">
                                    <div class="t-td-t-status-052017 urgent"></div>
                                    QUESTION
                                </div>
                            </td>
                            <td class="t-td-desc-052017">Help… My gift card balance…</td>
                            <td class="t-td-channel-052017">
                                <div class="t-td-c-wrapper-052017 twitter">
                                    <i class="fa fa-twitter"></i>
                                </div>

                            </td>
                            <td class="t-td-t-ago-052017">
                                21 days ago
                            </td>
                            <td class="t-td-more-052017">MORE</td>
                        </tr>

                        <tr class="ticket-tbl-row-052017">
                            <th scope="row">
                                <div class="t-c-img-052017">
                                    <img src="assets/img/avatar/kurafire.jpg" width="40">
                                </div>
                            </th>
                            <td class="t-td-type-052017">
                                <!-- ticket status group wrapper -->
                                <div class="t-td-s-g-wrapper-052017">
                                    <div class="t-td-t-status-052017 urgent"></div>
                                    QUESTION
                                </div>
                            </td>
                            <td class="t-td-desc-052017">Help… My gift card balance…</td>
                            <td class="t-td-channel-052017">
                                <div class="t-td-c-wrapper-052017 twitter">
                                    <i class="fa fa-twitter"></i>
                                </div>

                            </td>
                            <td class="t-td-t-ago-052017">
                                21 days ago
                            </td>
                            <td class="t-td-more-052017">MORE</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>