<div class="user-p-right-tab-052017">
    <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
        <!-- user profile  engagement  time line -->
        <div class="user-p-e-tl-wrapper-052017">
            <ul class="engagement-tl-052017 customer-style-ul">
                <li>
                    <div class="e-t-l-badge-052017 facebook"></div>
                    <div class="e-t-l-wrapper-052017 left">
                        <div class="e-t-l-header-052017">
                            <ul class="customer-style-ul">
                                <li class="from-to-052017">From</li>
                                <li class="value">duodemouser@gmail.com</li>
                            </ul>
                            <ul class="customer-style-ul row-fluid">
                                <li class="from-to-052017">To</li>
                                <li class="value">duodemouser@gmail.com</li>
                            </ul>
                        </div>

                        <div class="e-t-l-direction-052017">
                            <ul class="customer-style-ul">
                                <li class="direction-icon-052017">
                                    <div class="e-t-l-d-icon-052017">
                                        <i class="fa fa-facebook"></i>
                                    </div>
                                </li>
                                <li>
                                    <ul class="customer-style-ul">
                                        <li>
                                            <div class="e-t-l-channel-d-052017">
                                                direction : inbound
                                            </div>
                                        </li>
                                        <li>
                                            <div class="e-t-l-channel-d-052017 channel facebook">
                                                facebook
                                            </div>
                                        </li>
                                        <li>
                                            <div class="e-t-l-channel-d-052017">
                                                2 days ago
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>

                        <!-- engagement time line direction description -->
                        <div class="e-t-l-d-desc-052017">
                            <div class="e-t-d-d-wrapper-052017">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            </div>
                        </div>


                        <!-- engagement tim line more details -->
                        <div class="e-t-l-more-052017">
                            <div class="e-t-l-m-wrapper-052017">
                                <div class="e-t-l-m-auth-052017">
                                    author | sukitha
                                </div>
                                <div class="e-t-m-details-052017">
                                    #TID Test_tickets_Duosoftware_00000001-40458 -> sukithape something
                                </div>
                            </div>
                        </div>

                    </div>
                </li>
                <li class="time-line-right-052017">
                    <div class="e-t-l-badge-052017 facebook"></div>
                    <div class="e-t-l-wrapper-052017 right">
                        <div class="e-t-l-header-052017">
                            <ul class="customer-style-ul">
                                <li class="from-to-052017">From</li>
                                <li class="value">duodemouser@gmail.com</li>
                            </ul>
                            <ul class="customer-style-ul">
                                <li class="from-to-052017">To</li>
                                <li class="value">duodemouser@gmail.com</li>
                            </ul>
                        </div>

                    </div>
                </li>
            </ul>

        </div>
    </div>
</div>