<!-- main wrapper -052017 -->
<div class="user-p-m-wrapper-052017">
    <!-- create new ticket -->

    <!--multiple profile view-->
    <!--<div class="display-none`">-->
        <!--<div ng-include="'app/views/ui-kit/user-profile/multiple-profile.html'"></div>-->
    <!--</div>-->


    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <!-- left main wrapper scroll = fixed  -->
            <div ng-include="'app/views/ui-kit/user-profile/user-console-left.html'"></div>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
            <!-- right main wrapper -->
            <div class="user-p-right-052017">

                <!--  create  new ticket modal -->
                <div ng-show="showCreateTicket">
                    <div ng-include="'app/views/ui-kit/user-profile/create-new-ticket.html'"></div>
                </div>


                <!--<div>-->
                <!--<div ng-include="'app/views/ui-kit/user-profile/create-new-profile.html'"></div>-->
                <!--</div>-->

                <div class="user-p-right-h-052017">
                    <uib-tabset type="pills profile-c-pills-052017">
                        <uib-tab heading="OVERALL">
                            <div ng-include="'app/views/ui-kit/user-profile/overall.html'"></div>
                        </uib-tab>
                        <uib-tab heading="TIME LINE" classes="btn-sm">
                            <!--time line-->
                            <div ng-include="'app/views/ui-kit/user-profile/time-line.html'"></div>
                        </uib-tab>
                        <uib-tab heading="TICKET" classes="btn-sm">
                            <!--ticket-->
                            <!--time line-->
                            <div ng-include="'app/views/ui-kit/user-profile/ticket.html'"></div>
                        </uib-tab>
                        <uib-tab heading="PROFILE" classes="btn-sm">
                            <!--profile-->
                        </uib-tab>


                    </uib-tabset>

                    <div class="top-left-tab-btn-052017">
                        <button class="btn"
                                ng-click="createNProfile()">
                            new profile
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>