<div class="row" ng-class="{gored:isExceeded}" style="display: flex;align-items: center">
    <div class="col-lg-4">
        <div class="w-t-header">
            {{queue.QueueName | limitTo: 22}}{{queue.QueueName.length>22 ?'....':''}}
        </div>
    </div>
    <div class="col-lg-4">
        <div class="w-t-header text-center">
            {{queue.QueueInfo.CurrentWaiting}}

        </div>
    </div>
    <div class="col-lg-4">
        <div class="w-t-header text-center" >
            <!-- {{queue.QueueInfo.MaxWaitTime}}-->
            <timer ng-if="queue.QueueInfo.MaxWaitingMS" start-time="queue.QueueInfo.MaxWaitingMS" interval="1000"> {{hhours != 0-1 ? hhours : 00}} : {{mminutes != 0-1 ? mminutes : 00}} : {{sseconds != 0-1 ? sseconds : 00}}</timer>
            <span ng-if="!queue.QueueInfo.MaxWaitingMS"> 00 : 00 : 00</span>
        </div>
    </div>


</div>