@font-face {
    font-family: AvenirNextLTPro-Bold;
    src: url(avenir-next-lt-pro/AvenirNextLTPro-Bold.otf);
}

@font-face {
    font-family: AvenirNextLTPro-Regular;
    src: url(avenir-next-lt-pro/AvenirNextLTPro-Regular.otf);
}

@font-face {
    font-family: AvenirNextLTPro-Cn;
    src: url(avenir-next-lt-pro/AvenirNextLTPro-Cn.otf);
}

@font-face {
    font-family: AvenirNextLTPro-UltLt;
    src: url(avenir-next-lt-pro/AvenirNextLTPro-UltLtCn.otf);
}

@font-face {
    font-family: AvenirNextLTPro-UltLtCn;
    src: url(avenir-next-lt-pro/AvenirNextLTPro-UltLtCn.otf);
}

@font-face {
    font-family: AvenirNextLTPro-Heavy;
    src: url(avenir-next-lt-pro/AvenirNextLTPro-HeavyCn.otf);
}

@font-face {
    font-family: AvenirNextLTPro-Demi;
    src: url(avenir-next-lt-pro/AvenirNextLTPro-Demi.otf);
}



