<div ng-class="currentSelected.name=='my to do'?'t-active-menu':''">
    <div class="t-f-wrp"
         ng-click="openTicketView('my to do',ticketCountObj.myTicket.myNew)">
        <ul class="customer-style-ul inline-list t-f-ul">
            <li>
                <div class="t-filter-name t-filter-todo"
                     ng-class="ticketCountObj.myTicket.myNew==0?'text-decoration count0':''">
                    To do
                </div>
            </li>
            <li ng-show="ticketCountObj.myTicket.myNew!=0">
                <div class="t-item-count black animated slideInRight">
                    {{ticketCountObj.myTicket.myNew}}
                </div>
            </li>
        </ul>
    </div>
</div>


<div ng-class="currentSelected.name=='my in progress'?'t-active-menu':''">
    <div class="t-f-wrp"
         ng-click="openTicketView('my in progress',ticketCountObj.myTicket.myToDo)">
        <ul class="customer-style-ul inline-list t-f-ul">
            <li>
                <div class="t-filter-name t-filter-progress"
                     ng-class="ticketCountObj.myTicket.myToDo==0?'text-decoration count0':''">
                    In Progress
                </div>
            </li>
            <li ng-show="ticketCountObj.myTicket.myToDo!=0">
                <div class="t-item-count red animated slideInRight">
                    {{ticketCountObj.myTicket.myToDo}}
                </div>
            </li>
        </ul>
    </div>
</div>

<!--<div class="ticket-filter-body"-->
     <!--ng-class="currentSelected.name=='my in Progressing'?'t-active-menu':''">-->
    <!--<div class="t-f-wrp"-->
         <!--ng-click="openTicketView('my in Progressing',ticketCountObj.myTicket.myNew)">-->
        <!--<ul class="customer-style-ul inline-list t-f-ul">-->
            <!--<li>-->
                <!--<div class="t-filter-name"-->
                     <!--ng-class="ticketCountObj.myTicket.myInProgress==0?'text-decoration count0':''">-->
                    <!--In Progress-->
                <!--</div>-->
            <!--</li>-->
            <!--<li ng-show="ticketCountObj.myTicket.myInProgress!=0">-->
                <!--<div class="t-item-count red animated slideInRight">-->
                    <!--{{ticketCountObj.myTicket.myInProgress}}-->
                <!--</div>-->
            <!--</li>-->
        <!--</ul>-->
    <!--</div>-->
<!--</div>-->

<div ng-class="currentSelected.name=='my Done'?'t-active-menu':''">
    <div class="t-f-wrp"
         ng-click="openTicketView('my Done',ticketCountObj.myTicket.myDone)">
        <ul class="customer-style-ul inline-list t-f-ul">
            <li>
                <div class="t-filter-name t-filter-done"
                     ng-class="ticketCountObj.myTicket.myDone==0?'text-decoration count0':''">
                    Done
                </div>
            </li>
            <li ng-show="ticketCountObj.myTicket.myDone!=0">
                <div class="t-item-count black animated slideInRight">
                    {{ticketCountObj.myTicket.myDone}}
                </div>
            </li>
        </ul>
    </div>
</div>




