<div ng-class="currentSelected.name=='my group to do'?'t-active-menu':''">
    <div class="t-f-wrp"
         ng-click="openTicketView('my group to do',ticketCountObj.myGroup.new)">
        <ul class="customer-style-ul inline-list t-f-ul">
            <li>
                <div class="t-filter-name"
                     ng-class="ticketCountObj.myGroup.new==0?'text-decoration count0':''">
                    To Do
                </div>
            </li>
            <li ng-show="ticketCountObj.myGroup.new!=0">
                <div class="t-item-count black animated slideInRight">
                    {{ticketCountObj.myGroup.new}}
                </div>
            </li>
        </ul>
    </div>
</div>

<div ng-class="currentSelected.name=='my group in progress'?'t-active-menu':''">
    <div class="t-f-wrp"
         ng-click="openTicketView('my group in progress',ticketCountObj.myGroup.toDo)">
        <ul class="customer-style-ul inline-list t-f-ul">
            <li>
                <div class="t-filter-name"
                     ng-class="ticketCountObj.myGroup.toDo==0?'text-decoration count0':''">
                    In Progress
                </div>
            </li>
            <li ng-show="ticketCountObj.myGroup.toDo!=0">
                <div class="t-item-count black animated slideInRight">
                    {{ticketCountObj.myGroup.toDo}}
                </div>
            </li>
        </ul>
    </div>
</div>

<!--<div class="ticket-filter-body"-->
     <!--ng-class="currentSelected.name=='my group in progress'?'t-active-menu':''">-->
    <!--<div class="t-f-wrp"-->
         <!--ng-click="openTicketView('my group in progress',ticketCountObj.myGroup.inProgress)">-->
        <!--<ul class="customer-style-ul inline-list t-f-ul">-->
            <!--<li>-->
                <!--<div class="t-filter-name"-->
                     <!--ng-class="ticketCountObj.myGroup.inProgress==0?'text-decoration count0':''">-->
                    <!--IN PROGRESS-->
                <!--</div>-->
            <!--</li>-->
            <!--<li ng-show="ticketCountObj.myGroup.inProgress!=0">-->
                <!--<div class="t-item-count black animated slideInRight">-->
                    <!--{{ticketCountObj.myGroup.inProgress}}-->
                <!--</div>-->
            <!--</li>-->
        <!--</ul>-->
    <!--</div>-->
<!--</div>-->


<div ng-class="currentSelected.name=='my group done'?'t-active-menu':''">
    <div class="t-f-wrp"
         ng-click="openTicketView('my group done',ticketCountObj.myGroup.done)">
        <ul class="customer-style-ul inline-list t-f-ul">
            <li>
                <div class="t-filter-name"
                     ng-class="ticketCountObj.myGroup.done==0?'text-decoration count0':''">
                    DONE
                </div>
            </li>
            <li ng-show="ticketCountObj.myGroup.done!=0">
                <div class="t-item-count black animated slideInRight">
                    {{ticketCountObj.myGroup.done}}
                </div>
            </li>
        </ul>
    </div>
</div>



