<div class="row" ng-controller="myNoteCtrl" style="overflow: hidden">

    <div class="col-lg-12 col-xs-12">
        <!--<div moment-picker="myDate"> {{ myDate }} </div>-->
        <form name="frmNewNote">
            <div id="renote-add-wrapper" class="renote-add-wrapper">
                <div class="col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8 col-xs-12">
                    <div class="contact-search">
                        <i class="fa fa-search"></i>
                        <input type="text" ng-model="notesFilter" placeholder="Search for notes.." style="width: calc(100% - 50px);top: 2px;position: relative;-webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);-moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);border: none;">
                        <button id="txtTakeNote"
                                type="button"
                                name="noteDesc"
                                class="btn btn-sm btn-refresh btn-template-primary btn-circle"
                                title="Create a Note" style="margin-left: 10px;-webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);-moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3)">
                            <i class="fa fa-plus"></i>
                        </button>
                    </div>
                </div>
                <div class="col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8 col-xs-12">
                    <div id="addNoteWindow" class="renote-add-wrap new-note display-none">
                        <div class="renote-add-close" ng-click="addNewNote.close();">
                            <i class="ti-close"></i>
                        </div>
                        <div class="renote-tet-wrapper" >
                            <input
                                    type="text"
                                    name="noteDesc"
                                    ng-model="note.title"
                                    required
                                    class="form-control renote-input-box take-note-title-text"
                                    placeholder="Title" style="margin-bottom: 10px;"/>
                            <!--<input-->
                            <!--type="text"-->
                            <!--ng-model="note.note"-->
                            <!--class="form-control renote-input-box take-note-text "-->
                            <!--placeholder="Take a note"/>-->
                            <textarea id="noteReminder" placeholder="Take a note" ng-model="note.note"
                                      required
                                      class="form-control renote-input-box take-note-text note-text-area"></textarea>
                        </div>

                        <div class="renote-footer">
                            <div class="col-lg-6">
                                <ul class="renote-color-btn">
                                    <!--<li>-->
                                    <!--<div class="note-color-btn default-color"-->
                                    <!--ng-click="addNewNote.selectColor('default-color');"-->
                                    <!--tooltip-placement="low" uib-tooltip="none">-->
                                    <!--<i ng-show="note.priority=='default-color'"-->
                                    <!--class="ti-check"></i>-->
                                    <!--</div>-->
                                    <!--</li>-->
                                    <li>
                                        <div class="note-color-btn low"
                                             ng-click="addNewNote.selectColor('low');"
                                             tooltip-placement="low" uib-tooltip="low">
                                            <i ng-show="note.priority=='low'"
                                               class="ti-check"></i>
                                        </div>
                                    </li>
                                    <li>
                                        <div tooltip-placement="top" uib-tooltip="normal"
                                             ng-click="addNewNote.selectColor('normal');"
                                             class="note-color-btn normal">
                                            <i ng-show="note.priority=='normal'"
                                               class="ti-check"></i>
                                        </div>
                                    </li>
                                    <li>
                                        <div tooltip-placement="top" uib-tooltip="urgent"
                                             ng-click="addNewNote.selectColor('urgent');"
                                             class="note-color-btn urgent">
                                            <i ng-show="note.priority=='urgent'"
                                               class="ti-check"></i>
                                        </div>
                                    </li>
                                    <li>
                                        <div tooltip-placement="top" uib-tooltip="high"
                                             ng-click="addNewNote.selectColor('high');"
                                             class="note-color-btn high">
                                            <i ng-show="note.priority=='high'"
                                               class="ti-check"></i>
                                        </div>
                                    </li>

                                </ul>

                            </div>
                            <div class="col-lg-6">
                                <div class="renote-done"
                                     ng-if="!frmNewNote.$invalid"
                                     ng-click="addNewNote.done(note.title,note.priority,note.note);">
                                    DONE
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </form>
        <!-- end -->
        <div>
            <!-- loading -->
            <div id="loadinMyNote" class="loading-note display-none">
                <svg class="spinner-container" width="65px" height="65px" viewBox="0 0 52 52">
                    <circle class="path" cx="26px" cy="26px" r="20px" fill="none" stroke-width="4px"/>
                </svg>
            </div>

            <div id="myNoteEmty" class="my-note-emety ">
                Please create todo item
            </div>
            <div class="mynote-wrapper">
                <div gridster="gridsterOpts">
                    <ul>
                        <li class="my-note-wrapper"
                            ng-class="{'low':note.priority=='low',
                                 'high':note.priority=='high',
                                 'normal':note.priority=='normal',
                                 'urgent':note.priority=='urgent'}"
                            gridster-item="note" ng-repeat="note in noteLists | filter:notesFilter track by $index">
                            <my-note-edit-directive my-note="note"
                                                    delete="myNoteDelete($index,note)"
                                                    reminder="reminderMe.create($index,note)">
                            </my-note-edit-directive>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <!-- my note reminder -->
    <div id="reminderMode" class="my-note-r-052017 display-none">
        <div class="col-lg-offset-4 col-lg-4 col-md-2 col-xs-2">
            <div class="reminder-wrapper-052017">
                <div class="header-052017 inline-h modal-header-052017">
                    <ul>
                        <li class="pull-left modal-lg-header ">
                            {{ reminderObj.title }}
                        </li>
                        <li class="pull-right">
                            <div ng-click="reminderMe.close()"
                                 class="header-r-icon-052017 with-text">
                                <i class="ti-close"></i>
                            </div>
                        </li>
                    </ul>
                </div>


                <div class="modal-body-052017">
                    <form name="frmReminder">
                        <div class="col-lg-12" style="margin-top: 20px;">
                            <div class="form-group"
                                 ng-class="{ 'validation-on-052017': frmReminder.reminderDate.$invalid &&
                         frmReminder.reminderDate.$dirty }">
                                <label class="label-052017" ng-click="reminderMe.close()">
                                    choose date and time*
                                </label>
                                <input type="text"
                                       id="dueTimePickerDueDate"
                                       name="reminderDate"
                                       ng-model="dueDate"
                                       placeholder=""
                                       required
                                       class="form-control dueTimePicker txt-input-052017 text-modal"/>
                            </div>
                        </div>

                        <div class="col-lg-12" style="margin-top: 20px;">
                            <div class="form-group">
                                <button ng-if="!isSavingReminder" class="btn btn-modal pull-right "
                                        ng-disabled="frmReminder.$invalid"
                                        ng-click="reminderMe.createDueDate()">
                                    Remind Me
                                </button>
                                <button ng-if="isSavingReminder"
                                        class="btn btn-modal pull-right" disabled>
                                    please wait...
                                </button>
                            </div>
                        </div>
                    </form>

                    <div id="reminderLoading"
                         class="display-none my-note-remind-me loading {{ reminderObj.priority }} ">
                        <div>
                            <svg class="spinner-container" width="65px" height="65px" viewBox="0 0 52 52">
                                <circle class="path" cx="26px" cy="26px" r="20px" fill="none" stroke-width="4px"/>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Reminder Me  mode -->
    <!--<div id="reminderMode" class="animated mynote-remind-me-modal display-none">-->
    <!--<div class="col-lg-offset-4 col-lg-4 col-md-2 col-xs-2 ">-->
    <!--<div class="mynote-reminder-body">-->
    <!--<div id="reminderSelect" class="my-note-remind-me ">-->
    <!--<div class="renote-add-close" ng-click="reminderMe.close()">-->
    <!--<i class="ti-close"></i>-->
    <!--</div>-->
    <!--<div class="row header model-reminder-header ">-->
    <!--{{ reminderObj.title }}-->
    <!--</div>-->

    <!--<div class="remind-body">-->
    <!--<div class="date">-->
    <!--<div moment-picker="myDate"> {{ myDate }}</div>-->
    <!--</div>-->
    <!--</div>-->

    <!--<div class="reminder-footer">-->
    <!--<span class="{{ reminderObj.priority }}"-->
    <!--ng-click="reminderMe.createDueDate()">Reminder Me</span>-->
    <!--</div>-->
    <!--</div>-->

    <!--<div id="reminderLoading" class="display-none my-note-remind-me loading {{ reminderObj.priority }} ">-->
    <!--<div>-->
    <!--<svg class="spinner-container" width="65px" height="65px" viewBox="0 0 52 52">-->
    <!--<circle class="path" cx="26px" cy="26px" r="20px" fill="none" stroke-width="4px"/>-->
    <!--</svg>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->

</div>


<script type="text/javascript">
	//jquery ui datetime picket
	$(function () {
		$('#dueTimePickerDueDate').datetimepicker({
			controlType: 'select',
			oneLine: true,
			minDate: '0y',
			timeFormat: 'hh:mm tt'
		});
	});

</script>