@charset "UTF-8";

@font-face {
    font-family: "duo-facetone";
    src:url("duo-facetone.eot");
    src:url("duo-facetone.eot?#iefix") format("embedded-opentype"),
    url("duo-facetone.woff") format("woff"),
    url("duo-facetone.ttf") format("truetype"),
    url("duo-facetone.svg#duo-facetone") format("svg");
    font-weight: normal;
    font-style: normal;

}

[data-icon]:before {
    font-family: "duo-facetone" !important;
    content: attr(data-icon);
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="icon-d-f-"]:before,
[class*=" icon-d-f-"]:before {
    font-family: "duo-facetone" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-d-f-icon-break:before {
    content: "\61";
}
.icon-d-f-icon-chat:before {
    content: "\62";
}
.icon-d-f-icon-logout:before {
    content: "\65";
}
.icon-d-f-icon-mode:before {
    content: "\66";
}
.icon-d-f-icon-mynote:before {
    content: "\67";
}
.icon-d-f-icon-notification:before {
    content: "\68";
}
.icon-d-f-icon-register:before {
    content: "\69";
}
.icon-d-f-icon-setting:before {
    content: "\6a";
}
.icon-d-f-icon-softphone:before {
    content: "\6b";
}
.icon-d-f-icon-ticketinbox:before {
    content: "\6c";
}
.icon-d-f-icon-tracker:before {
    content: "\6d";
}
.icon-d-f-icon-home:before {
    content: "\63";
}
.icon-d-f-icon-dialer:before {
    content: "\64";
}

.icon-d-f-icon-videoconf:before {
    content: "\64";
}

.icon-d-f-icon-knowladgeportal:before {
    content: "\45";
}
