<div id="login-bg" class="logi animated fadeIn " ng-controller="activateCtrl">
    <img src="assets/images/bg_10444x1000.jpg" id="bg" alt="">
    <div>
        <!--<div class="login_wrapper">
            <div class="form login_form">
                <section class="login_content">

                    <form name="resetPwForm">
                        <div class="validation-area">
                            <label class="dark-frm-label">Email
                                 <span class="inline-block validation-on"
                                       ng-show="resetPwForm.email.$invalid && !resetPwForm.email.$pristine">*
                                    </span></label>
                            <input type="email" name="email" ng-model="email"
                                   class="form-control dark-frm-input "
                                   placeholder=""
                                   required/>
                        </div>

                        <div class="row">
                            <button class="btn btn-default btn-block submit  " href="javascript:void(0);"
                                    ng-disabled="resetPwForm.$invalid"
                                    ng-click="ResetPassword()">Reset
                            </button>
                        </div>
                        <div class="col-lg-12">
                            <div class="row">
                                <p class="change_link">
                                    <a href="javascript:void(0);" ng-click="BackToLogin()"
                                       class="to_register to_register_dark"> Go back to login </a>
                                </p>
                            </div>
                        </div>



                    </form>
                </section>
            </div>
        </div>-->
    </div>
</div>

