<div class="login-wrapper" ng-controller="loginCtrl">


    <!-- Login View -->
    <div id="login" class="login-wrap">
        <div class="login-header">
            <img src="assets/img/logo.png">
        </div>

        <div class="animated pulse login-body">
            <form name="loginFrm" novalidate autocomplete="off">
                <div class="form-group p-bottom-15">
                    <label for="usersName">USERNAME</label>
                    <span class="inline-block validation-on pull-right"
                          ng-show="loginFrm.userName.$invalid &&
                           !loginFrm.userName.$pristine">
                           required filed
                     </span>
                    <input type="text" my-enter="onClickLogin()" class="animated  form-control login-text"
                           id="usersName"
                           ng-model="userNme"
                           name="userName"
                           required>
                </div>
                <div class="form-group">
                    <label for="pwd">PASSWORD</label>
                    <span class="inline-block validation-on pull-right"
                          ng-show="loginFrm.password.$invalid &&
                           !loginFrm.password.$pristine">
                           required filed
                     </span>
                    <input type="password" my-enter="onClickLogin()" class="animated  form-control login-text"
                           id="pwd"
                           name="password"
                           ng-model="pwd"
                           required>

                </div>
            </form>
            <!--<div class="forget-pwd">-->
            <!--forget password ?-->
            <!--</div>-->

            <div ng-if="!isLogin" ng-click="onClickLogin()" class="login-btn">
                LOGIN
            </div>
            <div ng-if="isLogin" class="loading-btn">
                please wait..
            </div>


        </div>


        <div class="forget-pwd-wrp">
            <p>Having trouble signing in?</p>
            <ul>
                <li>
                    <div ng-click="goToRestEmail()" tooltip-placement="low" uib-tooltip="password reset using email"
                          class="round-footer-icon-login">
                        <i class="ti-email"></i>
                    </div>
                </li>
                <li>
                    <div ng-click="goToRestToken()" tooltip-placement="low" uib-tooltip="password reset using token"
                            class="round-footer-icon-login">
                        <i class="ti-key"></i>
                    </div>
                </li>
            </ul>

        </div>
    </div>


</div>