<div class="login-main-wrp animated fadeIn" ng-controller="pwdResetToken">
  <div class="container">
    <div
      class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2"
    >
      <div class="login-new-logo">
        <img src="assets/img/Flag_of_the_Sri_Lanka_Police.svg" />
      </div>
      <div class="login-wrp">
        <div class="col-lg-7" style="padding: 15px">
          <div id="login" class="login-new-right-wrp">
            <div class="login-new-hl-wrp selected">Set new password</div>
            <div class="login-new-h1-sub-h">
              Please enter the token to complete the process...
            </div>

            <div class="login-new-frm">
              <form name="recoverTokenForm" novalidate autocomplete="off">
                <div ng-show="pwdBox">
                  <password-strength-box
                    ng-model="password"
                    box="pwdBox"
                    confirm="confirmPwd"
                  ></password-strength-box>
                </div>
                <!-- token --->
                <div class="form-group">
                  <label for="token">TOKEN</label>
                  <span
                    class="inline-block validation-on pull-right"
                    ng-show="recoverTokenForm.token.$invalid &&
                                          !recoverTokenForm.token.$pristine"
                    >required filed</span
                  >
                  <input
                    type="text"
                    class="animated form-control login-text login-txt"
                    id="token"
                    ng-model="token"
                    name="token"
                    required
                  />
                </div>

                <!-- password -->
                <div class="form-group">
                  <label for="pwd">PASSWORD</label>
                  <span
                    class="inline-block validation-on"
                    ng-show="loginFrm.password.$invalid &&
                                                    !loginFrm.password.$pristine"
                    >*</span
                  >

                  <input
                    type="password"
                    my-enter="onClickLogin()"
                    class="animated form-control login-text login-txt"
                    id="password"
                    password-verify="{{confirmPwd}}"
                    name="password"
                    ng-model="password"
                    required
                  />
                </div>

                <!-- confirm password -->
                <div class="form-group p-bottom-15">
                  <label for="confirmPwd">CONFIRM PASSWORD</label>
                  <span
                    class="inline-block validation-on"
                    ng-show="recoverTokenForm.confirmPwd.$invalid &&
                                                  !recoverTokenForm.confirmPwd.$pristine"
                    >*</span
                  >
                  <input
                    type="password"
                    password-verify="{{password}}"
                    class="animated form-control login-text login-txt"
                    id="confirmPwd"
                    ng-model="confirmPwd"
                    name="confirmPwd"
                    required
                  />
                </div>

                <div class="login-n-footer">
                  <a href="#/login" style="color: #aaa">< Back</a>

                  <button
                    ng-click="ResetPassword()"
                    ng-if="!isLoadingPwd"
                    ng-disabled="recoverTokenForm.$invalid"
                    class="btn btn-n-sign"
                    style="display: inline-block; float: right"
                  >
                    RESET&nbspPASSWORD
                  </button>

                  <button
                    ng-if="isLoadingPwd"
                    disabled
                    class="btn btn-n-sign"
                    style="display: inline-block; float: right"
                  >
                    PLEASE WAIT..
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-lg-5">
          <div class="row">
            <div class="login-new-bg"></div>
            <div class="login-left-i-wrp">
              <!--<img src="assets/img/bg/bg_900x500.jpg">-->
              <div class="login-new-body">
                <div class="login-new-header hidden-md hidden-sm hidden-xs">
                  Welcome
                </div>
                <div class="login-new-hedaer-1 hidden-md hidden-sm hidden-xs">
                  Communication and Collaboration Platform
                </div>
                <div
                  class="copy-write hidden-md hidden-sm hidden-xs"
                  style="margin: 90px 0 10px 0; opacity: 0.6"
                >
                  Follow us
                </div>
                <div class="social-links">
                  <ul>
                    <li>
                      <a
                        href="https://twitter.com/FaceTone_tweets"
                        target="_blank"
                      >
                        <i class="fa fa-twitter"></i>
                      </a>
                    </li>
                    <li>
                      <a
                        href="https://www.linkedin.com/showcase/13228877?pathWildcard=13228877"
                        target="_blank"
                      >
                        <i class="fa fa-linkedin"></i>
                      </a>
                    </li>
                    <li>
                      <a
                        href="https://www.facebook.com/DuoFaceTone"
                        target="_blank"
                      >
                        <i class="fa fa-facebook"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="login-right-footer">
        © {{copywriteYear}} facetone is a product of DuoWorld Inc. All Rights
        Reserved
      </div>
    </div>
  </div>
</div>
