<div class="login-wrapper" ng-controller="pwdResetLink">

    <!-- forget password email -->
    <div ng-class="forgetPassword" class="login-wrap  ">
        <div class="login-header" style="margin-top: 110px;">
            <!--<img src="assets/img/logo.png">-->
            <div class="forget-header">
                Having trouble signing in?
            </div>
        </div>


        <div class="animated pulse  login-body">


            <!--<div class="forget-pwd-txt">-->
            <!--Enter any recovery email associated with your account..-->
            <!--</div>-->
            <form name="recoverEmailForm" novalidate autocomplete="off">
                <div class="form-group p-bottom-15">
                    <label name="password">NEW PASSWORD</label>
                    <span class="inline-block validation-on pull-right"
                          ng-show="recoverEmailForm.recoverEmail.$invalid &&
                           !recoverEmailForm.recoverEmail.$pristine">
                           required filed
                     </span>
                    <input type="password"
                           class="animated  form-control login-text"
                           id="password"
                           ng-model="password"
                           name="password"
                           required>
                </div>
                <div class="form-group p-bottom-15">
                    <label name="cnfmPwd">CONFIRM PASSWORD</label>
                    <span class="inline-block validation-on pull-right"
                          ng-show="recoverEmailForm.recoverEmail.$invalid &&
                           !recoverEmailForm.recoverEmail.$pristine">
                           required filed
                     </span>
                    <input type="password"
                           class="animated  form-control login-text"
                           id="cnfmPwd"
                           ng-model="cnfmPwd"
                           name="cnfmPwd"
                           required>
                </div>
            </form>

            <div
                    ng-click="ResetPassword()"
                    class="login-btn">
                RESET&nbspPASSWORD
            </div>
            <!--</div>-->
            <div ng-if="isRecoverEmail" class="loading-btn">
                please wait..
            </div>

        </div>


        <!--<div class="forget-pwd-wrp">-->
        <!--<p>Having trouble signing in?</p>-->
        <!--<ul>-->
        <!--<li>-->
        <!--<div ng-click="BackToLogin()"  tooltip-placement="low" uib-tooltip="password reset using email"-->
        <!--class="round-footer-icon-login">-->
        <!--<i class="ti-email"></i>-->
        <!--</div>-->
        <!--</li>-->
        <!---->
        <!--</ul>-->

        <!--</div>-->

    </div>
</div>