<section id="AgentDialerUi" class="dialer-052017 main-wrapper animated display-none" ng-style="!isMinimizeDialer ? {'overflow':'visible'} : null" ng-controller="agentDialerControl">
    <div id="customBatchContainer" class="custom-batch-container">
        <div class="custom-batch-item" ng-repeat="opt in BatchNames track by opt" ng-click="getALlPhoneContactByBatchName(opt);">{{opt}}</div>
    </div>

    <!-- <div class="header-052017 inline-h modal-header-052017 small batchSelectScreen">
        <ul>
            <li class="pull-left" style="padding: 9px 0">
                Auto Number Dialer
            </li>

            <li class="pull-right">
                <div class="model-btn-wrapper" style="padding: 0">
                    <div class="btn-warp">
                        <span class="btn btn-template-primary btn-circle" ng-click="stopDialer();">
                            <i class="ti-close" title="Close dialer"></i>
                        </span>
                    </div>
                </div>
            </li> -->

    <!--<li class="pull-right" id="btn-close" >-->
    <!--<div  ng-click="stopDialer();">-->
    <!--class="header-r-icon-052017 with-text" style="line-height: 2.1">-->
    <!--<i class="ti-close"></i>-->
    <!--</div>-->
    <!--</li>-->

    <!-- </ul>
    </div> -->

    <!-- select batch number here -->
    <div id="batchSelectScreen" class="dialer-052017 select-batch-wrp batchSelectScreen" style="background: linear-gradient(-180deg, #603281 0%, #812C87 100%);overflow: auto">
        <div class="batch-num-wrp" style="width: 60%;float:left">
            <div class="form-group" style="margin-bottom: 0">
                <div id="customBatchBar" ng-click="openDialerBatch()" style="height: 40px;padding: 10px;background: #ffffff38;border-radius: 3px;color: #fff;cursor: pointer">
                    <span id="selectedBatchName">{{BatchName ? BatchName : 'Choose batch..'}}</span>
                    <i id="showBatchArrow" class="ti-arrow-up" style="float: right"></i>
                </div>
                <!--<select class="form-control txt-input-052017" ng-model="BatchName" ng-change="getALlPhoneContactByBatchName();" ng-options="opt as opt for opt in BatchNames track by opt" required style="color: #aaa!important;border-color: rgb(170, 170, 170)">-->
                    <!--<option disabled value=''>Choose batch..</option>-->
                <!--</select>-->
            </div>
        </div>

        <div ng-if="BatchName" style="float:left;padding: 13px 0">
            <button type="button" ng-if="!isLoading" ng-click="goToDialer();" ng-disabled="!BatchName" class="btn btn-save-052017">
                GO TO DIALER
            </button>
            <button type="button" ng-if="isLoading" disabled class="btn">
                Pleae wait...
            </button>
        </div>
    </div>

    <div class="model-btn-wrapper xs-buttons" style="padding: 2px 3px; position: absolute; right: 1px; bottom: 1px; z-index: 1;background: rgb(84, 50, 108);border-left: solid 1px rgb(146, 71, 200);" ng-show="miniDialer">
        <div class="btn-warp dialar-minimiz-btn" title="Hide dialer" ng-style="isMinimizeDialer ? {'margin-right' : '-8px', 'margin-top' : '-2px'} : null">
            <span class="btn btn-template-primary btn-circle" ng-click="minimizeDialer();">
                <i class="fa fa-angle-double-right" ng-hide="isMinimizeDialer"></i>
                <span class="view-dialer" ng-show="isMinimizeDialer">
                    <i class="fa fa-angle-double-left"></i> Expand Dialer</span>
            </span>
        </div>
        <div id="maxdial" class="btn-warp display-none" title="Maximize dialer" ng-click="miniDialer == true">
            <span class="btn btn-template-primary btn-circle" ng-click="toggleDialerNumberList()">
                <i class="ti-minus" ng-if="!miniDialer"></i>
                <i class="ti-fullscreen" ng-if="miniDialer"></i>
            </span>
        </div>
        <div class="btn-warp" ng-hide="isMinimizeDialer" title="Close dialer">
            <span class="btn btn-template-primary btn-circle" ng-click="stopDialer();">
                <i class="ti-close"></i>
            </span>
        </div>
    </div>


    <!-- found contact  number :) -->
    <div id="mainDialerScreen" class="animated display-none">

        <div class="header-052017 inline-h modal-header-052017 small" style="margin-bottom: 0px" ng-style="isMinimizeDialer ? {'padding' : '0'} : null"
            ng-hide="miniDialer">
            <ul>
                <li class="dialerScreen-title pull-left" ng-hide="isMinimizeDialer" style="padding: 9px 0">
                    Auto Number Dialer
                </li>
                <li class="pull-right">

                    <div class="model-btn-wrapper" style="padding: 0">

                        <div class="btn-warp dialar-minimiz-btn" title="Hide dialer" ng-style="isMinimizeDialer ? {'margin-right' : '-8px', 'margin-top' : '-2px'} : null">
                            <span class="btn btn-template-primary btn-circle" ng-click="minimizeDialer();">
                                <i class="fa fa-angle-double-right" ng-hide="isMinimizeDialer"></i>
                                </span>
                        </div>
                        <div class="btn-warp" title="Minimize dialer" ng-click="miniDialer == true" title="Close dialer">
                            <span class="btn btn-template-primary btn-circle" ng-click="toggleDialerNumberList()">
                                <i class="ti-minus" ng-if="!miniDialer"></i>
                                <i class="ti-fullscreen" ng-if="miniDialer"></i>
                            </span>
                        </div>
                        <div class="btn-warp" ng-hide="isMinimizeDialer" title="Close dialer">
                            <span class="btn btn-template-primary btn-circle" ng-click="stopDialer();">
                                <i class="ti-close"></i>
                            </span>
                        </div>
                    </div>
                </li>
                <li class="pull-right">
                    <div ng-hide="isMinimizeDialer" style="margin-right: 10px;width: 190px">
                        <select class="form-control txt-input-052017" id="Extensions" ng-model="BatchName" ng-change="getALlPhoneContactByBatchName();"
                            ng-options="opt as opt for opt in BatchNames track by opt" required>
                            <option disabled value=''>Choose batch name here</option>
                        </select>
                    </div>
                </li>
                <!--<li class="pull-right" >-->
                <!--<div ng-click="minimizeDialer(); "-->
                <!--class="header-r-icon-052017 with-text" title="AUTO NUMBER DIALER" style="line-height: 2.1">-->
                <!--<i class="fa fa-angle-double-right" title="AUTO NUMBER DIALER" ng-hide="isMinimizeDialer"></i>-->
                <!--<i class="fa fa-angle-double-left" title="AUTO NUMBER DIALER" ng-show="isMinimizeDialer"></i>-->
                <!--</div>-->
                <!--</li>-->

                <!--<li class="pull-right" id="btn-close-dialer" ng-hide="isMinimizeDialer">-->
                <!--<div ng-click="stopDialer(); "-->
                <!--class="header-r-icon-052017 with-text">-->
                <!--<i class="ti-close"></i>-->
                <!--</div>-->
                <!--</li>-->
                <!--<li class="pull-right" id="btn-close1">
                <div ng-click="reminderMe.close()"
                class="header-r-icon-052017 with-text">
                <i class="ti-close"></i>
                </div>
                </li>-->
            </ul>
        </div>

        <!-- body -->

        <div class="dialer-052017-body" ng-hide="miniDialer">
            <div ng-show="contactList.length" id="tblDialerWrp" slimscroll="{height: '190px',
                                    railVisible: true,
                                    color: '#8A8E86',
                                    size: '8px',
                                    distance: '5px',
                                    railColor: '#8A8E86',
                                    railBorderRadius: 10}" class="dialer-052017-tbl-wrp tbDialerWrpId">
                <table class="table">
                    <thead>
                        <tr class="t-dialer-h">
                            <th>NUMBER</th>
                            <th>DATA</th>
                            <th>Disposition</th>
                            <th>Attempt</th>
                        </tr>
                    </thead>
                    <tbody ui:sortable ng:model="contactList">
                        <tr ng:repeat="item in contactList" class="t-dialer-b">
                            <th scope="row">{{item.ContactNumber}}</th>
                            <td>{{item.OtherData}}</td>
                            <td>{{item.DialerState}}</td>
                            <td>{{item.AttemptCount}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="dialer-052017-tbl-wrp tbDialerWrpId" ng-hide="contactList.length">

                <div class="table profile-data-error" ng-hide="isLoading">
                    <img src="assets/img/number-not-found.png" width="100"> No pending numbers
                </div>

                <div class=" please-wait table" ng-show="isLoading">
                    Please Wait...
                </div>

            </div>
        </div>



        <div style="background-image :linear-gradient(-180deg, #603281 0%, #812C87 100%);height: 60px !important;width: 100%;text-align: center;display:block">
            <div id="btn-start" ng-click="startDialer();" ng-show="contactList.length" class="btn-template-primary btn-circle dialer-btn play-wrp" style="margin-top: 12px"
                title="Start">
                <i class="fa fa-play"></i>
            </div>
            <div ng-click="getALlPhoneContactByBatchName();" title="Reload" class="play-wrp display-none" id="agent_dialer_reload" ng-hide="contactList.length">
                <a class="close-link btn btn-template-primary btn-circle " ng-click="getALlPhoneContactByBatchName();">
                    <i class="fa fa-refresh"></i>
                </a>
            </div>
            
            <div ng-hide="isMinimizeDialer || contactList.length == 0" id="dialerDetails" class="dialer-052017
                    dialer-details
                    dialerDetailsId" style="background-image :linear-gradient(-180deg, #603281 0%, #812C87 100%);
                    /*border-bottom: 1px solid #e8c6ff;
                    border-top:1px solid  #e8c6ff;*/
                    height: 60px !important;
                    padding: 10px !important;">
                <ul class="customer-style-ul inline-list">

                    <!--<li id="btn-resume"-->
                    <!--class="display-none btnResumeId">-->
                    <!--<div class="dialer-052017 save-list cursor-pointer">-->
                    <!--<i class="fa fa-step-forward"></i>-->
                    <!--</div>-->
                    <!--</li>-->

                    <li id="btn-pause" class="display-none">
                        <div ng-click="pauseDialer();" class="btn btn-template-primary btn-circle dialer-052017 save-list cursor-pointer" title="Pause dialer">
                            <i class="fa fa-pause"></i>
                        </div>
                    </li>
                    <li id="btn-stop">
                        <div class="dialer-btn btn-template-primary btn-circle dialer-btn play-wrp display-none" ng-click="stopDialer();" title="Stop dialer">
                            <i class="fa fa-pause"></i>
                        </div>
                    </li>

                    <li id="btn-resume" class="display-none">
                        <div ng-click="resumeDialer();" class="btn btn-template-primary btn-circle dialer-052017 save-list cursor-pointer" title="Resume dialer">
                            <i class="fa fa-step-forward"></i>
                        </div>
                    </li>

                    <li class="dialer-save dialer-save--first"></li>
                    <li class="dialer-save">
                        <div class="dialer-052017 current-item" style="font-size:18px; letter-spacing: 1px">
                            <div class="dialer-052017--current-number">{{currentItem.ContactNumber}}</div>
                        </div>
                    </li>

                    <li class="dialer-052017--city-form dialer-save">
                        <div class="dialer-052017 current-item">
                            <input type="text" class="form-control" style="width: 80px;height: 35px" ng-model="currentItem.OtherData">
                        </div>
                    </li>
                    <li class="dialer-052017--action-form dialer-save">
                        <div class="dialer-052017 current-item">
                            <select class="form-control" ng-model="currentItem.DialerState" style="height: 35px">
                                <option ng-repeat="s in Disposition">{{s}}</option>
                            </select>
                        </div>
                    </li>

                    <li class="dialer-save">
                        <div class="dialer-052017 current-item">
                            {{currentItem.AttemptCount}}
                            <span class="attempt-count">Attempts</span>
                        </div>
                    </li>

                    <li class="dialer-save" style="padding-right:0;">
                        <div class="dialer-052017 current-item">
                            <input type="checkbox" id="blankCheckbox" value="option1" aria-label="..." ng-model="currentItem.Redial" class="display-none">
                            <span style="padding: 0 5px;display: inline-block;position: relative;top: -2px;cursor: pointer" 
                            ng-click="currentItem.Redial = !currentItem.Redial"
                            title="Redial - {{currentItem.Redial ? 'On' : 'Off'}}">
                                <img src="assets/img/{{currentItem.Redial ? 'redial-on' : 'redial'}}.png" alt="Redial" />
                            </span>
                        </div>
                    </li>

                    <li class="dialer-save dialer-save--last"></li>

                    <li id="btn-update" class="btnUpdateId display-none">
                        <div class="btn btn-template-primary btn-circle dialer-052017 save-list cursor-pointer " ng-click="updateContactStatus(currentItem);"
                            title="Save Current Dialer">
                            <i class="fa fa-save"></i>
                        </div>
                    </li>

                    <!-- <li class="current-dialer-bar-controllers" ng-show="miniDialer">
                        <div class="model-btn-wrapper xs-buttons" style="padding: 0">
                            <div class="btn-warp dialar-minimiz-btn" title="Hide dialer" ng-style="isMinimizeDialer ? {'margin-right' : '-8px', 'margin-top' : '-2px'} : null">
                                <span class="btn btn-template-primary btn-circle" ng-click="minimizeDialer();">
                                    <i class="fa fa-angle-double-right" ng-hide="isMinimizeDialer"></i>
                                    <span class="view-dialer" ng-show="isMinimizeDialer">
                                        <i class="fa fa-angle-double-left"></i> Expand Dialer</span>
                                </span>
                            </div>
                            <div class="btn-warp" title="Minimize dialer" ng-click="miniDialer == true">
                                <span class="btn btn-template-primary btn-circle" ng-click="miniDialer = !miniDialer">
                                    <i class="ti-minus" title="Minimize dialer" ng-if="!miniDialer"></i>
                                    <i class="ti-fullscreen" title="Minimize dialer" ng-if="miniDialer"></i>
                                </span>
                            </div>
                            <div class="btn-warp" ng-hide="isMinimizeDialer" title="Close dialer">
                                <span class="btn btn-template-primary btn-circle" ng-click="stopDialer();">
                                    <i class="ti-close"></i>
                                </span>
                            </div>
                        </div>
                    </li> -->

                </ul>

            </div>
        </div>





    </div>

    <span id="agentDialerMinmized" class="view-dialer" ng-show="isMinimizeDialer" ng-click="minimizeDialer()">
        <i class="fa fa-chevron-circle-left"></i> Expand Dialer
    </span>

</section>