@media (min-width: 500px) and (max-width: 600px) {
    .model-btn-wrapper {
        text-align: left;
    }

    .model-header {
        padding-bottom: 20px;
    }

    .layout-header > div > .btn-wrapper {
        text-align: left;
    }

    /* user profile */
    .right-btn-052017 {
        float: left;
    }

}

@media screen and (min-width: 400px) and (max-width: 200px) {
    .model-btn-wrapper {
        text-align: left;
    }

    .layout-header > div > .btn-wrapper {
        text-align: left;
    }

    /* user profile */
    .right-btn-052017 {
        float: left;
    }

    .eng-channel-052017 {
        width: 100%;
        display: block;
    }

}

@media screen and (min-width: 700px) and (max-width: 1000px) {
    .model-btn-wrapper {
        text-align: left;
    }

    .layout-header > div > .btn-wrapper {
        text-align: left;
    }

    /* user profile */
    .right-btn-052017 {
        float: left;
    }

    .eng-channel-052017 {
        width: 100%;
        display: block;
    }

    .channel-main-wrapper {
        padding-right: 15px;
    }

}

@media (min-width: 1200px) {

    .col-lg-3-resize {
        width: 20%;
    }

    .mobile-version-message {
        display: none;
    }
}

/*samll screen*/
.mobile-version-message {
    position: absolute;
    top: 15px;
    right: -6px;
    color: rgb(145, 211, 70);
    z-index: 100;
    text-transform: capitalize;
    display: none;
}



@media (max-width: 750px) and  (min-width: 150px) {
    #headerTopMenu {
        display: none;
    }

}

@media (max-width: 750px) and  (min-width: 150px) {

    .mobile-version-message {
        display: block;
    }
}

@media (max-width: 980px) and  (min-width: 150px) {
    #mainSearchBar {
        /* display: none; */
    }

    #headerAgentName {
        display: none;
    }

}

@media (max-width: 1300px) and (min-width: 150px) {
    .time-tracker-wrapper {
        display: none;
    }

    .eng-channel-052017 {
        width: 100%;
        display: block;
    }

    .channel-main-wrapper {
        padding-right: 15px;
    }

    .eng-channel-052017 {
        margin-bottom: 8px;
    }

    /*#desktop_menu {*/
    /*display: none;*/
    /*}*/
    /*#mobile-menu {*/
    /*display: block;*/
    /*}*/
}

