<script type="text/ng-template" id="customTemplate.html">
    <a>
        <img class="assignee-icon" src="assets/img/avatar/defaultProfile.png" ng-src="{{match.model.avatar}}">
        <span ng-bind-html="match.label | uibTypeaheadHighlight:query"></span>
    </a>
</script>

<div class="user-p-c-n-ticket-052017">


    <!-- user profile ticket header -->
    <div class="user-p-t-header-052017" style="display: none">
        <div class="header-052017 animated slideInDown">
            create new ticket
        </div>
    </div>

    <!-- user profile ticket body -->
    <!--<div class="col-lg-10 col-lg-offset-1">-->
    <div class="col-lg-12">
        <div class="user-p-t-body-052017 create-new-t" style="margin: 10px 0;">
            <div>
                <div class="c-ticket-main-wrapper" style="min-height: auto">
                    <form name="addNewTicketForm" novalidate>
                        <!-- Basic info view -->
                        <div>
                            <div class="header-052017 modal-header inline-h" style="margin-bottom: 0">
                                <ul>
                                    <li class="pull-left">
                                        Create New Ticket
                                    </li>
                                    <li class="pull-right">
                                        <div class="header-r-icon-052017 with-text"
                                             ng-click="closeNewTicket();"  title="Close Ticket [Alt+Shift+T]">
                                            <i class="ti-close"></i>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                            <div class="modal-body-052017 animated fadeIn" style="padding-bottom: 0px;padding-top: 0">

                                <div style="display: flex;align-items: center start">
                                    <!-- subject -->
                                    <div class="form-group col-lg-6 no-padding-l"
                                         ng-class="{ 'validation-on-052017': addNewTicketForm.ticketsubject.$invalid &&
                      addNewTicketForm.ticketsubject.$dirty }" style="flex: 1">
                                        <label class="label-052017"
                                               for="exampleInputEmail1">
                                            Subject*
                                        </label>
                                        <!-- txt-input-052017 -->
                                        <input type="text" class="form-control txt-input-052017"
                                               id="subject"
                                               name="ticketsubject"
                                               ng-model="ticket.subject"
                                               required placeholder="subject"/>

                                        <div class="col-lg-12 no-padding">

                                            <label class="label-052017"
                                                   for="exampleInputEmail1">
                                                Priority
                                            </label>
                                            <div class="user-p-t-tags-052017">
                                                <ul class="customer-style-ul">
                                                    <li>
                                                        <button class="btn btn-tag-sm"
                                                                ng-class="{'selected-this low':ticket.priority=='low'}"
                                                                ng-click="setPriority('low');">
                                                            <i class="fa fa-check"></i>
                                                            LOW
                                                        </button>
                                                    </li>
                                                    <li>
                                                        <button class="btn btn-tag-sm normal"
                                                                ng-class="{'selected-this':ticket.priority=='normal'}"
                                                                ng-click="setPriority('normal');">
                                                            <i class="fa fa-check"></i>
                                                            NORMAL
                                                        </button>
                                                    </li>
                                                    <li>
                                                        <button class="btn btn-tag-sm high"
                                                                ng-class="{'selected-this':ticket.priority=='high'}"
                                                                ng-click="setPriority('high');">
                                                            <i class="fa fa-check"></i>
                                                            HIGH
                                                        </button>
                                                    </li>
                                                    <li>
                                                        <button class="btn btn-tag-sm"
                                                                ng-class="{'selected-this urgent':ticket.priority=='urgent'}"
                                                                ng-click="setPriority('urgent');">
                                                            <i class="fa fa-check"></i>
                                                            URGENT
                                                        </button>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- description -->
                                    <div class="form-group col-lg-6 no-padding-r"
                                         ng-class="{ 'validation-on-052017': addNewTicketForm.ticketDescription.$invalid &&
                     addNewTicketForm.ticketDescription.$dirty }" style="flex: 1">
                                        <label class="label-052017"
                                               for="exampleInputEmail1">
                                            Description*
                                        </label>
                                        <textarea ng-model="ticket.description" class="form-control txt-input-052017"
                                                  rows="3"
                                                  name="ticketDescription" required
                                                  placeholder="Description"></textarea>
                                    </div>
                                </div>

                                <div class="form-group" style="margin-bottom: 0">
                                    <div class="row">

                                        <div class="row form-group">
                                            <div class="col-lg-6 no-padding-l">
                                                <div class="form-group"
                                                     ng-class="{ 'validation-on-052017': addNewTicketForm.ticketBUnit.$invalid && addNewTicketForm.ticketBUnit.$dirty }">
                                                    <label class="label-052017"
                                                           for="exampleInputEmail1">
                                                        BusinessUnit*
                                                    </label>
                                                    <select class="form-control txt-input-052017" ng-model="ticketBUnit" ng-change="setBUnit(ticketBUnit)"
                                                            name="ticketBUnit"
                                                            required
                                                            placeholder="Select">Business Units
                                                        <option ng-repeat="bUnit in businessUnits"
                                                                value="{{bUnit.unitName}}">
                                                            {{bUnit.unitName}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 no-padding-r">
                                                <div class="form-group"
                                                     ng-class="{ 'validation-on-052017': addNewTicketForm.ticketType.$invalid && addNewTicketForm.ticketType.$dirty }">
                                                    <label class="label-052017"
                                                           for="exampleInputEmail1">
                                                        Type*
                                                    </label>
                                                    <select class="form-control txt-input-052017" ng-model="ticket.type"
                                                            name="ticketType"
                                                            required
                                                            placeholder="Select">availableTicketTypes
                                                        <option ng-repeat="tType in availableTicketTypes"
                                                                value="{{tType}}">
                                                            {{tType}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>


                    <div class="modal-body-052017" style="padding-top: 0px;">
                        <!-- tags -->
                        <div class="form-group">
                            <label class="label-052017">tags</label>
                            <div class="tag-reload-052017"
                                 ng-click="loadTags();"> Reload
                            </div>

                            <div class="row">
                                <tags-input ng-model="newAddTags" placeholder="choose Tags"
                                            replace-spaces-with-dashes="false"
                                            display-property="name"
                                            add-from-autocomplete-only="true"
                                            on-tag-removing="itemIndex($tag)"
                                            on-tag-added="onChipAddTag($tag)"
                                            on-tag-removed="onChipDeleteTag($tag)"
                                            ng-disabled=""
                                            min-length="1"
                                            class="col-lg-6 no-padding-l">
                                    <auto-complete source="queryTagSearch($query)"
                                                   load-on-empty="true"
                                                   load-on-focus="true"  max-results-to-show="500"
                                                   min-length="1"></auto-complete>
                                </tags-input>
                                <tags-input ng-model="postTags" display-property="name" placeholder="..."
                                            add-on-enter="false"
                                            add-on-space="false"   add-on-comma="false" add-on-blur="false"
                                            add-on-paste="false"
                                            on-tag-removed="onIsolatedTagRemoved()"
                                            class="col-lg-6 no-padding-r">
                                    <auto-complete source="loadPostTags($query)"></auto-complete>
                                </tags-input>
                            </div>
                        </div>

                        <div class="row">
                            <!-- assign user -->
                            <div class="form-group col-lg-6 no-padding-l">
                                <label class="label-052017">
                                    assignee user
                                </label>
                                <div class="scrollable-dropdown-menu">
                                    <input type="text" ng-model="ticket.assignee"
                                           uib-typeahead="assignee as assignee.displayname for assignee in assigneeUserData | filter:{displayname:$viewValue}"
                                           class="form-control txt-input-052017"
                                           typeahead-show-hint="true"
                                           typeahead-min-length="0"
                                           typeahead-template-url="customTemplate.html">

                                </div>
                            </div>


                            <!-- related ricket -->
                            <div class="form-group col-lg-6 no-padding-r">
                                <label class="label-052017">Related Tickets</label>
                                <tags-input ng-model="ticket.related" placeholder="choose Ticket"
                                            replace-spaces-with-dashes="false"
                                            display-property="displayData"
                                            add-from-autocomplete-only="true"
                                            ng-disabled="" min-length="1">
                                    <auto-complete source="queryTicketList($query)"
                                                   load-on-empty="true"
                                                   load-on-focus="true"
                                                   min-length="1"></auto-complete>
                                </tags-input>
                            </div>
                        </div>

                        <button type="button" class="btn btn-create-052017" ng-click="showOtherData = !showOtherData">More..</button>
                        <div ng-show="showOtherData" style="margin-top: 10px">
                            <label class="label-052017" id="otherData">Other Data</label>
                            <div class="form-group create-n-t-dy-frm-wrapper ticket-otherdata-block" slimscroll="{height: '200px',
                                    railVisible: true,
                                    color: '#CFD0CE',
                                    size: '8px',
                                    distance: '5px',
                                    railColor: '#CFD0CE',
                                    railBorderRadius: 10}">
                                <form name="customForm" sf-schema="schemaw" sf-form="formw" sf-model="modelw"
                                      ng-submit="onSubmit(customForm)"></form>
                            </div>
                        </div>
                        <!--</div>-->
                    </div>
                </div>


                    <!-- related ricket -->
                    <!--<div class="form-group">-->
                        <!--<label class="label-052017">Related Tickets</label>-->
                        <!--<tags-input ng-model="ticket.related" placeholder="choose Ticket"-->
                                    <!--replace-spaces-with-dashes="false"-->
                                    <!--display-property="displayData"-->
                                    <!--add-from-autocomplete-only="true"-->
                                    <!--ng-disabled="" min-length="1">-->
                            <!--<auto-complete source="queryTicketList($query)"-->
                                           <!--load-on-empty="true"-->
                                           <!--load-on-focus="true"-->
                                           <!--min-length="1"></auto-complete>-->
                        <!--</tags-input>-->
                    <!--</div>-->

                    <!--<div ng-if="schemaw" class="form-group t-custom-form-wrapper"-->
                         <!--slimscroll="{height: '200px',-->
            <!--railVisible: true,-->
            <!--color: '#777',-->
            <!--size: '8px',-->
            <!--distance: '5px',-->
            <!--railColor: '#fff',-->
            <!--railBorderRadius: 10}">-->
                        <!--<form name="customForm" sf-schema="schemaw" sf-form="formw" sf-model="modelw"-->
                              <!--ng-submit="onSubmit(customForm)"></form>-->


                    <!--</div>-->

                    <!--<div class="form-group" style="margin-top: 20px">-->
                        <!--<button ng-if="!isSaveingTicket" ng-click="saveTicket(ticket,customForm);"-->
                                <!--ng-disabled="addNewTicketForm.$invalid"-->
                                <!--class="btn btn-lg btn-block btn-save-052017">-->
                            <!--create ticket-->
                        <!--</button>-->
                        <!--<button ng-if="isSaveingTicket" disabled-->
                                <!--class="btn btn-lg btn-block btn-save-052017">-->
                            <!--please wait...-->
                        <!--</button>-->
                    <!--</div>-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <div class="form-group c-ticket-footer-wrp text-center">
                    <button ng-if="!isSaveingTicket" ng-click="saveTicket(ticket,customForm);"
                            ng-disabled="addNewTicketForm.$invalid || ticketBUnit === 'default'"
                            class="btn btn-lg btn-save-052017"  hotkey="{'alt+s': saveTicketByKey}" title="Save Ticket [Alt+S]">
                        create ticket
                    </button>
                    <button ng-if="isSaveingTicket" disabled
                            class="btn btn-lg btn-block btn-save-052017">
                        please wait...
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>