@charset "UTF-8";

@font-face {
    font-family: "veery-phone-icon-1";
    src: url("veery-phone-icon-1.eot");
    src: url("veery-phone-icon-1.eot?#iefix") format("embedded-opentype"),
    url("veery-phone-icon-1.woff") format("woff"),
    url("veery-phone-icon-1.ttf") format("truetype"),
    url("veery-phone-icon-1.svg#untitled-font-1") format("svg");
    font-weight: normal;
    font-style: normal;

}

[data-icon]:before {
    font-family: "veery-phone-icon-1" !important;
    content: attr(data-icon);
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="veery-phone-icon-1-"]:before,
[class*=" veery-phone-icon-1-"]:before {
    font-family: "veery-phone-icon-1" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.veery-phone-icon-1-call-ended:before {
    content: "\e073";
}

.veery-phone-icon-1-end-call-button:before {
    content: "\e074";
}

.veery-phone-icon-1-phone-call:before {
    content: "\e075";
}

.veery-phone-icon-1-phone-call-1:before {
    content: "\e076";
}

.veery-phone-icon-1-phone-call-2:before {
    content: "\e077";
}

.veery-phone-icon-1-telephone-keypad-with-ten-keys:before {
    content: "\e078";
}

.veery-phone-icon-1-tiny-video-symbol:before {
    content: "\e079";
}

.veery-phone-icon-1-call-answer:before {
    content: "\61";
}
