<div class="my-note-content">

    <div class="row">
        <div class="note-title">
            {{myNote.title}}
        </div>
    </div>
    <div class="row">
        <div class="note-desc">
            {{myNote.note}}
        </div>
    </div>
    <div class="row">
        <div  ng-if="myNote.due_at">
           <h6>{{myNote.due_at | date:'yyyy-MM-dd HH:mm:ss Z'}}</h6>
        </div>
    </div>
</div>
<div class="row">
    <ul class="note-footer">
        <li ng-click="delete()"
            uib-tooltip="Delete">
            <i class="ti-trash"></i>
        </li>
        <li ng-click="reminder();"
            ng-if="!myNote.check"
            uib-tooltip="Add reminder">
            <i class="ti-time"></i>
        </li>
        <li uib-tooltip="Done"
            ng-if="!myNote.check"
            ng-click="checkMyNote(myNote)">
            <i class="main-icon-2-tap"> </i>
        </li>

    </ul>
    <div class="mynote-check-true" ng-if="myNote.check">
        <i class="ti-check"></i>
    </div>
</div>

<!--<div class="my-note-remind-me" ng-show="isMyNote">-->
    <!--<div class="renote-add-close" ng-click="closeRemindMe()">-->
        <!--<i class="ti-close"></i>-->
    <!--</div>-->
    <!--<div class="header bold row">-->
        <!--Reminder Me-->
    <!--</div>-->

    <!--<div class="remind-body">-->
        <!--&lt;!&ndash;<div class="date">&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="input-group date datepicker">&ndash;&gt;-->
        <!--&lt;!&ndash;<input type="text" class="form-control" placeholder="pick date">&ndash;&gt;-->
        <!--&lt;!&ndash;<span class="input-group-addon"><span class="fa fa-calendar "></span></span>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--<div class="date">-->
            <!--<div moment-picker="myDate"> {{ myDate }} </div>-->
            <!--&lt;!&ndash;<p class="input-group">-->
                <!--<input type="text" class="form-control" datetime-picker="MM/dd/yyyy HH:mm" ng-model="picker.date"-->
                       <!--is-open="picker.open"/>-->
              <!--<span class="input-group-btn">-->
                  <!--<button type="button" class="btn btn-default" ng-click="openCalendar($event, 'picker')"><i-->
                          <!--class="fa fa-calendar"></i></button>-->
              <!--</span>&ndash;&gt;-->
            <!--</p>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->