<div ng-show="ticketList.length==0" class="data-not-found" style="">
    - DATA NOT FOUND -
</div>

<div class="profile-ticket-wrapper" ng-repeat="ticket in ticketList">

    <div class="profile-ticker-wrap "
         ng-class="{'high-boarder':ticket.priority=='high',
                        'normal-boarder':ticket.priority=='normal',
                        'low-boarder':ticket.priority=='low',
                        'urgent-boarder':ticket.priority=='urgent'}">
        <div class="ticket-channel call"
             ng-class="{'api-channel':ticket.channel=='api',
                  'twitter-channel':ticket.channel=='twitter',
                  'call-channel':ticket.channel=='call',
                  'facebook-channel':ticket.channel=='facebook-post',
                  'sms-channel':ticket.channel=='sms',
                  'email-channel':ticket.channel=='email'}">
            <i class=""
               ng-class="{'fa fa-random':ticket.channel=='api',
                  'fa fa-twitter':ticket.channel=='twitter',
                   'fa fa-facebook':ticket.channel=='facebook-post',
                  'fa fa-phone':ticket.channel=='call',
                  'fa fa-bookmark-o':ticket.channel=='new',
                  'fa fa-bell-o':ticket.channel=='sms',
                  'fa fa-envelope-o':ticket.channel=='email'}"></i>
        </div>


        <div class="right-ticket-details ">
            <div class="col-md-12 p-0">
                <div class="col-md-2 p-0">
                    <div class="left-avatar">
                        <img class="object-fit_cover" src="assets/img/avatar/avater_ticket.jpg"
                             ng-src="{{ticket.submitter.avatar}}">
                    </div>
                </div>
                <div class="col-md-8 ">
                    <div class="ticker-id bold" ng-click="gotoTicket(ticket)">
                        {{ticket.reference}}
                        <small class="color-cyan500 text-uppercase">
                            <time-ago from-time='{{ticket.created_at}}' format='MM/dd/yyyy'></time-ago>
                        </small>
                    </div>
                    <div class="ticket-subj bold">
                        {{ticket.type}}
                        <small ng-class="{'high':ticket.priority=='high',
                        'normal':ticket.priority=='normal','low':ticket.priority=='low','urgent':ticket.priority=='urgent'}">
                            {{ticket.priority}}
                        </small>
                    </div>
                    <div class="">
                        {{ticket.subject}}

                    </div>
                    <!--<div class="ticket-desc">
                        <div class="pull-left">
                            <div class="ticket-desc">
                                {{ticket.description}}
                            </div>
                        </div>
                    </div>-->
                </div>
                <div class="col-md-2">
                    <div class="row">
                        <ul class="info-list-lg ticket-details-list pull-left">
                            <li>
                                <small>OWNER</small>
                                <h5>{{ticket.submitter.displayname}}</h5>
                            </li>
                        </ul>
                    </div>

                    <div class="row">
                        <ul class="info-list-lg ticket-details-list pull-left">
                            <li>
                                <small>USER</small>
                                <h5>{{ticket.requester.displayname}}</h5>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div ng-show="ticketList.length!=0" class="load-more-wrapper">
    <h5 ng-show="!isLoadingTicke" ng-click="loadNextTickets();"> Load More</h5>
    <h5 ng-show="isLoadingTicke"><i class="fa fa-spinner fa-spin"></i></h5>
</div>
<!--<div class="btn-warp inline-btn  ">-->
<!--<span class="btn  btn-default btn-sm "-->
<!---->
<!--&gt;Load more</span>-->
<!--</div>-->