<div id="mainTicketWrapper" class="animated view-ticket-wrapper " ng-controller="ticketCtrl">
    <div class="container">
        <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
            <div class="ticket-wrap">
                <div class="model-header">
                    <div class="col-md-6">
                        <div class="mode-left-icon">
                            <i class="veery-font-1-notepad"></i>
                        </div>
                        <div class="model-header-text">
                            Ticket Inbox
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6 ">
                        <div class="model-btn-wrapper">
                            <fieldset class="btn-warp">
                                <button id="rldbtn" class="btn btn-default2 " ng-disabled="!(ticketList.doneSt && ticketList.toDoSt && ticketList.inProgressSt)" ng-click="reloadTickets()"> Refresh </button>
                            </fieldset>
                            <fieldset class="btn-warp">
                                <button id="mybtn" class="btn btn-default2" ng-disabled="!(ticketList.doneSt && ticketList.toDoSt && ticketList.inProgressSt)"
                                      ng-class="{'selected-this-btn':ticketList.loadListStatus=='MY'}"
                                      ng-click="switchTickets('MY')">My Tickets</button>
                            </fieldset>
                            <fieldset class="btn-warp">
                                <button id="grpbtn" class="btn btn-default2" ng-disabled="!(ticketList.doneSt && ticketList.toDoSt && ticketList.inProgressSt)"
                                      ng-class="{'selected-this-btn':ticketList.loadListStatus=='GROUP'}"
                                      ng-click="switchTickets('GROUP')">Group</button>
                            </fieldset>
                            <fieldset class="btn-warp ">
                                <button class="btn btn-default btn-close"
                                      ng-click="closeTicketInbox()"
                                      id="closeTicket">Close</button>
                            </fieldset>
                        </div>
                    </div>
                </div>

                <div class="ticket-list-wrapper">
                    <!-- #todolist -->
                    <div class="col-md-4 " id="todo-block">
                        <div class="ticket-list-header">
                            TODO ({{ticketList.toDo.length}})
                        </div>
                        <div ng-slimscroll
                             opacity="0.1"
                             distance="5px"
                             height="480px"
                             width="100%"
                             ng-mouseover="chatWidgetscrollEnabled = true"
                             ng-mouseleave="chatWidgetscrollEnabled = false"
                             enabled="{{ chatWidgetscrollEnabled }}"
                             id="scrltodo">
                            <div class="ticket-details"
                                 ng-class="{'high-boarder':todo.priority=='high',
                        'normal-boarder':todo.priority=='normal',
                        'low-boarder':todo.priority=='low',
                        'urgent-boarder':todo.priority=='urgent'}"
                                 id="todo-items" ng-repeat="todo in ticketList.toDo">
                                <div class="col-lg-3">
                                    <div class="ticket-icon user-list  ">
                                        <img src="assets/img/avatar/defaultProfile.png"
                                             ng-src="{{todo.assignee.avatar}}"
                                             ng-src=""
                                             title="{{todo.displayname}}">

                                    </div>

                                </div>
                                <div class="col-lg-9">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="notification-time ">
                                                {{todo.type}}
                                            </div>
                                            <div ng-class="{'api-channel':todo.channel=='api',
                                                'twitter-channel':todo.channel=='twitter',
                                                'call-channel':todo.channel=='call',
                                                'facebook-channel':todo.channel=='facebook-post',
                                                'voicemail-channel':todo.channel=='voicemail',
                                                'sms-channel':todo.channel=='sms',
                                                'email-channel':todo.channel=='email'}">
                                                <i class=""
                                                   ng-class="{'fa fa-random':todo.channel=='api',
                  'fa fa-twitter':todo.channel=='twitter',
                   'fa fa-facebook':todo.channel=='facebook-post',
                  'fa fa-phone':todo.channel=='call',
                  'fa fa-bookmark-o':todo.channel=='new',
                  'fa fa-volume-control-phone':todo.channel=='voicemail',
                  'fa fa-bell-o':todo.channel=='sms',
                  'fa fa-envelope-o':todo.channel=='email'}"></i>
                                            </div>

                                        </div>
                                        <div class="col-lg-6" style="padding-right: 0px;">
                                            <div class="notification-ref link pull-right" ng-click="gotoTicket(todo)">
                                                {{todo.reference}}
                                            </div>

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="notification-text ">
                                            <div class="col-lg-12"> {{todo.subject}}</div>
                                            <div class="notification-time group pull-right">
                                                {{todo.timeDelay}}
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="ticket-list-header">
                            IN PROGRESS ({{ticketList.inProgress.length}})
                        </div>
                        <div ng-slimscroll
                             opacity="0.1"
                             distance="5px"
                             height="480px"
                             width="100%"
                             ng-mouseover="chatWidgetscrollEnabled = true"
                             ng-mouseleave="chatWidgetscrollEnabled = false"

                             id="scrlopen">
                            <div class="ticket-details in-progress"
                                 ng-class="{'high-boarder':inprogress.priority=='high',
                        'normal-boarder':inprogress.priority=='normal',
                        'low-boarder':inprogress.priority=='low',
                        'urgent-boarder':inprogress.priority=='urgent'}"
                                 ng-repeat="inprogress in ticketList.inProgress">
                                <div class="col-lg-3">
                                    <div class="ticket-icon user-list">
                                        <img id="inprogpic" src="assets/img/avatar/defaultProfile.png"
                                             ng-src="{{inprogress.assignee.avatar}}" title="{{inprogress.displayname}}">
                                            <!-- ng-src="{{inprogress.assignee.avatar}}" title={{inprogress.assignee.name?inprogress.assignee.name:inprogress.assignee_group.name}}>-->



                                    </div>
                                </div>
                                <div class="col-lg-9">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="notification-time ">
                                                {{inprogress.type}}
                                            </div>
                                            <div ng-class="{'api-channel':inprogress.channel=='api',
                                                'twitter-channel':inprogress.channel=='twitter',
                                                'call-channel':inprogress.channel=='call',
                                                'facebook-channel':inprogress.channel=='facebook-post',
                                                'voicemail-channel':inprogress.channel=='voicemail',
                                                'sms-channel':inprogress.channel=='sms',
                                                'email-channel':inprogress.channel=='email'}">
                                                <i class=""
                                                   ng-class="{'fa fa-random':inprogress.channel=='api',
                  'fa fa-twitter':inprogress.channel=='twitter',
                   'fa fa-facebook':inprogress.channel=='facebook-post',
                  'fa fa-phone':inprogress.channel=='call',
                  'fa fa-bookmark-o':inprogress.channel=='new',
                  'fa fa-volume-control-phone':inprogress.channel=='voicemail',
                  'fa fa-bell-o':inprogress.channel=='sms',
                  'fa fa-envelope-o':inprogress.channel=='email'}"></i>
                                            </div>
                                        </div>
                                        <div class="col-lg-6" style="padding-right: 0px;">
                                            <div class="notification-ref link pull-right"
                                                 ng-click="gotoTicket(inprogress)">
                                                {{inprogress.reference}}
                                            </div>

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="notification-text ">
                                            <div class="col-lg-12"> {{inprogress.subject}}</div>
                                            <div class="notification-time group pull-right">
                                                {{inprogress.timeDelay}}
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 ">
                        <div class="ticket-list-header">
                            DONE ({{ticketList.done.length}})
                        </div>
                        <div ng-slimscroll
                             opacity="0.1"
                             distance="5px"
                             height="480px"
                             width="100%"
                             ng-mouseover="scrollEnabled = true"
                             ng-mouseleave="scrollEnabled = false"
                             enabled="{{ scrollEnabled }}"
                             id="scroldone">
                            <div class="ticket-details"
                                 ng-class="{'high-boarder':done.priority=='high',
                        'normal-boarder':done.priority=='normal',
                        'low-boarder':done.priority=='low',
                        'urgent-boarder':done.priority=='urgent'}"
                                 ng-repeat="done in ticketList.done">
                                <div class="col-lg-3">
                                    <div class="ticket-icon user-list  ">
                                        <img src="assets/img/avatar/defaultProfile.png"
                                             ng-src="{{done.assignee.avatar}}"
                                             ng-src="{{done.assignee.avatar}}"
                                             title="{{done.displayname}}" >
                                    </div>
                                </div>
                                <div class="col-lg-9">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="notification-time ">
                                                {{done.type}}
                                            </div>
                                            <div ng-class="{'api-channel':done.channel=='api',
                                                'twitter-channel':done.channel=='twitter',
                                                'call-channel':done.channel=='call',
                                                'facebook-channel':done.channel=='facebook-post',
                                                'voicemail-channel':done.channel=='voicemail',
                                                'sms-channel':done.channel=='sms',
                                                'email-channel':done.channel=='email'}">
                                                <i class=""
                                                   ng-class="{'fa fa-random':done.channel=='api',
                  'fa fa-twitter':done.channel=='twitter',
                   'fa fa-facebook':done.channel=='facebook-post',
                  'fa fa-phone':done.channel=='call',
                  'fa fa-bookmark-o':done.channel=='new',
                  'fa fa-volume-control-phone':done.channel=='voicemail',
                  'fa fa-bell-o':done.channel=='sms',
                  'fa fa-envelope-o':done.channel=='email'}"></i>
                                            </div>
                                        </div>
                                        <div class="col-lg-6" style="padding-right: 0px;">
                                            <div class="notification-ref link pull-right" ng-click="gotoTicket(done)">
                                                {{done.reference}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="notification-text ">
                                            <div class="col-lg-12"> {{done.subject}}</div>
                                            <div class="notification-time group pull-right">
                                                {{done.timeDelay}}
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

</div>