<div class="row" ng-show="showModal">

    <!--<section class="i-u-profile-052017">-->
        <!--<div class="header-052017 inline-h">-->
            <!--<ul>-->
                <!--<li class="pull-left">-->
                    <!--Select user's profile picture-->
                <!--</li>-->
                <!--<li class="pull-right">-->
                    <!--<div class="header-r-icon-052017">-->
                        <!--<i class="fa fa-close"></i>-->
                    <!--</div>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</div>-->
    <!--</section>-->


    <div class="col-md-12 col-sm-12 col-xs-12">

        <div class="col-md-12 col-sm-12 col-xs-12 user-profile--modal-header">
            <h3>Select user's profile picture</h3>
        </div>

        <div class="x_panel">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 user-profile--modal-uploader">
                    <div class="col-md-8 col-sm-8 col-xs-12"><input type="file" nv-file-select="" uploader="uploader"
                                                                    ng-click="clearQueue()" accept="image/*"/>
                    </div>
                </div>
            </div>

            <div class="row user-profile--modal-uploader-wrap">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="user-profile--modal-uploader">
                        <div class="uploader-title">Original Image:</div>
                        <div class="profileCropArea">
                            <img-crop image="uploader.queue[0].image"
                                      result-image="uploader.queue[0].croppedImage"></img-crop>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="user-profile--modal-uploader">
                        <div class="uploader-title">Cropped Image:</div>
                        <div style="border: 3pt"><img id="cropedArea" ng-src="{{uploader.queue[0].croppedImage}}"/></div>
                    </div>
                </div>
            </div>
            <div class="row user-profile--modal-footer">
                <div class="col-md-3 col-sm-3 col-xs-12 pull-right">
                    <button type="button" ng-click="uploader.queue[0].upload()"
                            ng-disabled="isUploadDisable || uploader.queue[0].isReady || uploader.queue[0].isUploading || uploader.queue[0].isSuccess||!uploader.queue[0]"
                            class="btn btn-default">
                        <span class="fa fa-upload"></span> Upload
                    </button>
                    <button type="button" ng-click="uploader.queue[0].cancel()"
                            ng-disabled="!uploader.queue[0].isUploading"
                            class="btn btn-default">
                        <span class="fa fa-ban-circle"></span> Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>


</div>


