<div class="user-p-left-052017 animated fadeIn">

    <div class="user-p-left-h-052017 profile-h-default">
        <!-- user profile header section -->
        <section class="user-p-h-s-052017">
            <ul>
                <li class="profile-id-052017 profile-default">
                    iD : 0cf96291-3253-44ea-80d0-85baa10b95be
                </li>
                <li class="pull-right right-btn-052017 profile-default ">
                    <div class="btn btn-create-052017 default-btn">
                        create new
                    </div>
                </li>
            </ul>
        </section>
    </div>

    <!-- left user profile detail basic -->
    <section class="user-p-d-052017">
        <div class="user-p-image-052017 default-img">
            <!--<img src="assets/img/avatar/coreyweb.jpg" width="80">-->
        </div>
        <div class="user-p-d-text-052017">
            <ul>
                <li class="tags tags-default">VIP</li>
                <li class="full-name default-full-name"></li>
                <!--<li class="l-update default-full-name"></li>-->
                <!--<li class="p-no default-full-name"></li>-->
                <li class="btn">
                    <div class="btn btn-search-052017 default-btn">
                        SEARCH
                    </div>
                </li>
            </ul>
        </div>

    </section>


    <!-- user profile recent activity -->
    <!-- user profile note -->
    <section class=" user-p-note-052017">
        <div class="header-052017 inline-h">
            <ul>
                <li class="pull-left default-value">
                    NOTES
                </li>
            </ul>
        </div>

        <div class="user-p-tl-wrapper-052017">
            <ul class="user-p-timeline-052017 default-timeline left">
                <li>
                    <div class="r-timeline-052017-badge left default-img"></div>

                    <section class="user-p-r-timeline-panel-052017">
                        <div class="left-t-l-wrapper-052017 default-timeline-panel">

                        </div>
                    </section>
                </li>

                <li>
                    <div class="r-timeline-052017-badge left default-img"></div>

                    <section class="user-p-r-timeline-panel-052017">
                        <div class="left-t-l-wrapper-052017 default-timeline-panel ">

                        </div>
                    </section>
                </li>

            </ul>
        </div>
    </section>

    <!-- user profile location -->
    <section class="user-p-location-052017">
        <div class="header-052017 inline-h">
            <ul>
                <li class="pull-left default-value">
                    LOCATION
                </li>
            </ul>
        </div>

        <!-- location name -->
        <div class="user-p-location-d-052017">
            <ul class="customer-style-ul">
                <li class="location-name-052017 default-value">71 Pilgrim Avenue ,Chevy Chase, MD 20815</li>
            </ul>
        </div>

        <!-- location map -->
        <div class="user-p-l-map-052017 default-value">
            <div class="map-canvas "></div>
        </div>


    </section>

    <!-- user profile note -->
    <section class=" user-p-note-052017">
        <div class="header-052017 inline-h">
            <ul>
                <li class="pull-left default-value">
                    NOTES
                </li>
            </ul>
        </div>

        <div class="user-p-tl-wrapper-052017">
            <ul class="user-p-timeline-052017 default-timeline left">
                <li>
                    <div class="r-timeline-052017-badge left default-img"></div>

                    <section class="user-p-r-timeline-panel-052017">
                        <div class="left-t-l-wrapper-052017 default-timeline-panel">

                        </div>
                    </section>
                </li>

                <li>
                    <div class="r-timeline-052017-badge left default-img"></div>

                    <section class="user-p-r-timeline-panel-052017">
                        <div class="left-t-l-wrapper-052017 default-timeline-panel ">

                        </div>
                    </section>
                </li>

            </ul>
        </div>
    </section>

</div>