<div class="user-p-right-tab-052017">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">   

        <!-- <div ng-include="'app/views/engagement/edit-form/disposition-edit.html'"></div> -->
        <div class="user-e-widget-052017" style="min-height: 170px;">
            <div class="header-052017 ">
                Disposition Reason Tag
            </div>
            <div style="padding-bottom: 10px;margin-left: -5px;margin-right: -5px">
                <!--<div class="btn-group" ng-repeat="action in appConfig[app._id].actions" style="width: 20%;padding: 0 5px;">-->
                    <!--ng-style="{'width': (100/actions.length)+'%', 'margin-left':'20px'};"-->
                <!--<p class="l-update" style="font-size:15px;text-align: center;">Tag : {{dispositionTag ? dispositionTag : 'N/A'}}</p>-->
                <div class="col-md-6" >

                    <!-- <button class="btn btn-ps-update"
                            style="margin-bottom:5px ;display:block;"
                            title="Modify"
                            href="javascript:void(0);"
                            ng-click="editDispositionMode()"
                            style="width: 20%">
                        Edit tag
                    </button> -->

                <select class="form-control selected-short  ng-pristine ng-valid ng-empty ng-touched" id="dispositionTagSel" ng-model="dispositionTag" disabled="true">
                <option ng-repeat="dispositionTagOpt in dispositionTagOptions" value="{{dispositionTagOpt}}">
                {{dispositionTagOpt}}
                </option>
                </select>

                </div>

                <!-- <button type="button" style="color: #0dcaf0;border-color: #9fa8aa;margin: 0 auto;display:block;border-radius: 20px;cursor: default" class="btn">{{dispositionTag ? dispositionTag : 'N/A'}}</button> -->
                <p></p>
                <p></p>
                <button class="btn btn-ps-update"
                        style="margin:0 auto;display:block;"
                        title="Modify"
                        href="javascript:void(0);"
                        ng-click="upsertDispositionTag(dispositionTag)"
                        style="width: 40%">
                    <!--<img ng-if="action.icon" ng-src={{action.icon}} style="float:left;margin-right:0.5em; width:21px;">-->
                    Save
                </button>
                <!--</div>-->
            </div>
        </div>

        <div class="user-e-widget-052017">
            <div class="header-052017 ">
                Engagement
            </div>

            <!-- engagement user profile wrapper -->
            <div class="user-p-e-wrapper-052017 animated fadeIn">
                <!-- company -->
                <div class="e-d-row-052017">
                    <ul class="customer-style-ul">
                        <li class="pull-left desc-052017">Company</li>
                        <li class="pull-right value-052017">{{company}}</li>
                    </ul>
                </div>
                <!-- direction -->
                <div class="e-d-row-052017">
                    <ul class="customer-style-ul">
                        <li class="pull-left desc-052017">Direction</li>
                        <li class="pull-right value-052017">{{direction}}</li>
                    </ul>
                </div>
                <!-- Channel from -->
                <div class="e-d-row-052017">
                    <ul class="customer-style-ul">
                        <li class="pull-left desc-052017">channel from</li>
                        <li class="pull-right value-052017">{{direction=== 'inbound' ? channelFrom:channelTo}}</li>
                    </ul>
                </div>
                <!-- Channel to  -->
                <div class="e-d-row-052017">
                    <ul class="customer-style-ul">
                        <li class="pull-left desc-052017">channel to</li>
                        <li class="pull-right value-052017">{{direction=== 'inbound' ? channelTo:channelFrom}}</li>
                    </ul>
                </div>
                <!-- Channel -->
                <div class="e-d-row-052017">
                    <ul class="customer-style-ul">
                        <li class="pull-left desc-052017">channel</li>
                        <li class="pull-right value-052017">{{channel}}</li>
                    </ul>
                </div>
                <!-- skill -->
                <div class="e-d-row-052017">
                    <ul class="customer-style-ul">
                        <li class="pull-left desc-052017">skill</li>
                        <li class="pull-right value-052017">{{skill}}</li>
                    </ul>
                </div>
            </div>


            <!-- ticket summary  -->
            <div class="user-p-t-s-052017 animated fadeIn">
                <div class="header-052017 ">
                    Ticket summary
                </div>
                <div class="ticket-s-wrapper-052017">

                    <!-- ticket summary details not found -->
                    <div class="ivr-n-found-052017 ticket-cht-summary"
                         ng-if="ticketPieChart.data==0">
                        <div class="ivr-icon">
                            <img src="assets/img/engagement-icon/chat-not-found.png" width="118">
                        </div>
                        <div class="error-msg text-lg-052017 text-center">
                            Ticket Record Not Found
                        </div>
                    </div>

                    <div class="ticket-s-chart-052017" ng-if="ticketPieChart.data!=0">
                        <canvas id="ticketSummary"
                                width="250" height="250"
                                class="chart chart-doughnut"
                                chart-options="pieChartOption"
                                chart-data="ticketPieChart.data"
                                chart-labels="ticketPieChart.labels">
                        </canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

        <div class="user-e-widget-052017 animated fadeIn"
             ng-show="profileImportantData.length">
            <div class="header-052017">
                WIDGET
            </div>

            <!-- engagement user profile wrapper -->
            <div class="user-p-e-wrapper-052017 animated fadeIn">
                <!-- company -->
                <div class="e-d-row-052017" ng-repeat="(key, value) in profileImportantData">
                    <ul class="customer-style-ul">
                        <li class="pull-left desc-052017">{{key}}</li>
                        <li class="pull-right value-052017">{{value}}</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="user-e-widget-052017 c">
            <div class="header-052017 animated fadeIn">
                IVR DETAILS : {{queueDetailsInTitle}}
            </div>


            <!-- ivr wrapper -->
            <div class="user-p-ivr-wrapper-052017">

                <!-- IVR details not found -->
                <div class="ivr-n-found-052017 ivr-n-f" ng-if="ivrDetails.length==0">
                    <div class="ivr-icon">
                        <img src="assets/img/engagement-icon/IVR-icon-not-found.png" width="118">
                    </div>
                    <div class="error-msg text-lg-052017 text-center">
                        IVR Record Not Found
                    </div>
                </div>

                <!-- ivr details -->
                <div class="ivr-main-wrapper-052017" ng-if="ivrDetails.length!=0">
                    <div class="ivr-t-body-052017">
                        <table class="table ivr-tbl-052017">
                            <thead>
                            <tr class="ivr-t-h-052017">
                                <th>PATH</th>
                                <th>DATA</th>
                            </tr>
                            </thead>
                            <tbody class="ivr-t-body-052017">
                            <!--<tr class="ivr-t-row-052017" ng-repeat="ivr in ivrDetails">
                                <td>{{ivr.EventName}}</td>
                                <td>{{ivr.EventParams}}</td>
                            </tr>-->

                            <tr class="ivr-t-row-052017" ng-repeat="(key, value) in ivrDetails_temp">
                                <td> {{key}} </td> <td> {{ value | date: 'H:mm:ss'}} </td>
                            </tr>


                            </tbody>
                        </table>
                    </div>
                    <div class="ivr-t-c-wrapper-052017">
                        <div class="iver-t-c-052017">
                            TOTAL : {{ivrDetails.length}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>