<div class="user-p-right-tab-052017">
    <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
        <!-- user profile  engagement  time line -->
        <header class="widget-main-header">
            <div class="d-header-wrp">
                <h3>
                    Search Filters
                </h3>
            </div>

            <div class="d-header-wrp d-h-r-icon" ng-click="isNavRealTime = !isNavRealTime">
                <i ng-if="!isNavRealTime" class="ti-arrow-circle-up"></i>
                <i ng-if="isNavRealTime" class="ti-arrow-circle-down"></i>
            </div>
        </header>
        <div class="row" uib-collapse="isNavRealTime">
            <div class="inbox-sort-option">

                <div class="row">
                    <div class="col-md-4">
                        <small>Start Date: </small>
                        <input type="text" class="form-control" ng-model="obj.startDay" name="startDate" ng-change="onDateChange()" datepicker>
                    </div>
                    <div class="col-md-4">
                        <small>End Date: </small>
                        <input type="text" class="form-control" ng-model="obj.endDay" name="EndDate" ng-change="onDateChange()" datepicker>
                    </div>
                    <div class="col-md-4">
                        <small>Direction : </small>
                        <select ng-model="data.directionVal"
                                class="form-control selected-short ">
                            <option value="Inbound">Inbound</option>
                            <option value="Outbound">Outbound</option>
                            <option value=""></option>

                        </select>

                    </div>

                </div>

                <div class="row">
                    <div class="col-md-12">
                        <small>Channels : </small>
                        <tags-input ng-model="filterChannels" display-property="title"
                                    add-on-paste="true"
                                    add-from-autocomplete-only="false" on-tag-added="onChipAddSection($tag)"
                                    on-tag-removed="onChipDeleteSection($tag)" ng-disabled="" min-length="1"
                                    placeholder="Select Channels">
                            <auto-complete source="querySearchSection($query)"
                                           load-on-empty="true"
                                           load-on-focus="true"
                                           min-length="1"></auto-complete>

                        </tags-input>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-6">
                        <small style="tex">From: </small>
                        <input type="text" class="form-control" ng-model="data.fromData" name="From" >
                    </div>
                    <div class="col-md-6">
                        <small>To : </small>
                        <input type="text" class="form-control" ng-model="data.toData" name="To" >
                    </div>

                </div>

                <div class="row" style="padding-top: 10px">
                    <div class="col-md-6">
                    </div>
                    <div class="col-md-6">
                        <button class="btn btn-ps-update pull-right" ng-click="loadSessions()">Search</button>
                    </div>
                </div>



            </div>
        </div>

        <div>
            <div class="user-p-e-tl-wrapper-052017" style="padding-top: 30px">

                <div slimscroll="{height: '930px',
                        railVisible: true,
                        color: '#EEEEEE',
                        size: '8px',
                        distance: '15px',
                        railColor: '#EEEEEE',
                        railBorderRadius: 10}">

                    <!--<div ng-repeat="eng in engagementsList" >

                        <div class="col-md-12 timeline-block">
                            <div class="row">
                                <div class="">
                                    <div class="col-md-4">
                                        <span class="font-size-13">From</span>
                                        <span class="value" style="padding-right: 10px">{{eng.channel_from}}</span>
                                    </div>
                                    <div class="col-md-4">
                                        <span class="font-size-13">To</span>
                                        <span class="value">{{eng.channel_to}}</span>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="col-md-12">
                                            <span class="font-size-13">Channel</span>
                                            <span class="value" style="padding-right: 10px">{{eng.channel}}</span>
                                        </div>
                                    </div>
                                    &lt;!&ndash;<ul class="customer-style-ul">
                                        <li class="from-to-052017">From</li>
                                        <li class="value" style="padding-right: 10px">{{eng.channel_from}}</li>
                                        <li class="from-to-052017">To</li>
                                        <li class="value">{{eng.channel_to}}</li>
                                    </ul>&ndash;&gt;
                                </div>
                                <div class="channel-badge">
                                    <img ng-if="eng.channel=='facebook'"
                                         src="assets/img/timeline/fb.png"
                                         width="60"/>
                                    <img ng-if="eng.channel=='skype'"
                                         src="assets/img/timeline/skype.png"
                                         width="60"/>
                                    <img ng-if="eng.channel=='call'"
                                         src="assets/img/timeline/outbound-call.png"
                                         width="60"/>
                                    <img ng-if="eng.channel=='twitter'"
                                         src="assets/img/timeline/outbound-call.png"
                                         width="60"/>
                                    <img ng-if="eng.channel=='api'"
                                         src="assets/img/timeline/api.png"
                                         width="60"/>
                                </div>
                            </div>
                            <div class="row" style="margin-top: 10px">
                                <div class="">
                                    <div class="col-md-4">
                                        <span class="font-size-13" >Direction</span>
                                        <span class="value" style="padding-right: 10px">{{eng.direction}}</span>
                                    </div> <div class="col-md-2">
                                </div>
                                    <div class="col-md-6 time-ago-setup">
                                        <time-ago from-time='{{eng.created_at}}'
                                                  format='MM/dd/yyyy'></time-ago>
                                    </div>
                                </div>


                            </div>

                            <div class="half-divider"></div>

                            <div class="" ng-show="eng.body">
                                Other Data
                            </div>
                            <div class="d-header-wrp d-h-r-icon" ng-click="eng.showBody = !eng.showBody" ng-show="eng.body">
                                <i ng-if="eng.showBody" class="ti-arrow-circle-up"></i>
                                <i ng-if="!eng.showBody" class="ti-arrow-circle-down"></i>
                            </div>
                            <div class="row" uib-collapse="!eng.showBody">

                                <div class="col-md-12">
                                    <div>{{eng.body}}</div>
                                </div>
                            </div>
                            <div class="" ng-show="eng.notes.length>0">
                                Notes
                            </div>
                            <div class="d-header-wrp d-h-r-icon" ng-click="eng.showNotes = !eng.showNotes" ng-show="eng.notes.length>0">
                                <i ng-if="eng.showNotes" class="ti-arrow-circle-up"></i>
                                <i ng-if="!eng.showNotes" class="ti-arrow-circle-down"></i>
                            </div>

                            <div class="row" uib-collapse="!eng.showNotes">
                                <div class="col-md-12">
                                    <div class="e-t-l-m-wrapper-052017"
                                         ng-repeat="note in eng.notes">
                                        <div class="e-t-l-m-auth-052017">
                                            author | {{note.author}}
                                        </div>
                                        <div class="e-t-m-details-052017">
                                            {{note.body}}
                                        </div>
                                        <div ng-if="note.tid"
                                             class="e-t-m-details-052017">
                                            <button type="button" class="btn btn-m-p-more pull-right"
                                                    ng-click="getTicketByRefe(note.tid);">
                                                more
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="md-col-2">
                                    Media
                                </div>
                                <div class="md-col-2"  ng-click="eng.showMedia = !eng.showMedia">
                                    <i ng-if="eng.showMedia" class="ti-arrow-circle-up"></i>
                                    <i ng-if="!eng.showMedia" class="ti-arrow-circle-down"></i>
                                </div>

                                <div class="row" uib-collapse="!eng.showMedia">

                                    <div class="col-md-12">
                                        <a style="margin-left: 10px" href="javascript:void(0);" ng-if="eng.channel=='call'"><i
                                                class="fa fa-play"
                                                ng-click="playFile(eng._id)"> Play </i></a>
                                        <a style="margin-left: 10px" href="javascript:void(0);" ng-if=""><i
                                                class="fa fa-expand"
                                                ng-click="showImage(eng._id)"></i></a>
                                    </div>
                                </div>

                            </div>


                        </div>
                    </div>-->

                    <table class="table table-responsive">
                        <thead>
                        <tr>
                            <th>
                                <div class="t-list-h">
                                    From
                                </div>
                            </th>
                            <th>

                                <div class="t-list-h">
                                    To
                                </div>
                            </th>
                            <th>
                                <div class="t-list-h">
                                    Direction
                                </div>
                            </th>
                            <th>
                                <div class="t-list-h">Created At</div>
                            </th>
                            <th>
                                <div class="t-list-h">Channel</div>
                            </th>
                            <th>
                                <div class="t-list-h">Notes</div>
                            </th>
                            <th>
                                <div class="t-list-h">Operation</div>
                            </th>
                            <th>
                                <div class="t-list-h">Tags</div>
                            </th>


                            <!--<th>-->

                            <!--</th>-->
                        </tr>
                        </thead>
                        <tbody id="ticketMainWrp" class="t-i-tbody">
                        <tr class="t-list-view-body"
                            ng-repeat="eng in engagementsList">
                            <td>
                                <div class="t-i-desc">
                                    {{eng.channel_from}}
                                </div>
                            </td>
                            <td>
                                <div class="t-i-desc">
                                    {{eng.channel_to}}
                                </div>
                            </td>
                            <td>
                                <div class="t-i-desc">
                                    {{eng.direction}}
                                </div>
                            </td>
                            <td>
                                <div class="t-i-desc">
                                    <time-ago from-time='{{eng.created_at}}'
                                                    format='MM/dd/yyyy'></time-ago>
                                </div>
                            </td>
                            <td>
                                <div class="t-i-type-wrp">
                                    <div class="t-type-wrapper" title="{{eng.channel}}">
                                        <i ng-class="{'fa fa-random':eng.channel=='api',
                  'fa fa-twitter':eng.channel=='twitter',
                   'fa fa-facebook':eng.channel=='facebook-post',
                  'fa fa-phone':eng.channel=='call',
                  'fa fa-microphone':eng.channel=='voicemail',
                  'fa fa-bell-o':eng.channel=='sms',
                  'fa fa-bookmark-o':eng.channel=='new',
                  'fa fa-envelope-o':eng.channel=='email'}"></i>
                                    </div>
                                </div>
                            </td>
                            <td >
                                <div ng-show="eng.notes.length>0">
                                    <button ng-click="showNotes(eng)">Show Notes</button>

                                </div>
                            </td>
                            <td>
                                <i ng-show="eng.channel == 'call'" class="fa fa-play" ng-click="playFile(eng._id)"> Play </i>
                                <i ng-show="eng.channel != 'call'"  class="fa fa-expand" ng-click="showImage(eng._id)"> View</i>
                            </td>
                            <!--<td>-->
                            <!--<div class="t-i-more-wrp">-->
                            <!--<div class="ticket-more">-->
                            <!--<i class="ti-more-alt animated fadeInRight"></i>-->
                            <!--</div>-->
                            <!--</div>-->
                            <!--</td>-->

                            <td>
                                <div class="t-i-desc">
                                    {{eng.tag}}
                                </div>
                            </td>
                        </tr>

                        </tbody>
                    </table>



                </div>
            </div>

            <div class="more-ticket-wrapper-052017" ng-if="engagementsList.length!=0">
                <div class="more-record-052017" ng-click="showMore();">
                    <button ng-show="!isShowTimeLine" class="btn btn-more-data">
                        VIEW MORE
                    </button>
                    <button ng-show="isShowTimeLine" disabled class="btn btn-more-data">
                        PLEASE WAIT...
                    </button>
                </div>
            </div>

            <a href="" id="image-viewer" data-lightbox="image-1" data-title=""></a>

        </div>

    </div>
</div>
