<!-- user profile edit modal -->


<div class="user-p-right-tab-052017">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">


        <div class="user-e-widget-052017">

            <!-- EDIT -->
            <!-- user profile basic information -->
            <div ng-include="'app/views/engagement/edit-form/edit-basic-profile.html'"></div>
            <!-- edit profile other information -->
            <div ng-include="'app/views/engagement/edit-form/edit-other-information.html'"></div>
            <!-- edit basic contact -->
            <div ng-include="'app/views/engagement/edit-form/edit-basic-contact.html'"></div>
            <!-- edit social contact -->
            <div ng-include="'app/views/engagement/edit-form/edit-social-contact.html'"></div>

            <!-- PROFILE VIEW -->
            <!-- basic profile details  -->
            <div class="user-p-e-wrapper-052017 animated fadeIn">
                <div class="header-052017 inline-h">
                    <ul ng-if="basicProfileViewMode=='all'">
                        <li class="pull-left animated slideInLeft">
                            Profile Information
                        </li>
                        <li class="pull-right">
                            <div class="header-r-icon-052017 "
                                 ng-click="clickEditShowBasicInfo();"
                                 title="Edit">
                                <i ng-if="!isShowBasicInfoEditModal"
                                   class="fa fa-pencil"></i>
                                <i ng-if="isShowBasicInfoEditModal"
                                   class="fa fa-close"></i>
                            </div>
                        </li>
                    </ul>
                    <ul ng-if="basicProfileViewMode=='other'">
                        <li class="pull-left animated slideInLeft">
                            Other Profile Information
                        </li>
                        <li class="pull-right">
                            <div class="header-r-icon-052017 "
                                 ng-click="clickEditShowOtherInfo();">
                                <i ng-if="isShowBasicOtherInfoEditModal"
                                   class="fa fa-close"></i>
                            </div>
                        </li>
                    </ul>

                    <ul ng-if="basicProfileViewMode=='contact'">
                        <li class="pull-left animated slideInLeft">
                            Primary Contacts
                        </li>
                        <li class="pull-right">
                            <div class="header-r-icon-052017 "
                                 ng-click="clickEditShowBasicContact();"
                                 title="Edit">
                                <i ng-if="isBasicContactView"
                                   class="fa fa-close"></i>
                            </div>
                        </li>
                    </ul>

                    <ul ng-if="basicProfileViewMode=='social'">
                        <li class="pull-left animated slideInLeft">
                            Social Contact
                        </li>
                        <li class="pull-right">
                            <div class="header-r-icon-052017 "
                                 ng-click="clickEditSocialContact();">
                                <i ng-if="isSocialView"
                                   class="fa fa-close"></i>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- Company  -->

                <!-- profile avatar -->
                <div class="e-d-row-052017" style="padding-bottom: 20px;padding-top: 20px;">
                    <div class="user-p-image-052017">
                        <img src="assets/img/avatar/profileAvatar.png"
                             ng-src="{{profileDetail.avatar}}"
                             width="80">
                    </div>
                </div>
                <div class="e-d-row-052017">
                    <ul class="customer-style-ul">
                        <li class="pull-left desc-052017"><i class="fa fa-building"></i> Company</li>
                        <li class="pull-right value-052017 c-text-green">{{companyName}}</li>
                    </ul>
                </div>
                <!-- first name -->
                <div class="e-d-row-052017">
                    <ul class="customer-style-ul">
                        <li class="pull-left desc-052017"><i class="fa fa-address-card-o"></i> First Name</li>
                        <li class="pull-right value-052017">{{profileDetail.firstname}}</li>
                    </ul>
                </div>
                <!-- last name -->
                <div class="e-d-row-052017">
                    <ul class="customer-style-ul">
                        <li class="pull-left desc-052017"><i class="none-icon"></i> last Name</li>
                        <li class="pull-right value-052017">{{profileDetail.lastname}}</li>
                    </ul>
                </div>
                <!-- Gender -->
                <div class="e-d-row-052017">
                    <ul class="customer-style-ul">
                        <li class="pull-left desc-052017"><i class="fa fa-venus-mars"></i> Gender</li>
                        <li class="pull-right value-052017">{{profileDetail.gender}}</li>
                    </ul>
                </div>
                <!-- Birthday -->
                <div class="e-d-row-052017">
                    <ul class="customer-style-ul">
                        <li class="pull-left desc-052017"><i class="fa fa-calendar"></i>Birthday</li>
                        <li class="pull-right value-052017">{{profileDetail.birthday| date:'MM-dd-yyyy'}}</li>
                    </ul>
                </div>
            </div>

            <!-- contact details -->
            <div class="user-p-e-wrapper-052017 animated fadeIn">
                <div class="header-052017 inline-h">
                    <ul>
                        <li class="pull-left animated ">
                            Primary Contacts
                        </li>
                        <li class="pull-right">
                            <div class="header-r-icon-052017 "
                                 ng-click="clickEditShowBasicContact();"
                                 title="Edit">
                                <i ng-if="!isBasicContactView"
                                   class="fa fa-pencil"></i>
                                <i ng-if="isBasicContactView"
                                   class="fa fa-close"></i>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- tags  -->
                <div class="e-d-row-052017">
                    <ul class="customer-style-ul">
                        <li class="pull-left desc-052017"><i class="fa fa-phone c-text-green-052017"></i> phone no</li>
                        <li class="pull-right value-052017 " ng-if="profileDetail.phone!=''">
                            {{profileDetail.phone}}
                        </li>
                        <li class="pull-right value-052017 " ng-if="profileDetail.phone==''">
                            -
                        </li>
                    </ul>
                </div>
                <!-- SSN -->
                <div class="e-d-row-052017">
                    <ul class="customer-style-ul">
                        <li class="pull-left desc-052017"><i class="fa fa-phone c-text-green-052017"></i> Land no</li>
                        <li class="pull-right value-052017" ng-if="profileDetail.landnumber">
                            {{profileDetail.landnumber}}
                        </li>
                        <li class="pull-right value-052017 c-text-green" ng-if="!profileDetail.landnumber">
                            -
                        </li>
                    </ul>
                </div>
                <!-- LOCAL -->
                <div class="e-d-row-052017">
                    <ul class="customer-style-ul">
                        <li class="pull-left desc-052017"><i class="fa fa-envelope email-channel"></i>Email</li>
                        <li class="pull-right value-052017" style="text-transform: lowercase;">
                            {{profileDetail.email}}
                        </li>
                    </ul>
                </div>
            </div>

            <!-- other  -->
            <div class="user-p-e-wrapper-052017 animated fadeIn">
                <div class="header-052017 inline-h">
                    <ul>
                        <li class="pull-left animated ">
                            Other
                        </li>
                        <li class="pull-right">
                            <div class="header-r-icon-052017 "
                                 ng-click="clickEditShowOtherInfo();"
                                 title="Edit">
                                <i ng-if="!isShowBasicOtherInfoEditModal"
                                   class="fa fa-pencil"></i>
                                <i ng-if="isShowBasicOtherInfoEditModal"
                                   class="fa fa-close"></i>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- tags  -->
                <div class="e-d-row-052017">
                    <ul class="customer-style-ul">
                        <li class="pull-left desc-052017"><i class="fa fa-tags"></i> Special Tags</li>
                        <li class="pull-right value-052017 c-text-green">
                            <ul class="customer-style-ul profile-tag-052017">
                                <li ng-repeat="tag in profileDetail.tags">
                                    {{tag}}
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- SSN -->
                <div class="e-d-row-052017">
                    <ul class="customer-style-ul">
                        <li class="pull-left desc-052017"> SSN</li>
                        <li class="pull-right value-052017">{{profileDetail.ssn}}</li>
                    </ul>
                </div>
                <!-- LOCAL -->
                <div class="e-d-row-052017">
                    <ul class="customer-style-ul">
                        <li class="pull-left desc-052017">LOCAL</li>
                        <li class="pull-right value-052017">{{profileDetail.locale}}</li>
                    </ul>
                </div>
            </div>

            <!--&lt;!&ndash; social contact &ndash;&gt;-->
            <!--<div class="user-p-e-wrapper-052017 animated fadeIn">-->
            <!--<div class="header-052017 inline-h">-->
            <!--<ul>-->
            <!--<li class="pull-left animated ">-->
            <!--SOCIAL CONTACT-->
            <!--</li>-->
            <!--<li class="pull-right">-->
            <!--<div class="header-r-icon-052017 "-->
            <!--ng-click="clickEditSocialContact();">-->
            <!--<i ng-if="!isSocialView"-->
            <!--class="fa fa-pencil"></i>-->
            <!--</div>-->
            <!--</li>-->
            <!--</ul>-->
            <!--</div>-->
            <!--&lt;!&ndash; facebook &ndash;&gt;-->
            <!--<div class="e-d-row-052017 ">-->
            <!--<ul class="customer-style-ul">-->
            <!--<li class="pull-left desc-052017 "><i class="fa fa-facebook facebook-channel"></i> facebook</li>-->
            <!--<li class="pull-right value-052017" ng-if="profileDetail.facebook!=''">-->
            <!--{{profileDetail.facebook}}-->
            <!--</li>-->
            <!--<li class="pull-right value-052017" ng-if="profileDetail.facebook==''">-</li>-->
            <!--</ul>-->
            <!--</div>-->
            <!--&lt;!&ndash; twitter &ndash;&gt;-->
            <!--<div class="e-d-row-052017 ">-->
            <!--<ul class="customer-style-ul">-->
            <!--<li class="pull-left desc-052017 "><i class="fa fa-twitter twitter-channel"></i>twitter</li>-->
            <!--<li class="pull-right value-052017" ng-if="profileDetail.twitter!=''">{{profileDetail.twitter}}-->
            <!--</li>-->
            <!--<li class="pull-right value-052017" ng-if="profileDetail.twitter==''">-</li>-->
            <!--</ul>-->
            <!--</div>-->
            <!--</div>-->

        </div>

        <!-- create new appointment -->
        <div class="user-e-widget-052017">
            <div class="user-p-e-wrapper-052017">
                <div class="header-052017 inline-h">
                    <ul>
                        <li class="pull-left animated slideInLeft">
                            Create New Appointment
                        </li>
                    </ul>
                </div>
                <div ng-include="'app/views/engagement/edit-form/create-new-appointment.html'"></div>
            </div>
        </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

        <!-- user profile channel -->
        <div class="user-p-l-wrapper-052017 fix-h-052017" ng-if="enggemntDetailsCount.length!=0">
            <!-- profile channel details -->
            <div class="user-c-e-wrapper-052017 animated fadeIn" style="background: #f1f6ec;padding-bottom: 5px;">
                <div class="header-052017">
                    Channel
                </div>
                <!-- engagement channel wrapper -->
                <div class="user-eng-call-wrapper-052017 animated fadeIn">
                    <div class="channel-main-wrapper">
                        <div class="eng-channel-052017" ng-repeat="d in enggemntDetailsCount track by $index">
                            <div class="eng-channel-des-052017">
                                <ul class="customer-style-ul">
                                    <li class="channel-des-052017 pull-left">{{d._id}}</li>
                                    <li class="channel-value-052017 pull-right">{{d.val}}% &nbsp ({{d.count}})</li>
                                </ul>
                                <div class="channel-p-b-052017">
                                    <uib-progressbar
                                            class="c-progress-b-052017"
                                            animate="true"
                                            value="d.val">
                                    </uib-progressbar>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- other contact details -->
        <div class="user-p-l-wrapper-052017">
            <!-- EDIT -->
            <div ng-include="'app/views/engagement/edit-form/edit-other-contact.html'"></div>

            <!-- contact not found -->
            <div class="contact-d-nf-wrapper-052017"
                 ng-if="profileDetail.contacts.length==0">
                <div class="new-note-wrapper-icon" ng-click="clickEditShowOtherContact();">
                    <img src="assets/img/new-contact.png" width="100 ">
                </div>
                <div class="error-msg note-empty-text-052017" ng-click="clickEditShowOtherContact();">
                    Create New Contact
                </div>
            </div>
            <div class="header-052017 inline-h">
                <ul>
                    <li class="pull-left">
                        Other contacts
                    </li>
                    <li class="pull-right">
                        <div class="header-r-icon-052017 "
                             ng-if="!isOtherContactEditMode"
                             ng-click="clickEditShowOtherContact();"
                             title="Add contact">
                            <i ng-if="!isOtherContactView"
                               class="fa fa-plus"></i>
                            <i ng-if="isOtherContactView"
                               class="fa fa-close"></i>
                        </div>
                    </li>
                    <li class="pull-right"
                        ng-if="profileDetail.contacts.length!=0">
                        <div class="header-r-icon-052017"
                             ng-if="!isOtherContactView"
                             ng-click="clickDeleteContact();"
                             title="Delete contacts">
                            <i ng-if="!isOtherContactEditMode"
                               class="fa fa-trash-o"></i>
                            <i ng-if="isOtherContactEditMode"
                               class="fa fa-close"></i>
                        </div>
                    </li>
                </ul>
            </div>

            <!-- contact delete confirmation box -->
            <div class="box-confirmation-wrapper" ng-show="isCnfmBoxShow && isOtherContactEditMode">

                <!-- loading -->
                <div class="loading-note" ng-if="isLoadingOtherContactDelete"
                     style="margin-top: 15%;">
                    <svg class="spinner-container" width="40px" height="40px" viewBox="0 0 52 52">
                        <circle class="path" cx="26px" cy="26px" r="20px" fill="none" stroke-width="4px"/>
                    </svg>
                </div>

                <div class="conf-layout" ng-if="!isLoadingOtherContactDelete">
                    Are you sure delete contact ?
                    <div class="cnf-btn-wrapper">
                        <ul>
                            <li class="cancel" ng-click="confimCancel()">Cancel</li>
                            <li class="ok" ng-click="confimOk()">Ok</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- end -->
            <div class="location-d-052017">


                <div class="e-d-row-052017"
                     ng-repeat="contact in profileDetail.contacts track by $index">
                    <ul class="customer-style-ul">
                        <li class="pull-left desc-052017">
                            <i class="fa fa-facebook facebook-channel" ng-if="contact.type=='facebook'"></i>
                            <i class="fa fa-skype api-channel" ng-if="contact.type=='skype'"></i>
                            <i class="fa fa-envelope email-channel" ng-if="contact.type=='email'"></i>
                            <i class="fa fa-phone c-text-green-052017" ng-if="contact.type=='phone'"></i>
                            <i class="fa fa-twitter twitter-channel" ng-if="contact.type=='twitter'"></i>
                            <i class="fa fa-address-book viber-channel" ng-if="contact.type=='viber'"></i>
                            {{contact.type}}
                        </li>
                        <li class="pull-right value-052017" style="text-transform: lowercase;">
                            {{contact.contact}}
                            <div class="right-icon-delete"
                                 ng-if="isOtherContactEditMode"
                                 ng-click="deleteContact(contact.contact);">
                                <i class="ti-minus"></i>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- API contact details -->
        <div class="user-p-l-wrapper-052017" ng-show="profileDetail.api_contacts.length!=0">
            <!-- contact not found -->
            <div class="contact-d-nf-wrapper-052017"
                 ng-if="profileDetail.api_contacts.length==0">
                <div class="new-note-wrapper-icon" >
                    <img src="assets/img/new-contact.png" width="100 ">
                </div>
            </div>
            <div class="header-052017 inline-h">
                <ul>
                    <li class="pull-left">
                        API contacts
                    </li>
                </ul>
            </div>
            <div class="location-d-052017">
                <div class="e-d-row-052017"
                     ng-repeat="contact in profileDetail.api_contacts track by $index">
                    <ul class="customer-style-ul">
                        <li class="pull-left desc-052017">
                            <i class="fa fa-facebook facebook-channel" ng-if="contact.type=='facebook'"></i>
                            <i class="fa fa-skype api-channel" ng-if="contact.type=='skype'"></i>
                            <i class="fa fa-envelope email-channel" ng-if="contact.type=='email'"></i>
                            <i class="fa fa-phone c-text-green-052017" ng-if="contact.type=='phone'"></i>
                            <i class="fa fa-twitter twitter-channel" ng-if="contact.type=='twitter'"></i>
                            <i class="fa fa-address-book viber-channel" ng-if="contact.type=='viber'"></i>
                            {{contact.type}}
                        </li>
                        <li class="pull-right value-052017" style="text-transform: lowercase;">
                            {{contact.contact}}

                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- user profile location wrapper -->
        <div class="user-p-l-wrapper-052017">

            <!-- edit location -->
            <div ng-include="'app/views/engagement/edit-form/edit-location.html'"></div>

            <div class="header-052017 inline-h">
                <ul>
                    <li class="pull-left">
                        Location Information
                    </li>
                    <li class="pull-right">
                        <div class="header-r-icon-052017 "
                             ng-click="clickEditShowLocationInfo();"
                             title="Edit">
                            <i ng-if="!isShowBasicLocationInfoEditModal"
                               class="fa fa-pencil"></i>
                            <i ng-if="isShowBasicLocationInfoEditModal"
                               class="fa fa-close"></i>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="map-wrapper-052017">
                <iframe
                        width="600"
                        height="255"
                        frameborder="0"
                        style="border:0"
                        ng-src="{{profileDetail.address.locationUrl}}"
                        allowfullscreen>
                </iframe>
            </div>

            <div class="location-d-052017">
                <div class="e-d-row-052017">
                    <ul class="customer-style-ul">
                        <li class="pull-left desc-052017"> P.O. Box / Building No</li>
                        <li class="pull-right value-052017">{{profileDetail.address.number}}</li>
                    </ul>
                </div>
                <div class="e-d-row-052017">
                    <ul class="customer-style-ul">
                        <li class="pull-left desc-052017"> Street</li>
                        <li class="pull-right value-052017">{{profileDetail.address.street}}</li>
                    </ul>
                </div>
                <div class="e-d-row-052017">
                    <ul class="customer-style-ul">
                        <li class="pull-left desc-052017"> City</li>
                        <li class="pull-right value-052017">{{profileDetail.address.city}}</li>
                    </ul>
                </div>
                <div class="e-d-row-052017">
                    <ul class="customer-style-ul">
                        <li class="pull-left desc-052017"> Province</li>
                        <li class="pull-right value-052017">{{profileDetail.address.province}}</li>
                    </ul>
                </div>
                <div class="e-d-row-052017">
                    <ul class="customer-style-ul">
                        <li class="pull-left desc-052017"> Country</li>
                        <li class="pull-right value-052017">{{profileDetail.address.country}}</li>
                    </ul>
                </div>
                <div class="e-d-row-052017">
                    <ul class="customer-style-ul">
                        <li class="pull-left desc-052017"> Zip Code</li>
                        <li class="pull-right value-052017">{{profileDetail.address.zipcode}}</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>
<script>
//	$('[data-toggle="tooltip"]').tooltip();
</script>