

<form autocomplete="off" name="contactFrm">
    <!-- e contact details -->
    <div class="row">
        <div class="col-lg-12">
            <div class="ps-sub-title">
                <div class="col-lg-7">
                    <h5>Voice Recorder</h5>
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <!-- email -->
        <div class="col-lg-12">
            <div class="form-group">

                <ng-audio-recorder id="mainAudio" audio-model="recorded"
                                   show-player="true" time-limit="greet_time_limit" >

                    <div ng-if="recorder.isAvailable" >
                        <div class="row" >


                            <div class="col-lg-4"></div>
                            <div class="col-lg-4">


                                <div class="form-group ">
                                    <div  class="btn-grtn-action"
                                          ng-class="recorder.status.isRecording?'voice-record-active':'voice-record-deactive'">
                                        <i class="ti-microphone"
                                           title="Click here to record your greeting"
                                           ng-click="recorder.status.isRecording ? recorder.stopRecord() : recorder.startRecord()"
                                           type="button"
                                           ng-disabled="recorder.status.isDenied === true || recorder.status.isRecording" style=" cursor: pointer" ng-show="!recorder.status.isConverting">
                                        </i>



                                    </div>
                                    <span ng-if="recorder.status.isRecording" style="color: white">
                                        Recording : {{recorder.elapsedTime > 9 ? recorder.elapsedTime : ('0'+recorder.elapsedTime)}} s
                                    </span>


                                </div>

                            </div>



                        </div>
                        <div class="row" ng-show="recorder.status.isConverting">
                            <span style="padding-left: 25%;font-size: 30px; color: white;"> Converting to MP3..</span>
                        </div>



                        <div ng-if="recorder.status.isDenied === true" style="color: red;">
                            You need to grant permission for this application to USE your microphone.
                        </div>


                        <div style="max-width: 600px ; color: white">
                            <div ng-show="isConverting">
                                * Please wait while your recording is processed.
                            </div>


                        </div>

                    </div>


                    <div ng-if="!recorder.isAvailable">
                        Your browser does not support this feature natively, please use latest version of <a
                            href="https://www.google.com/chrome/browser" target="_blank">Google Chrome</a> or <a
                            href="https://www.mozilla.org/en-US/firefox/new/" target="_blank">Mozilla Firefox</a>. If you're on
                        Safari or Internet Explorer, you can install <a href="https://get.adobe.com/flashplayer/">Adobe Flash</a> to
                        use this feature.
                    </div>

                    <div ng-if="isConverting">
                        * Converting to Mp3, Please wait
                    </div>
                </ng-audio-recorder>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="ps-sub-title">
                <h5>Language Details</h5>
            </div>
        </div>
    </div>
    <div class="row">
        <!-- email -->
        <div class="col-lg-12">
            <div class="form-group">
                <label >Language</label>
                <select class="select2_single form-control ps-form-controller" tabindex="-1"
                        aria-hidden="true"
                        required
                        name="language" ng-model="userLanguage.name" ng-change="onLanguageSelect(userLanguage)">
                    <option ng-repeat="language in orgData track by $index" value="{{language}}" >
                        {{language}}
                    </option>
                </select>

            </div>
        </div>

    </div>

    <div class="row" ng-show="userLanguage.name">
        <!-- email -->
        <div class="col-lg-12" style="color:lightgrey">
            <div style="padding-top:10px">
                <div class="col-lg-12 user-settings--greeting">
                    <div class="col-lg-8">
                        <div class="col-lg-7">
                            <span style="padding-right: 15px" >Default Greeting</span>
                        </div>

                        <div class="col-lg-5 user-settings--greeting-status">
                            <!--<uib-progressbar value="uploadProgress" type="warning">
                            </uib-progressbar>-->
                            <div class="user-settings--greeting-available" ng-if="CurrentProfile.user_meta.greetings[userLanguage.name].default && !uploadObj['default'] && UploadStatus[userLanguage.name]['default']">
                                Available
                            </div>
                                
                            <div class="user-settings--greeting-notavailable" ng-if="!CurrentProfile.user_meta.greetings[userLanguage.name].default && !uploadObj['default'] ">
                                Not Available
                            </div>
                            <div class="user-settings--greeting-failed" ng-if="!UploadStatus[userLanguage.name]['default']">
                                Failed
                            </div>
                            
                            <div class="user-settings--greeting-upload" ng-if="uploadObj['default']">
                                Uploading ...
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4" style="padding-right: 0;">
                        <div class="user-settings--greeting-buttons">
                            <div class="btn-greeting">
                                <div class="ps-p-upload edit-t-input-file-greeting">
                                    <i class="ti-upload pull-right  btn-template-primary btn-circle"></i>

                                    <input type="file"
                                            nv-file-select="" uploader="greetUploader"
                                            ng-click="clearGreetQueue('default')"
                                            ng-disabled="isGrtnUploading || !userLanguage.name || playObj['default']"
                                            class="edit-t-input-file-greeting"
                                            accept="audio/*">
                                </div>
                            </div>
                                
                            <div class="btn-greeting">
                                <div class="ps-p-upload edit-t-input-file-greeting">
                                    <i class="ti-trash pull-right  btn-template-primary btn-circle" ng-click="deleteAttachedGreeting('default')" ng-if="CurrentProfile.user_meta.greetings[userLanguage.name].default && UploadStatus[userLanguage.name]['default']"></i>
                                </div>
                            </div>
                            
                            <div class="btn-greeting">
                                <div class="ps-p-upload edit-t-input-file-greeting ">
                                    <i class="pull-right  btn-template-primary btn-circle"   ng-if="CurrentProfile.user_meta.greetings[userLanguage.name].default && UploadStatus[userLanguage.name]['default']" ng-click="playFile('default')" ng-class="{'ti-control-play':!playObj['default'],'ti-control-pause':playObj['default']}"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12 user-settings--greeting">
                    <div class="col-lg-8">
                        <div class="col-lg-7">
                            <span style="padding-right: 15px">Morning Greeting</span>
                        </div>
                        
                        <div class="col-lg-5 user-settings--greeting-status">
                            <div class="user-settings--greeting-available" ng-if="CurrentProfile.user_meta.greetings[userLanguage.name].morning && !uploadObj['morning'] && UploadStatus[userLanguage.name]['morning']">
                                Available
                            </div>
                            
                            <div class="user-settings--greeting-notavailable" ng-if="!CurrentProfile.user_meta.greetings[userLanguage.name].morning && !uploadObj['morning']">
                                Not Available
                            </div>
                            <div class="user-settings--greeting-failed" ng-if="!UploadStatus[userLanguage.name]['morning']">
                                Failed
                            </div>
                            
                            <div class="user-settings--greeting-upload" ng-if="uploadObj['morning']">
                                Uploading ...
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4" style="padding-right: 0;">
                        <div class="user-settings--greeting-buttons">
                            <div class="btn-greeting">
                                <div class="ps-p-upload edit-t-input-file-greeting">

                                    <i class="ti-upload  btn-template-primary btn-circle" ></i>

                                    <input type="file"
                                           nv-file-select="" uploader="greetUploader"
                                           ng-click="clearGreetQueue('morning')"
                                           ng-disabled="isGrtnUploading || !userLanguage.name || playObj['morning']"
                                           class="edit-t-input-file-greeting"
                                           accept="audio/*">
                                </div>
                            </div>

                            <div class="btn-greeting">
                                <div class="ps-p-upload edit-t-input-file-greeting">
                                    <i class="ti-trash  btn-template-primary btn-circle" ng-click="deleteAttachedGreeting('morning')" ng-if="CurrentProfile.user_meta.greetings[userLanguage.name].morning && UploadStatus[userLanguage.name]['morning']"></i>
                                </div>

                            </div>
                            <div class="btn-greeting">
                                <div class="ps-p-upload edit-t-input-file-greeting">
                                    <i class="pull-right  btn-template-primary btn-circle"   ng-if="CurrentProfile.user_meta.greetings[userLanguage.name].morning && UploadStatus[userLanguage.name]['morning']" ng-click="playFile('morning')" ng-class="{'ti-control-play':!playObj['morning'],'ti-control-pause':playObj['morning']}"></i>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-12 user-settings--greeting">
                        <div class="col-lg-8">
                            <div class="col-lg-7">
                                <span style="padding-right: 15px">Afternoon Greeting</span>
                            </div>
                            <div class="col-lg-5 user-settings--greeting-status">

                                <div class="user-settings--greeting-available" ng-if="CurrentProfile.user_meta.greetings[userLanguage.name].afternoon && !uploadObj['afternoon'] && UploadStatus[userLanguage.name]['afternoon']">
                                    Available
                                </div>
                                <div class="user-settings--greeting-notavailable" ng-if="!CurrentProfile.user_meta.greetings[userLanguage.name].afternoon && !uploadObj['afternoon']">
                                    Not Available
                                </div>
                                <div class="user-settings--greeting-failed" ng-if="!UploadStatus[userLanguage.name]['afternoon']">
                                    Failed
                                </div>
                                <div class="user-settings--greeting-upload" ng-if="uploadObj['afternoon']">
                                    Uploading ...
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-4" style="padding-right: 0;">
                            <div class="user-settings--greeting-buttons">
                                <div class="btn-greeting">
                                    <div class="ps-p-upload edit-t-input-file-greeting">

                                        <i class="ti-upload  btn-template-primary btn-circle" ></i>

                                        <input type="file"
                                               nv-file-select="" uploader="greetUploader"
                                               ng-click="clearGreetQueue('afternoon')"
                                               ng-disabled="isGrtnUploading || !userLanguage.name || playObj['afternoon']"
                                               class="edit-t-input-file-greeting"
                                               accept="audio/*">
                                    </div>
                                </div>

                                <div class="btn-greeting">
                                    <div class="ps-p-upload edit-t-input-file-greeting">
                                        <i class="ti-trash btn-template-primary btn-circle" ng-click="deleteAttachedGreeting('afternoon')" ng-if="CurrentProfile.user_meta.greetings[userLanguage.name].afternoon && UploadStatus[userLanguage.name]['afternoon']"></i>
                                    </div>

                                </div>
                                <div class="btn-greeting">
                                    <div class="ps-p-upload edit-t-input-file-greeting">
                                        <i class="pull-right  btn-template-primary btn-circle" ng-if="CurrentProfile.user_meta.greetings[userLanguage.name].afternoon && UploadStatus[userLanguage.name]['afternoon']"  ng-click="playFile('afternoon')" ng-class="{'ti-control-play':!playObj['afternoon'],'ti-control-pause':playObj['afternoon']}"></i>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12 user-settings--greeting">
                        <div class="col-lg-8">
                            <div class="col-lg-7">
                                <span style="padding-right: 15px">Evening Greeting</span>
                            </div>
                            <div class="col-lg-5 user-settings--greeting-status">

                                <div class="user-settings--greeting-available" ng-if="CurrentProfile.user_meta.greetings[userLanguage.name].evening && ! uploadObj['evening'] && UploadStatus[userLanguage.name]['evening']">
                                    Available
                                </div>
                                <div class="user-settings--greeting-notavailable" ng-if="!CurrentProfile.user_meta.greetings[userLanguage.name].evening && !uploadObj['evening']">
                                    Not Available
                                </div>
                                <div class="user-settings--greeting-failed" ng-if="!UploadStatus[userLanguage.name]['evening']">
                                   Failed
                                </div>
                                <div class="user-settings--greeting-upload" ng-if="uploadObj['evening']">
                                    Uploading ...
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-4" style="padding-right: 0;">
                            <div class="user-settings--greeting-buttons">
                                <div class="btn-greeting">
                                    <div class="ps-p-upload edit-t-input-file-greeting">

                                        <i class="ti-upload  btn-template-primary btn-circle"  ></i>

                                        <input type="file"
                                               nv-file-select="" uploader="greetUploader"
                                               ng-click="clearGreetQueue('evening')" ng-disabled="isGrtnUploading || !userLanguage.name || playObj['evening']"
                                               class="edit-t-input-file-greeting"
                                               accept="audio/*" >
                                    </div>
                                </div>

                                <div class="btn-greeting">
                                    <div class="ps-p-upload edit-t-input-file-greeting">
                                        <i class="ti-trash  btn-template-primary btn-circle" ng-click="deleteAttachedGreeting('evening')" ng-if="CurrentProfile.user_meta.greetings[userLanguage.name].evening && UploadStatus[userLanguage.name]['evening']"></i>
                                    </div>

                                </div>
                                <div class="btn-greeting">
                                    <div class="ps-p-upload edit-t-input-file-greeting">
                                        <i  ng-if="CurrentProfile.user_meta.greetings[userLanguage.name].evening && UploadStatus[userLanguage.name]['evening']" class="pull-right  btn-template-primary btn-circle"  ng-click="playFile('evening')" ng-class="{'ti-control-play':!playObj['evening'],'ti-control-pause':playObj['evening']}"></i>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-12" style="padding-top: 10px">
                        <button ng-click="updateUserMeta()" class="btn btn-ps-update pull-right" ng-disabled="isGrtnUploading || !isUserMetaChanged">
                            Save
                        </button>
                    </div>
                </div>
        </div>
    </div>









</form>




