<!--<form name="ratingFrm">
    &lt;!&ndash; e contact details &ndash;&gt;

    <div class="row">
        &lt;!&ndash; email &ndash;&gt;
        <div class="col-lg-12">
            <div class="form-group">
                <div class="mail_list_column sip-user-wrap"
                     ng-mouseover="viewScroll()"
                     ng-mouseleave="hideScroll()"
                     ng-slimscroll
                     height="200" opacity="0.2" distance="0px"
                     enabled="{{ scrollEnabled }}">

                    <div ng-repeat="(key,value) in sectionArray" ng-init="ratingData = RatingResultResolve(value)">
                        <h4>{{value.name}}</h4>
                        <span state-on="'fa fa-star'"
                              state-off="'fa fa-star-o'" uib-rating ng-model="ratingData.starValue" max="10"
                              read-only="true"
                              aria-labelledby="default-rating"> </span>
                        <span title="Rating : {{ratingData.displayValue}}></span>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <div style="border-bottom: groove;">

        <div>
            <div class="col-lg-12">
                <h3>Remarks</h3>
                <div class="mail_list_column sip-user-wrap"
                     ng-mouseover="viewScroll()"
                     ng-mouseleave="hideScroll()"
                     ng-slimscroll
                     height="250" opacity="0.2" distance="0px"
                     enabled="{{ scrollEnabled }}">
                    <div ng-repeat="remark in myRemarks">
                        <div>
                            <div>
                                <span style="font-size: small ; color: red">{{remark.evaluator}} </span>
                                <span >commented about</span>
                                <span style="color: darkorange">{{remark.section}}</span>

                                <p style=" padding-top: 5px">{{remark.remark}}</p>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>

</form>-->


<form name="ratingFrm">
    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <div class="mail_list_column sip-user-wrap"
                     ng-mouseover="viewScroll()"
                     ng-mouseleave="hideScroll()"
                     ng-slimscroll
                     height="200" opacity="0.2" distance="0px"
                     enabled="{{ scrollEnabled }}">

                    <div ng-repeat="(key,value) in sectionArray" ng-init="ratingData = RatingResultResolve(value)" style="margin-bottom: 20px">
                        <div title="{{ratingData.displayValue}}">
                            <h5>{{value.name}}</h5>
                            <span ng-init="SetTitiles(ratingData.displayValue)"
                                  uib-rating state-on="'fa fa-star'"
                                  state-off="'fa fa-star-o'"  ng-model="ratingData.starValue" max="10"
                                  read-only="true"
                                 titles= "titles"></span>
                        </div>
                    </div>



                </div>

            </div>


        </div>
    </div>

    <div class="clearfix" style="margin-top: 20px">
        <div>
            <h4 style="border-bottom: solid 1px #ddd;padding: 15px;margin: 0">Remarks</h4>
            <div class="col-lg-12">
                <div class="mail_list_column sip-user-wrap"
                     ng-mouseover="viewScroll()"
                     ng-mouseleave="hideScroll()"
                     ng-slimscroll
                     height="250" opacity="0.2" distance="0px"
                     enabled="{{ scrollEnabled }}">
                    <div ng-repeat="remark in myRemarks">
                        <div>
                            <div>
                                <span style="font-size: small ; color: #191dff">{{remark.evaluator}} </span>
                                <span>commented about</span>
                                <span style="color: darkorange">{{remark.section}}</span>

                                <p style="padding-top: 5px">{{remark.remark}}</p>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>


</form>


