<div class=" view-notification-d-wrapper" ng-if="showMesssageModal">
    <!-- notification send UI -->
    <div class="container">
        <div class="col-lg-offset-4 col-lg-4">
            <div class="notification-details-wrapper">
                <div id="uNotifiWrp" class="u-notification-wrp">
                    <div class="u-noti-h b-bottom animated" id="uNotiH ">
                        <div class="user-img">
                            <img src="assets/img/avatar/profileAvatar.png"
                                 ng-src="{{MessageObj.avatar}}">
                        </div>
                        <div class="agent-name">
                            {{MessageObj.from}}
                            <div class="chat-user-status">
                                <time-ago from-time='{{MessageObj.time}}'
                                          format='MM/dd/yyyy'></time-ago>
                            </div>

                        </div>

                        <div ng-if="MessageObj['ticket'] != null"
                             class="ticket-id" ng-click="oepnTicketOnNotification(MessageObj)">
                            Open ticket
                        </div>
                        <div ng-show="MessageObj.external_user"
                             class="ticket-id" ng-click="openUserProfile(MessageObj.external_user)">
                            Open profile
                        </div>


                    </div>
                    <!-- body -->


                    <div class="u-body notification-v">
                        <h4 style="padding-left: 10px"
                            ng-if="MessageObj.messageType.toLowerCase()=='notice' || MessageObj.messageType.toLowerCase()=='todo' ||  MessageObj.messageType.toLowerCase()=='invitation'">
                            {{MessageObj.title}}</h4>

                        <textarea disabled readonly ng-model="MessageObj.header" class="form-control" rows="6">
                </textarea>
                    </div>
                    <!-- footer -->
                    <div class="u-noti-footer ">
                        <div ng-hide="MessageObj.messageType.toLowerCase()=='invitation'">
                            <button class="btn btn-sm btn-sm-noti btn-green-op btn-min-w"
                                    ng-click="keepNotification()">
                                Keep
                            </button>
                            <button class="btn btn-sm btn-sm-noti btn-green-op btn-min-w"
                                    ng-click="addToTodo(MessageObj)" ng-if="MessageObj.messageType!='notice' "
                                    ng-disabled="MessageObj.messageType.toLowerCase()=='todo'">
                                Add to To-Do
                            </button>
                            <button class="btn btn-sm btn-sm-noti btn-red-0p btn-min-w"
                                    ng-click="discardNotification(MessageObj)">
                                Discard
                            </button>
                        </div>
                        <div ng-show="MessageObj.messageType.toLowerCase()=='invitation'">

                            <button class="btn btn-sm btn-sm-noti btn-green-op btn-min-w"
                                    ng-click="acceptInvitation(MessageObj)">
                                Accept
                            </button>
                            <button class="btn btn-sm btn-sm-noti btn-red-0p btn-min-w"
                                    ng-click="rejectInvitation(MessageObj)">
                                Ignore
                            </button>
                            <!--<button class="btn btn-sm btn-sm-noti btn-red-0p btn-min-w"
                                    ng-click="cancelInvitation(MessageObj)">
                                Cancel
                            </button>-->
                            <button class="btn btn-sm btn-sm-noti ssbtn-min-w"
                                    ng-click="keepNotification()">
                                Close
                            </button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>