<!--New profile and multiple profile view -->
<!--<div ng-show="showMultipleProfile">
    <div class="position-relative">
        <div class="animated fixed-model-opacity">
            <div class="container">
                <div class="col-lg-offset-2 col-lg-8 col-md-8 col-xs-8">
                    <div class="model-main-wrapper p-0">
                        &lt;!&ndash; MODEL HEADER &ndash;&gt;
                        <div class="model-header">
                            <div style="padding-top: 7px;" class="col-md-6">
                                <div class="mode-left-icon">
                                    <i class="veery-font-1-notepad"></i>
                                </div>
                                <div class="model-header-text">
                                    {{modelHeader}}
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 ">

                                <div class="model-btn-wrapper">
                                    <div ng-show="foundProfiles" class="btn-warp inline-btn"
                                         ng-click="multipleProfile.createNewProfile();">
                                        <span class="btn  btn-default">create new</span>
                                    </div>
                                    <div ng-show="!foundProfiles" class="btn-warp inline-btn"
                                         ng-click="multipleProfile.showProfiles();">
                                        <span class="btn  btn-default">back</span>
                                    </div>

                                    <div class="btn-warp inline-btn ">
                                    <span class="btn btn-default btn-close"
                                          ng-click="multipleProfile.closeProfile();">close</span>
                                    </div>
                                </div>
                            </div>
                        </div>&lt;!&ndash; END &ndash;&gt;
                        &lt;!&ndash; MODEL BODY &ndash;&gt;
                        <div class="model-body model-body-scroll">
                            &lt;!&ndash; MULTIPLE PROFILE &ndash;&gt;
                            <div ng-show="foundProfiles" class="col-lg-12">
                                <div class="prn2-multiple-wrapper">
                                    <div class="col-md-3">
                                        <div class="profile-multiple-wrap">
                                            <div class="pin-dote left"></div>
                                            <div class="pin-dote right"></div>
                                            <div class="profile-img-wrapper">
                                                <img src="assets/img/avatar/defaultProfile.jpg"
                                                     ng-src="assets/img/avatar/kurafire.jpg">
                                            </div>
                                            <div class="btn-profile-view">
                                                view
                                            </div>
                                            <div class="profile-body">
                                                <h5 class="bold">john amaratunga</h5>
                                                <small>0777888888</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            &lt;!&ndash; add new profile &ndash;&gt;
                            <div ng-show="showNewProfile" >
                                &lt;!&ndash; crate new profile &ndash;&gt;
                                <div class="col-lg-12">
                                    <div class="new-profile-wrapper">
                                        <div class="col-lg-3">
                                            <div class="profile-image-crop">
                                                <div>
                                                    <img ng-src="{{cropImageURL}}" src="assets/img/avatar/profile_img150x150.jpg">
                                                </div>
                                                <div class="image-edit">
                                                    <span class="btn-edit-img" ng-click="viewCropArea()">change image</span>
                                                </div>
                                            </div>

                                        </div>
                                        <form name="newProfileForm" novalidate>
                                            &lt;!&ndash; personal information &ndash;&gt;
                                            <div class="col-lg-12">
                                                <div class="text-header bold">
                                                    Personal Information
                                                </div>
                                                <div class="col-lg-4">
                                                    <div class="form-group">
                                                        <label for="FirstName">First Name</label>
                                                        <input type="text" class="form-control"  placeholder=""
                                                               ng-model="newProfile.firstname">
                                                    </div>
                                                </div>
                                                <div class="col-lg-4">
                                                    <div class="form-group">
                                                        <label for="street">Last Name</label>
                                                        <input type="text" class="form-control" id="street" placeholder=""
                                                               ng-model="newProfile.lastname">
                                                    </div>
                                                </div>
                                                <div class="col-lg-4">
                                                    <div class="form-group">
                                                        <label for="province">Locale</label>
                                                        <select class="form-control" ng-model="newProfile.locale">
                                                            <option ng-repeat="locale in languages" value="{{locale.code}}">
                                                                {{locale.name}}
                                                            </option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="col-lg-4">
                                                    <div class="form-group">
                                                        <label for="city">Nick Name</label>
                                                        <input type="text" class="form-control" id="city" placeholder="" ng-model="newProfile.name">
                                                    </div>
                                                </div>
                                                <div class="col-lg-8">
                                                    &lt;!&ndash; Birthday &ndash;&gt;
                                                    <label>Birthday</label>

                                                    <form class="form-inline">
                                                        <div class="form-group ">
                                                            <select class="form-control " ng-model="newProfile.dob.day">
                                                                <option value="" disabled selected>Select day</option>
                                                                <option ng-repeat="day in dayList" value="{{day}}">{{day}}</option>
                                                            </select>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="col-md-4">
                                                                <select class="form-control" ng-model="newProfile.dob.month">
                                                                    <option value="" disabled selected>Select month</option>
                                                                    <option ng-repeat="month in monthList" value="{{month.index}}">
                                                                        {{month.name}}
                                                                    </option>
                                                                </select>
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <select class="form-control" ng-model="newProfile.dob.year">
                                                                <option value="" disabled selected>Select year</option>
                                                                <option ng-repeat="y in yearList" value="{{y}}">
                                                                    {{y}}
                                                                </option>
                                                            </select>
                                                        </div>

                                                    </form>
                                                </div>
                                            </div>
                                            <div class="col-lg-12">

                                                <div class="col-lg-4">
                                                    <div class="form-group"
                                                         ng-class="{ 'has-error': userFormnew.phone.$invalid && userFormnew.phone.$dirty }">
                                                        <label for="phone" class="control-label">Phone Number*</label>
                                                        <input type="text" class="form-control" name="phone" ng-model="newProfile.phone"
                                                               id="phone" required placeholder="Phone Number"/>
                                                        <div class="help-block" ng-messages="userFormnew.phone.$error"
                                                             ng-if="userFormnew.phone.$touched">
                                                            <p ng-message="required">Phone Number is required.</p>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-lg-4">
                                                    <div class="form-group"
                                                         ng-class="{ 'has-error': userFormnew.Email.$invalid && userFormnew.Email.$dirty }">
                                                        <label for="Email" class="control-label">Phone Number*</label>
                                                        <input type="text" class="form-control" name="Email" ng-model="newProfile.email"
                                                               required placeholder="Email"/>
                                                        <div class="help-block" ng-messages="userFormnew.Email.$error"
                                                             ng-if="userFormnew.Email.$touched">
                                                            <p ng-message="required">Email is required.</p>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            &lt;!&ndash; contact information &ndash;&gt;
                                            <div class="col-md-12">
                                                <div class="text-header bold">
                                                    Veery Account Information
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="ZipCode">Contact Type</label>

                                                        <div class="form-group ">
                                                            <select class="form-control ">
                                                                <option value="" disabled selected>Select contact type</option>
                                                                <option>2</option>
                                                                <option>3</option>
                                                                <option>4</option>
                                                                <option>5</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="ZipCode">Link</label>
                                                        <input type="text" class="form-control" id="Link" placeholder="">
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="form-group">
                                                        <div class="add-cont">
                                                            <i class="ti-plus"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </form>
                                        <div class="model-footer-wrapper">
                                            <div class="model-btn-wrapper">
                                                <div class="btn-warp ">
                                <span ng-disabled="newProfileForm.$invalid" class="btn btn-default"
                                      ng-click="saveNewProfile(newProfile);"
                                        >Save</span>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>

                            &lt;!&ndash; model footer &ndash;&gt;
                            <div ng-show="showNewProfile" class="model-footer-wrapper">
                                <div class="model-btn-wrapper">
                                    <div class="btn-warp ">
                                        <span ng-disabled="userForm.$invalid"
                                              class="btn btn-default">Save</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->
<!-- end -->
