/*
  Flaticon icon font: Flaticon
  Creation date: 22/06/2016 15:35
  */

@font-face {
    font-family: "main-icon-4";
    src: url("main-icon-4.eot");
    src: url("main-icon-4.eot?#iefix") format("embedded-opentype"),
    url("main-icon-4.woff") format("woff"),
    url("main-icon-4.ttf") format("truetype"),
    url("main-icon-4.svg#main-icon-4") format("svg");
    font-weight: normal;
    font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    @font-face {
        font-family: "main-icon-4";
        src: url("main-icon-4.svg#Flaticon") format("svg");
    }
}

[class^="main-icon-4-"]:before, [class*=" main-icon-4-"]:before,
[class^="main-icon-4-"]:after, [class*=" main-icon-4-"]:after {
    font-family: "main-icon-4";
    font-size: 20px;
    font-style: normal;
    margin-left: 20px;
}

.main-icon-4-avatar:before {
    content: "\f100";
}

.main-icon-4-avatar-1:before {
    content: "\f101";
}

.main-icon-4-back:before {
    content: "\f102";
}

.main-icon-4-book:before {
    content: "\f103";
}

.main-icon-4-cancel:before {
    content: "\f104";
}

.main-icon-4-chat:before {
    content: "\f105";
}

.main-icon-4-chat-1:before {
    content: "\f106";
}

.main-icon-4-chat-2:before {
    content: "\f107";
}

.main-icon-4-copy:before {
    content: "\f108";
}

.main-icon-4-dislike:before {
    content: "\f109";
}

.main-icon-4-download:before {
    content: "\f10a";
}

.main-icon-4-download-1:before {
    content: "\f10b";
}

.main-icon-4-edit:before {
    content: "\f10c";
}

.main-icon-4-envelope:before {
    content: "\f10d";
}

.main-icon-4-folder:before {
    content: "\f10e";
}

.main-icon-4-garbage:before {
    content: "\f10f";
}

.main-icon-4-glasses:before {
    content: "\f110";
}

.main-icon-4-hand:before {
    content: "\f111";
}

.main-icon-4-headphones:before {
    content: "\f112";
}

.main-icon-4-heart:before {
    content: "\f113";
}

.main-icon-4-house:before {
    content: "\f114";
}

.main-icon-4-like:before {
    content: "\f115";
}

.main-icon-4-link:before {
    content: "\f116";
}

.main-icon-4-logout:before {
    content: "\f117";
}

.main-icon-4-magnifying-glass:before {
    content: "\f118";
}

.main-icon-4-monitor:before {
    content: "\f119";
}

.main-icon-4-musical-note:before {
    content: "\f11a";
}

.main-icon-4-next:before {
    content: "\f11b";
}

.main-icon-4-next-1:before {
    content: "\f11c";
}

.main-icon-4-padlock:before {
    content: "\f11d";
}

.main-icon-4-paper-plane:before {
    content: "\f11e";
}

.main-icon-4-phone-call:before {
    content: "\f11f";
}

.main-icon-4-photo-camera:before {
    content: "\f120";
}

.main-icon-4-pie-chart:before {
    content: "\f121";
}

.main-icon-4-piggy-bank:before {
    content: "\f122";
}

.main-icon-4-placeholder:before {
    content: "\f123";
}

.main-icon-4-printer:before {
    content: "\f124";
}

.main-icon-4-reload:before {
    content: "\f125";
}

.main-icon-4-settings:before {
    content: "\f126";
}

.main-icon-4-settings-1:before {
    content: "\f127";
}

.main-icon-4-share:before {
    content: "\f128";
}

.main-icon-4-shopping-bag:before {
    content: "\f129";
}

.main-icon-4-shopping-cart:before {
    content: "\f12a";
}

.main-icon-4-shuffle:before {
    content: "\f12b";
}

.main-icon-4-speaker:before {
    content: "\f12c";
}

.main-icon-4-star:before {
    content: "\f12d";
}

.main-icon-4-tag:before {
    content: "\f12e";
}

.main-icon-4-upload:before {
    content: "\f12f";
}

.main-icon-4-upload-1:before {
    content: "\f130";
}

.main-icon-4-vector:before {
    content: "\f131";
}